<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/useful_contacts/Useful-Contacts-for-Females.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block previous-link"
         (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>
      </a>
      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block w-condition-invisible"
         (click)="closeMenu()">
        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter {{CURRENT_CHAPTER}} {{chapter?.chapterTitle}}</div>
      </div>
      <div class="lede w-richtext" [innerHTML]="chapter?.story"></div>
      <div class="chaptercontent w-richtext" *ngIf="extendedSections">
        <div *ngFor="let section of extendedSections">
          <div class="section-header" [innerHTML]="section?.sectionTitle"></div>
          <div [innerHTML]="section?.story"></div>
          <div *ngIf="section.subsections">
            <div *ngFor="let subsection of section.subsections">
              <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
              <div [innerHTML]="subsection.story"></div>
              <br>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!--<div class="chaptercontent w-richtext">-->

           <!--The Masters of the High Court<br>-->
           <!--The Thusong Service Centres<br>-->
           <!--The Thuthuzela Care Centres<br>-->
           <!--Government Department Head Offices<br>-->
        <!--<br>-->
        <!--<div class="section-header">MASTER OF THE HIGH COURT</div>-->
        <!--<p>-->
          <!--The Master of the High Court serves the public regarding deceased estates, liquidations-->
          <!--(insolvent estates), registration of trusts, tutors and curators, as well as administration-->
          <!--of the Guardian’s Fund (protecting the funds of minors and mentally challenged people).-->
        <!--</p>-->
        <!--<table id="normal-table">-->
          <!--<tr>-->
              <!--<td>Bloemfontein</td>-->
              <!--<td>051 411 5500</td>-->
              <!--<td>Southern Life Building, cnr Charlotte-->
                <!--Maxeke (Maitland) and Aliwal streets,-->
                <!--Bloemfontein 9301</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Cape Town</td>-->
            <!--<td>021 410 8300</td>-->
            <!--<td>High Court, Parade Street, Cape Town-->
              <!--8001</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Durban</td>-->
            <!--<td>031 306 0123</td>-->
            <!--<td>2 Devonshire Place, 2nd Floor, Durban-->
              <!--4001</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Grahamstown</td>-->
            <!--<td>046 603 4000</td>-->
            <!--<td> 5 Bathurst Street, Grahamstown 6139</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Johannesburg 0</td>-->
            <!--<td>0011 429 8000-->
            <!--</td>-->
            <!--<td>Hollard Building, 66 Marshall Street-->
              <!--(cnr Sauer and Marshall sts),-->
              <!--Johannesburg 2000</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Kimberley</td>-->
            <!--<td>053 831 1942</td>-->
            <!--<td>Civic Centre, Sol Plaatjie Drive,-->
              <!--Kimberley 8300</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Mahikeng</td>-->
            <!--<td>018 381 8585</td>-->
            <!--<td>Justice Chambers, 44 Shippard-->
              <!--Street, Mahikeng 2745</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Mthatha</td>-->
            <!--<td>0047 531 2120</td>-->
            <!--<td>Holy Cross Building, 7 Craister Street,-->
              <!--Mthatha,5099</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Nelspruit </td>-->
            <!--<td>013 752 2755</td>-->
            <!--<td>3 Marloth and Russell Street,-->
              <!--Nelspruit 1200</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Pietermaritzburg</td>-->
            <!--<td>033 264 7000</td>-->
            <!--<td>Colonial Building, 241 Church Street,-->
              <!--Pietermaritzburg 3201</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Polokwane</td>-->
            <!--<td>015 230 6000</td>-->
            <!--<td>Polokwane High Court Building, 4th-->
              <!--Floor, Block B, cnr Bodenstein and-->
              <!--Biccard streets, Polokwane 0700</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Port Elizabeth</td>-->
            <!--<td>041 403 5100</td>-->
            <!--<td>523 Govan Mbeki Avenue (cnr-->
              <!--Crawford and Govan Mbeki Avenue),-->
              <!--North End, Port Elizabeth 6001</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Pretoria</td>-->
            <!--<td>012 339 7700</td>-->
            <!--<td>SALU Building, 316 Thabo Sehume-->
              <!--Street, Pretoria</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>Thohoyando</td>-->
            <!--<td>015 962 1032</td>-->
            <!--<td>Venda Government Building Complex,-->
              <!--Thohoyando 0950</td>-->
          <!--</tr>-->
        <!--</table>-->
      <!--</div>-->
    </div>

  </div>
</div>
