<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/useful_contacts/Useful-Contacts-for-Females.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#/plbbook/know-your-rights" class="bottomnav-links w-inline-block">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Know your rights</div>
      </a>
      <a href="#/plbbook/health" class="bottomnav-links cc-center w-inline-block w-condition-invisible">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Health</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Useful Contacts</div>
      </div>
      <div class="lede lede-emergencies">
        The following provide contact numbers and addresses for the following:
      </div>
      <div class="chaptercontent w-richtext">
        <ul>
          <li>The Masters of the High Court</li>
          <li>The Thusong Service Centres</li>
          <li>The Thuthuzela Care Centres</li>
          <li>Government Department Head Offices</li>
        </ul>

      </div>
    </div>

  </div>
</div>
