<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <a href="#" (click)="showMenu()" ><img src="assets/img/Logo_BlackBook.jpg"></a>
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
<!--      <a href="#/plbbook/how-to-use" class="bottomnav-links w-inline-block" (click)="closeMenu()">-->
<!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous</div>-->
<!--        <div class="bottomnav-chapter">How To Use This Book</div>-->
<!--      </a>-->
      <a href="#/plbbook/back-cover" class="bottomnav-links cc-center w-inline-block"
         (click)="closeMenu()">
        <div class="previous-next">Next<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">Back Cover</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">References</div>
      </div>
      <div class="lede w-richtext">
        <p>In compiling content for this publication, the following websites were used as sources
          and resources.</p>
        <hr />
        <p>
          <a href="http://money.cnn.com/magazines/moneymag/money101/lesson2/index.htm" target="_blank">
            10 Steps to Making a Financial Budget. Money Magazine</a>
        </p>
        <hr />
        <p>
          <a href="http://www.rd.com/health/wellness/10-ways-to-manage-stress/" target="_blank">
            10 ways to Manage Stress. Reader’s Digest</a>
        </p>
        <hr />
        <p>
          <a href="http://www.montrosefoundation.co.za/about-addiction.html" target="_blank">
            About Addiction. Montrose Foundation</a>
        </p>
        <hr />
        <p>
          <a href="http://www.diabetessa.co.za/AboutDiabetes.aspx?ContentID=8&CatID=3" target="_blank">
            About Diabetes. Diabetes South Africa</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labour.gov.za/find-more-info/all-about-sexual-harassment/" target="_blank">
            All About Sexual Harassment. Department of Labour</a>
        </p>
        <hr />
        <p>
          <a href="http://www.legal-aid.co.za/selfhelp/?p=152" target="_blank">
            Applying for a Social Grant. Legal Aid</a>
        </p>
        <hr />
        <p>
          <a href="http://www.globalasthmareport.org/resources/Global_Asthma_Report_2014.pdf" target="_blank">
            Asthma Research. 2014 Global Asthma Report</a>
        </p>
        <hr />
        <p>
          <a href="www.ginasthma.org" target="_blank">
            Asthma Statistics. Global Initiative for Asthma</a>
        </p>
        <hr />
        <p>
          <a href="http://www.southafrica.net/za/en/travel-tips/entry/travel-tip-banking-shopping-office-hours#.Ud_Ho1NSaPU" target="_blank">
            Banking, shopping, office hours. SouthAfrica.net</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labour.gov.za/legislation/acts/basic-guides/basic-guide-tomaternity-leave/" target="_blank">
            Basic Guide to Maternity Leave. Department of Labour</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labour.gov.za/DOL/legislation/acts/basic-guides/basic-guide-to-uifcontributions" target="_blank">
            Basic Guide to UIF Contributions. Department of Labour</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labourprotect.co.za/employee_tax.htm" target="_blank">
            Basic Principles of Income Tax. Labour Protect</a>
        </p>
        <hr />
        <p>
          <a href="http://www.healthsociety.co.za/article.asp?ID=74" target="_blank">
            Birth Control: Choosing a Method That’s Right For You. Health Society of South Africa</a>
        </p>
        <hr />
        <p>
          <a href="http://www.heartfoundation.co.za/blood-pressure" target="_blank">
            Blood Pressure. The Heart and Stroke Foundation South Africa</a>
        </p>
        <hr />
        <p>
          <a href="http://www.businessengage.co.za/links/business-links" target="_blank">
            Business Links. Business Engage</a>
        </p>
        <hr />
        <p>
          <a href="http://www.health24.com/Medical/Cancer" target="_blank">
            Cancer. Health24.</a>
        </p>
        <hr />
        <p>
          <a href="https://www.unicef.org/southafrica/SAF_publications_sexualabusehandbook.pdf" target="_blank">
            Child Sexual Abuse: A Handbook for Parents and Caregivers. The Teddy Bear Clinic and The Development, Research and Evaluation (CADRE)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.services.gov.za/services/content/Home/ServicesForPeople/Socialbenefits/childsupportgrant/en_ZA" target="_blank">
            Child Support Grant. South Africa Government Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.gov.za/services/child-care-social-benefits/child-support-grant" target="_blank">
            Child Support Grant. South African Government Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mywage.co.za/main/decent-work/social-security/unemployment/unemployment-benefits" target="_blank">
            Claim Unemployment Benefits in South Africa. MyWage.co.za</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labourguide.co.za/general/code-of-good-practice-on-sexual-harassment-600" target="_blank">
            Code of Good Practice on Sexual Harassment. The South African Labour Guide</a>
        </p>
        <hr />
        <p>
          <a href="http://www.health24.com/Medical/HIV-AIDS/About-HIV-AIDS/Dating-sex-and-HIV-what-can-you-do-and-what-cant-you-20120721" target="_blank">
            Dating, Sex and HIV – What can you do and what can’t you? Health24</a>
        </p>
        <hr />
        <p>
          <a href="http://diabetes.webmd.com/" target="_blank">
            Diabetes Health Center. WebMD.</a>
        </p>
        <hr />
        <p>
          <a href="http://www.kznhealth.gov.za/diabetes1.htm" target="_blank">
            Diabetes. KwaZulu-Natal Department of Health</a>
        </p>
        <hr />
        <p>
          <a href="http://www.familylawclinic.org.za/domesticviolence.html" target="_blank">
            Domestic Violence FAQ. Family Law Clinic</a>
        </p>
        <hr />
        <p>
          <a href="http://www.services.gov.za/services/content/Home/ServicesForPeople/Relationships/domesticviolence/protectionorder/en_ZA" target="_blank">
            Domestic Violence. South Africa Government Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.saps.gov.za/crime_prevention/women/domestic_violence.htm" target="_blank">
            [A] Domestic Violence. South African Police Services (SAPS)</a> <br />
          <a href="http://www.dsbd.gov.za/index.htm">[B] Domestic Violence. South African Police Services (SAPS)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.wikihow.com/Dress-for-Success-as-a-Woman" target="_blank">
            Dress for Success as a Woman. WikiHow</a>
        </p>
        <hr />
        <p>
          <a href="http://www.helpguide.org/mental/elder_abuse_physical_emotional_sexual_neglect.htm" target="_blank">
            Elder Abuse & Neglect. Help Guide</a>
        </p>
        <hr />
        <p>
          <a href="http://www.heartandstroke.com/atf/cf/%7B99452d8b-e7f1-4bd6-a57d-b136ce6c95bf%7D/emergency-signs-actions-for-life-en.pdf" target="_blank">
            Emergency signs and actions- for life. Heart and Stroke Foundation</a>
        </p>
        <hr />
        <p>
          <a href="http://www.education.gov.za/Parents/Childregistration/tabid/407/Default.aspx" target="_blank">
            Enrolling Your Child at School. Department of Basic Education</a>
        </p>
        <hr />
        <p>
          <a href="https://www.youtube.com/watch?v=tp36hiOgZCw&list=PLFFC185E0E3950CD9" target="_blank">
            Fact Sheet on Cancer. Cancer Association of South Africa (CANSA)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.meumannwhite.co.za/family-law/" target="_blank">
            Family Law. Meumann White Attorneys</a>
        </p>
        <hr />
        <p>
          <a href="http://www.info.gov.za/issues/jobs/index.html" target="_blank">
            Finding a Job. South African Government Information</a>
        </p>
        <hr />
        <p>
          <a href="http://www.westerncape.gov.za/eng/directories/services/11494/6342" target="_blank">
            Geriatric Care. Western Cape Government</a>
        </p>
        <hr />
        <p>
          <a href="http://www.cdc.gov/tb/publications/pamphlets/tb_disease_en_rev.pdf" target="_blank">
            Get the facts about TB, Tuberculosis Disease. Center for Disease Control and Prevention</a>
        </p>
        <hr />
        <p>
          <a href="http://www.sanlam.co.za/wps/wcm/connect/Sanlam_EN/sanlam/media+centre/media+releases/getting+to+grips+with+your+payslip" target="_blank">
            Getting to Grip with your Payslip. Sanlam</a>
        </p>
        <hr />
        <p>
          <a href="http://www.aidsmap.com/HIV-women/page/1550301/" target="_blank">
            HIV and Women. NAM</a>
        </p>
        <hr />
        <p>
          <a href="http://www.cdc.gov/actagainstaids/basics/prevention.html" target="_blank">
            How do you prevent HIV? Act against AIDS</a>
        </p>
        <hr />
        <p>
          <a href="http://www.parent24.com/Toddler_1-2/care_nutrition/How-much-maintenance-20100422" target="_blank">
            How Much Maintenance? Parent 24</a>
        </p>
        <hr />
        <p>
          <a href="http://www.entrepreneur.com/article/207488" target="_blank">
            How to Become Your Own Boss. Entrepreneur Magazine</a>
        </p>
        <hr />
        <p>
          <a href="http://www.arrivealive.co.za/pages.aspx?i=2709" target="_blank">
            How to handle an emergency. Arrive Alive</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mywage.co.za/main/work-smart/job-search/interviewfolder" target="_blank">
            How to Prepare for an Interview. MyWage.co.za</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mowcs-sa.org/316/" target="_blank">
            Identifying Elder Abuse: Know It-Understand It- Report It. Meals on Wheels Community Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.wlce.co.za/morph_assets/themelets/explorer/relationship%20rights/general/WLC%20Inheritance%20ENG%20web.pdf" target="_blank">
            Inheriting Property Guide. Women’s Legal Centre</a>
        </p>
        <hr />
        <p>
          <a href="http://www.youve-earned-it.co.za/premium_pages/know-the-warning-signs-heart-attacks/" target="_blank">
            Know the Warning Signs. YE</a>
        </p>
        <hr />
        <p>
          <a href="http://www.southafrica.info/services/rights/land-010714.htm#.V48unDXb2yy" target="_blank">
            Land Claims Processes. South Africa Info</a>
        </p>
        <hr />
        <p>
          <a href="http://onesocietyinitiative.org/Law-Clinics/" target="_blank">
            Law Clinics in South Africa. One Society Initiative</a>
        </p>
        <hr />
        <p>
          <a href="http://www.cdc.gov/features/tbsymptoms/" target="_blank">
            Learn the Signs and Symptoms of TB Disease. Center for Disease Control and Prevention</a>
        </p>
        <hr />
        <p>
          <a href="http://www.services.gov.za/services/content/Home/ServicesForPeople/Parenting/Maintenanceorder/applicationformaintenanceorder/en_ZA" target="_blank">
            Maintenance Order. South Africa Government Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.wlce.co.za/morph_assets/themelets/explorer/relationship%20rights/general/WLC%20Relationship%20ENG%20web.pdf" target="_blank">
            Marriage and Relationships Guide. Women’s Legal Centre</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mywage.co.za/main/women-and-work/maternity-leave-and-your-salary" target="_blank">
            Maternity Leave and Your Salary. My Wage.co.za</a>
        </p>
        <hr />
        <p>
          <a href="http://www.safmh.org.za/health.htm" target="_blank">
            Mental Well-being. SA Federation for Mental Health</a>
        </p>
        <hr />
        <p>
          <a href="http://mg.co.za/article/2012-02-17-mzansi-accounts-reach-dead-end" target="_blank">
            Mzansi Accounts Reach Dead-End. Mail & Guardian</a>
        </p>
        <hr />
        <p>
          <a href="http://www.info.gov.za/aboutgovt/dept.htm" target="_blank">
            National Departments</a>
        </p>
        <hr />
        <p>
          <a href="http://www.info.gov.za/view/DownloadFileAction?id=67839" target="_blank">
            Older Persons Act. South Africa Government Online</a>
        </p>
        <hr />
        <p>
          <a href="http://www.wits.ac.za/prospective/international/financialinfo/11394/opening_a_bank_account.html" target="_blank">
            Opening a Bank Account. University of the Witwatersrand</a>
        </p>
        <hr />
        <p>
          <a href="http://www.intouchparenting.co.za/index.php?id=781&submenu=1235" target="_blank">
            Parenting. InTouchParenting</a>
        </p>
        <hr />
        <p>
          <a href="http://www.justice.gov.za/vc/docs/policy/Patient%20Rights%20Charter.pdf" target="_blank">
            Patients’ Rights Charter. Department of Justice and Constitutional Development</a>
        </p>
        <hr />
        <p>
          <a href="http://www.labourguide.co.za/general/pension-and-provident-funds-499" target="_blank">
            Pension and Provident Funds. The South African Labour Guide</a>
        </p>
        <hr />
        <p>
          <a href="http://www.sars.gov.za/TaxTypes/PIT/Pages/default.aspx" target="_blank">
            Personal Income Tax. South African Revenue Services (SARS)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.pndsa.org.za/pnd-explained" target="_blank">
            PND Explained. Post Natal Depression Support Association</a>
        </p>
        <hr />
        <p>
          <a href="http://www.sadag.org/?option=com_content&task=emailform&id=174&itemid=93" target="_blank">
            PostPartum Depression. The South African Depression and Anxiety Group</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mariestopes.org.za/services/safe-sex" target="_blank">
            Practice Safe Sex. Marie Stopes</a>
        </p>
        <hr />
        <p>
          <a href="http://www.fin24.com/Money/Money-Clinic/Property/Qualifying-for-a-government-housing-subsidy-20140113" target="_blank">
            Qualifying for a Government Housing Subsidy. FIN24</a>
        </p>
        <hr />
        <p>
          <a href="http://leadsa.co.za/wp-content/themes/urbannews/downloads/Viva-Rape-Response-Booklet-Final1.pdf" target="_blank">
            Rape Response. Lead SA</a>
        </p>
        <hr />
        <p>
          <a href="http://www.services.gov.za/services/content/Home/ServicesForPeople/Birth/Childcare/GiveNoticeofabirth/en_ZA" target="_blank">
            Register birth. South Africa Government Services</a>
        </p>
        <hr />
        <p>
          <a href="http://www.savingsinstitute.co.za/" target="_blank">
            Saving Tips. South African Savings Institute</a>
        </p>
        <hr />
        <p>
          <a href="http://mg.co.za/article/2014-08-07-seven-facts-about-the-restitution-of-land-rights-act" target="_blank">
            Seven Facts About the Restitution of Land Rights Act. Mail & Guardian</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mywage.co.za/main/women-and-work/sexual-harassment-1" target="_blank">
            Sexual Harassment Laws in South Africa. MyWage.co.za</a>
        </p>
        <hr />
        <p>
          <a href="http://www.etu.org.za/toolbox/docs/government/sbd.html" target="_blank">
            Small Business Development. Education and Training Unit (ITU)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.sassa.gov.za/index.php/social-grants" target="_blank">
            South African Social Grants. SASSA</a>
        </p>
        <hr />
        <p>
          <a href="https://en.wikipedia.org/wiki/List_of_universities_in_South_Africa" target="_blank">
            South African Universities. Wikipedia</a>
        </p>
        <hr />
        <p>
          <a href="http://strokeassociation.org/STROKEORG/WarningSigns/Stroke-Warning-Signs-and-Symptoms_UCM_308528_SubHomePage.jsp" target="_blank">
            Spot a Stroke. Stroke Association</a>
        </p>
        <hr />
        <p>
          <a href="http://www.arrivealive.co.za/pages.aspx?i=1148" target="_blank">
            STIs and HIV. Arrive Alive</a>
        </p>
        <hr />
        <p>
          <a href="http://all4women.co.za/love-and-relationships/relationship-articles/stop-domestic-violence.html" target="_blank">
            Stop Domestic Violence. All 4 Women</a>
        </p>
        <hr />
        <p>
          <a href="http://blogs.sun.ac.za/mhic/files/2011/09/Substance-abuse-and-Dependence.pdf" target="_blank">
            Substance Abuse and Dependence. Mental Health Information Centre</a>
        </p>
        <hr />
        <p>
          <a href="http://www.aids.org.za/testing-and-treatment/" target="_blank">
            Testing and Treatment. AIDS Foundation South Africa.</a>
        </p>
        <hr />
        <p>
          <a href="http://www.mywage.co.za/main/work-smart/job-search/cvfolder" target="_blank">
            Tips on Resume or CV Writing Skills. MyWage.co.za</a>
        </p>
        <hr />
        <p>
          <a href="http://observer.gm/africa/gambia/article/tuberculosis-tips-and-precautions" target="_blank">
            Tuberculosis: Tips and Precautions. Daily Observer</a>
        </p>
        <hr />
        <p>
          <a href="http://www.fetcolleges.co.za/" target="_blank">
            TVET Colleges. The Official DHET TVET Colleges site</a>
        </p>
        <hr />
        <p>
          <a href="http://www.sassa.gov.za/ABOUT-SOCIAL-GRANTS/TYPES-OF-GRANTS-644.aspx" target="_blank">
            Types of Grants. South African Social Security Agency</a><br />
        </p>
        <hr />
        <p>
          <a href="http://www.labour.gov.za/DOL/legislation/acts/basic-guides/basic-guide-to-uif-contributions" target="_blank">
            Unemployment Insurance Fund. South African Revenue Service (SARS)</a>
        </p>
        <hr />
        <p>
          <a href="http://www.universitiessa.ac.za/public-universities-south-africa" target="_blank">
            Universities. Universities South Africa</a>
        </p>
        <hr />
        <p>
          <a href="http://aac.org.za/2010/05/28/addiction/" target="_blank">
            What is Addiction? Addiction Action Campaign</a>
        </p>
        <hr />
        <p>
          <a href="http://www.hypertension.org.za/content/patients-corner" target="_blank">
            What is Hypertension? Southern African Hypertension Society</a>
        </p>
        <hr />
        <p>
          <a href="http://www.anger.co.za/index.php?option=com_content&view=article&id=2&Itemid=34" target="_blank">
            What is stress. The Anger and Stress Management of South Africa</a>
        </p>
        <hr />
        <p>
          <a href="http://rapecrisis.org.za/information-for-survivors/what-to-do-if-you-were-raped/" target="_blank">
            What to do if you were raped. Rape Crisis Cape Town Trust</a>
        </p>
        <hr />
        <p>
          <a href="http://aids.gov/hiv-aids-basics/prevention/reduce-your-risk/mixed-status-couples/" target="_blank">
            When one partner is HIV+. Aids.gov</a>
        </p>
        <hr />
        <p>
          <a href="http://apf.org.za/spip.php?article151" target="_blank">
            Your Rights: The Gathering Act, Arrests and Courts Processes. Anti Privatisation Forum</a>
        </p>
        <hr />
      </div>
    </div>

    <a href="#/plbbook/back-cover" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next</div>
      <div class="bottomnav-chapter">Back Cover</div>
    </a>
  </div>
</div>
