<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 5 - Women in the Workplace</div>
      </div>
      <div>
        <div class="section-header">Job interviews</div>
        <div>
          <p>Job interviews can make job-seekers very nervous. The key to a successful job interview is to prepare
            well:</p>

          <ul>
            <li>Research the company: If you can, find out what the company does (products and services), if they have
              branches in other regions and who their main clients are.
            </li>
            <li>Dress appropriately: Whether we like it or not, our first physical impression counts. Dress smartly and
              neatly.
            </li>
            <li>Be on time for the interview: In fact, arrive early, as this will help you calm down before you go in.
              If you live in a busy area, allow for possible traffic delays – even if you have a genuine reason for
              being late, it will still create a bad impression.
            </li>
            <li>Show a positive attitude: Employers like positive people; nobody likes to employ miserable people or
              complainers.
            </li>
            <li>Know the description of the position: Find out all you can about the job you’re applying for.</li>
            <li>Be ready to answer questions: You will be asked about your previous jobs, your likes and dislikes, your
              strengths and weaknesses, your goals, etc. Have these answers prepared before the interview.
            </li>
            <li>Ask questions: It shows that you’re interested in the job. Find out about working hours, annual leave,
              and any legal responsibilities and rights.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
