<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 5 - Women in the Workplace</div>
      </div>
      <div>
        <div class="section-header">Finding a job</div>
        <div>
          <p>Looking for a job can be exciting – but also stressful. It can take a while to find employment that suits
            your financial needs, your skills and your geographical area, so you need to accept from the beginning that
            you’re going to have to invest time and energy in the process.</p>

          <p>First steps to finding a job:</p>

          <ul>
            <li>Identify what you are good at.</li>
            <li>Prepare a CV (curriculum vitae).</li>
            <li>Read the jobs section of daily and community newspapers.</li>
            <li>Visit employment agencies or place your CV on a job website.</li>
            <li>Ask your friends and family to keep their ears and eyes open for possible employment opportunities.</li>
            <li>Approach the HR department of companies you would like to work for.</li>
            <li>Be open-minded – explore all options.</li>
            <li>Consider internships or volunteering opportunities in your field of interest so you can gain valuable
              experience.
            </li>
            <li>Don’t give up!</li>
          </ul>

          <table cellpadding="1" cellspacing="1" style="width:500px">
            <thead>
            <tr>
              <th scope="col">Know your rights and benefits</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Take the time to read your organisation’s code of conduct, as well as your employment contract. These
                outline your rights at work, and should be in line with South Africa’s labour laws. You should also know
                if you qualify for any benefits, such as medical aid, pension, childcare, education or training.
              </td>
            </tr>
            </tbody>
          </table>

          <p>&nbsp;</p>

          <table cellpadding="1" cellspacing="1" style="width:500px">
            <tbody>
            <tr>
              <td>
                <p>Beware of scams</p>

                <p>Some job offers sound like easy money but turn out to be a trick to get money out of you. If it seems
                  ‘too good to be true’, it probably is! Don’t fall for ‘job offers’ that ask you to pay any money
                  upfront.</p>
              </td>
            </tr>
            </tbody>
          </table>

          <p>&nbsp;</p>

          <p><strong>National Qualification Framework (NQF) and Career Development Services Helpline (for info on career,
            qualifications and educational providers)</strong><br>
            <a href="tel:0860111673"><strong>0860 11 16 73</strong></a></p>

          <hr>
          <p><strong>Department of Labour (labour centres)</strong><br>
            <a href="tel:0860105350"><strong>0860 10 53 50</strong></a><strong> </strong><a
              href="http://www.labour.gov.za/DOL/contacts">www.labour.gov.za/DOL/contacts</a></p>

          <hr>
          <p><strong>GoStudy </strong><a href="tel:0215553928"><strong>021 555 3928</strong></a> <a
            href="http://www.sa.gostudy.info/">www.sa.gostudy.info/</a></p>

          <hr>
          <p><strong>National Youth Development Agency </strong><a href="tel:0800525252"><strong>0800 52 5252</strong></a>
            <a href="http://www.nyda.gov.za">www.nyda.gov.za</a></p>

          <hr>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
