<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 2 - Health</div>
      </div>
      <div>
        <div class="section-header">Anaemia</div>
        <div>
          <div>
            <p>Anaemia is a medical condition where you have fewer red blood cells than normal, or you have less
              haemoglobin in each red blood cell than normal. This results in reduced amounts of oxygen being carried in
              the blood. Doctors may sometimes explain anaemia to patients as ‘weak blood’.</p>
          </div>

          <div>
            <p>Warning signs and symptoms of anaemia:</p>

            <p>Most people with anaemia may not know it because they may not have any symptoms.</p>

            <ul>
              <li>Breathlessness when exerting little effort.</li>
              <li>A fast heartbeat or palpitations.</li>
              <li>Tiredness or feeling weak.</li>
              <li>Dizzy spells.</li>
              <li>Lethargy or low energy levels.</li>
            </ul>
          </div>

          <div>
            <p><strong>WHAT CAUSES ANAEMIA?</strong></p>

            <p>There are many causes of anaemia, but the most common cause of anaemia in women is iron deficiency. Low
              intake of iron in the diet, poor absorption in the gut (intestines), or loss of iron from bleeding are
              common causes of iron deficiency anaemia. Most women suffer from iron deficiency for the following
              reasons:</p>

            <ul>
              <li>Pregnancy.</li>
              <li>Heavy menstrual bleeding.</li>
              <li>Bleeding from the gut due to ulcers or other intestinal diseases.</li>
              <li>A diet that doesn't have enough iron in it, such as vegetarian or vegan diets.</li>
            </ul>
          </div>

          <div>
            <p>Prevention and treatment:</p>

            <ul>
              <li>Take iron supplements before and during pregnancy as directed by your doctor.</li>
              <li>Report abnormal menstrual periods to your doctor (heavy bleeding with clots, or for more than 7 days in
                a month).
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
