<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 6 - Finance & Banking</div>
      </div>
      <div class="section-header">Banking</div>
      <div>
        <div>
          <div>
            <p>There are two kinds of financial institutions in South Africa:</p>

            <ul>
              <li>The formal sector is dominated by big commercial banks, and smaller financial institutions, such as Postbank, and savings and credit cooperatives.</li>
              <li>Informal banking options include unlicenced moneylenders, burial societies, rotating saving and credit associations (ROSCAs) and stockvels, which mainly provide financial services to people without access to bank accounts in both rural and urban areas.</li>
            </ul>
          </div>
        </div>
        <div _ngcontent-imd-c0="" class="subsection-header">Products and services offered by banks</div><div _ngcontent-imd-c0=""><div>
        <p>All commercial banks offer a wide range of services and products, including different types of accounts, investments opportunities, loans, insurance, overdraft facilities, revolving credits, as well as self-service banking such as telephone banking, internet banking and ATMs. There are branches throughout South Africa where you can also get assistance in person.</p>
      </div>

        <div>
          <p>Before committing to a particular bank, do some research. Look at the products and services the bank is offering and assess if they meet your needs in terms of monthly fees, interest rates and customer service.</p>
        </div>

        <div>
          <p>With advances in technology, you don’t have to visit a branch to do your day-to-day banking. You can perform transactions via the following channels at any time of the day:</p>

          <ul>
            <li>
              <p><strong>ATM banking: </strong>ATMs (or automated teller machines) offer the option to perform financial transactions without entering a branch. Most banks have a national network of ATMs for easy access to your bank account.</p>
            </li>
            <li>
              <p><strong>Cellphone banking:</strong>You can perform a range of transactions safely through a dial-up session on your cellphone. Some banks also have smartphone applications (‘apps’) that you can download and use on your cellphone.</p>
            </li>
            <li>
              <p><strong>Telephone banking:</strong>You can do your banking over the telephone. Most banks offer this service 24 hours a day, and you can choose between the voice- recording option (self-help) or speaking to a consultant directly.</p>
            </li>
            <li>
              <p><strong>Internet banking:</strong>You can log in to your bank account via your bank’s secure website to manage your money online.</p>
            </li>
          </ul>
        </div>

        <div><img alt="Wallet" src="assets/img/finance_banking/Wallet.png"></div>
      </div><br _ngcontent-imd-c0=""></div><div _ngcontent-imd-c0="" class="ng-star-inserted"><div _ngcontent-imd-c0="" class="subsection-header">Opening a bank account</div><div _ngcontent-imd-c0=""><div>
      <p>There are many different types of accounts offered by banks in South Africa. These include the following:</p>

      <ul>
        <li>Access or saving accounts.</li>
        <li>Cheque or current accounts.</li>
        <li>Mzansi accounts.</li>
        <li>Money market or investment accounts.</li>
      </ul>
    </div>

      <div>
        <p>Which account you choose will depend on your financial situation – whether you have a job or regular income, and what your current and future needs are likely to be.</p>
      </div>

      <div>
        <p>To open most bank accounts, you’ll need the following:</p>

        <ul>
          <li>Some money as an opening deposit.</li>
          <li>Your green barcoded South African identity document or the new smart identity card.</li>
          <li>Proof of residence: This could be a lease (if you’re renting), or a recent electricity or phone bill that has your name and physical address on it. If you are living with someone who owns or rents the home, you will need him/her to confirm in writing that you live together. He/she will also need to provide his/her ID number and proof of residence.</li>
        </ul>
      </div>

      <div>
        <p>For non-South African citizens, you’ll need:</p>

        <ul>
          <li>A valid passport.</li>
          <li>Proof of residence.</li>
          <li>Work permit.</li>
          <li>Employment contract.</li>
        </ul>
      </div>

      <div>
        <div><strong>Different types of bank accounts</strong></div>

        <div>
          <p>Your chosen bank should be able to advise you on the different types of bank accounts they offer. All banks should offer the following options:</p>

          <ul>
            <li>
              <p><strong>Cheque or current account:</strong>Ideal if you are earning income each month and need to make regular transactions, such as paying bills and withdrawing money. You may also be offered an overdraft facility, which is a loan offered by the bank each month if your expenses are more than your income. You will be charged interest fees on this amount.</p>
            </li>
            <li>
              <p><strong>Savings account:</strong>This account is perfect for people looking to invest money and save. The bank may charge you more than a current account to make transactions, so if you have a lot of transactions each month, a savings account may not be the most cost-effective option for you. There are also different types of savings accounts. Some allow you immediate access to your money, while others, like a 32-day notice account, offer more interest on savings but require you to request your money from the bank in advance.</p>
            </li>
          </ul>
        </div>

        <div><img alt="Bank-Card" src="assets/img/finance_banking/Bank-Card.png"></div>
      </div>
    </div><br _ngcontent-imd-c0="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
