<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 - Know your rights</div>
      </div>
      <div class="section-header">LEGAL CENTRES AND CLINICS</div>
      <div>
        <div _ngcontent-imd-c10=""><div>
          <div>
            <p>Legal centres offer information and support of various kinds, particularly to those who are unable to afford a lawyer’s fees.</p>

            <hr>
            <p><strong>Legal Aid:</strong></p>
          </div>

          <div>
            <p><strong>Provides legal representation and access to justice for the poor.<br>
              <a href="tel:0800110110">0800 110 110</a> or <a href="http://www.legal-aid.co.za/"> www.legal-aid.co.za</a></strong></p>

            <hr>
            <p>Legal Resources Centre:</p>
          </div>

          <div>
            <p><strong>Provides legal aid for the disadvantaged.<br>
              <a href="tel:0118369831">011 836 9831</a> or <a href="http://lrc.org.za/"> www.lrc.org.za</a></strong></p>

            <hr>
            <p><strong>Nicro:</strong></p>
          </div>

          <div>
            <p><strong>Provides services to adults and children in conflict with the law.<br>
              <a href="tel:0214620017">021 462 0017</a> or <a href="http://www.nicro.org.za/"> www.nicro.org.za</a></strong></p>

            <hr>
            <p><strong>Tshwaranang Legal Advocacy Centre:</strong></p>
          </div>

          <div>
            <p><strong>Provides free legal services to women.<br>
              <a href="tel:0114034267">011 403 4267</a> or <a href="http://www.tlac.org.za/"> www.tlac.org.za</a></strong></p>

            <hr>
            <p><strong>Women’s Legal Centre:</strong></p>
          </div>

          <div>
            <p><strong>Provides legal advice via phone or email; aims to advance women’s struggle for equality.<br>
              <a href="tel:0214245660">021 424 5660</a> (CT) or <a href="tel:0113391099">011 339 1099</a> (JHB) or <a href="http://www.wlce.co.za/"> www.wlce.co.za</a></strong></p>

            <hr>
            <p><strong>Legal aid clinics based at universities provide legal advice and support to members of the public, especially members of poor and/or marginalised communities:</strong></p>
          </div>
        </div>

          <div>
            <p><strong>GAUTENG</strong></p>

            <hr>
            <div><strong>University of Johannesburg law clinic</strong></div>

            <div><strong><a href="tel:0115592633">011 559 2633</a></strong></div>

            <hr>
            <div><strong>University of Pretoria law clinic</strong></div>

            <div><strong><a href="tel:0124204155">012 420 4155</a></strong></div>

            <hr>
            <div><strong>University of the Witwatersrand law clinic</strong></div>

            <div><strong><a href="tel:0117178562">011 717 8562</a></strong></div>

            <hr>
            <div><strong>University of South Africa law clinic</strong></div>

            <div><strong><a href="tel:0124294838">012 429 4838</a>/<a href="tel:0124294848">4848</a></strong></div>

            <hr></div>

          <p>&nbsp;</p>

          <div>
            <p><strong>FREE STATE</strong></p>

            <hr>
            <div><strong>University of the Free State law clinic</strong></div>

            <div><strong><a href="tel:0514019970">051 401 9970</a></strong></div>

            <hr></div>

          <p>&nbsp;</p>

          <p><strong>NORTH WEST</strong></p>

          <div>
            <hr>
            <div><strong>University of the North West law clinic (Potchefstroom campus)</strong></div>

            <div><strong><a href="tel:0182975341">018 297 5341</a>/<a href="tel:0182975983">5983</a></strong></div>

            <hr></div>

          <p>&nbsp;</p>

          <p><strong>KWAZULU-NATAL</strong></p>

          <div>
            <hr>
            <div><strong>University of KwaZulu-Natal law clinic</strong>

              <ul>
                <li><strong>Durban</strong></li>
                <li><strong>Pietermaritzburg</strong></li>
              </ul>
            </div>

            <div><strong><a href="tel:0312602446">031 260 2446</a>/<a href="tel:0332606257">033 260 6257</a></strong></div>

            <hr></div>

          <div><strong>University of Zululand law clinic</strong></div>

          <div><strong><a href="tel:0359026011">035 902 6011</a></strong></div>

          <hr>
          <p>&nbsp;</p>

          <p><strong>LIMPOPO</strong></p>

          <div>
            <hr>
            <div><strong>University of Limpopo law clinic</strong></div>

            <div><strong><a href="tel:0152682506">015 268 2506</a></strong></div>

            <hr></div>

          <div><strong>University of Venda law clinic</strong></div>

          <div><strong><a href="tel:0159628637">015 962 8637</a></strong></div>

          <hr>
          <p>&nbsp;</p>

          <div>
            <p><strong>WESTERN CAPE</strong></p>

            <hr>
            <div><strong>University of Cape Town law clinic</strong></div>

            <div><strong><a href="tel:0216503775">021 650 3775</a></strong></div>

            <hr></div>

          <div><strong>University of the Western Cape law clinic</strong></div>

          <div><strong><a href="tel:0219592756">021 959 2756</a></strong></div>

          <hr>
          <div><strong>University of Stellenbosch law clinic</strong></div>

          <div><strong><a href="tel:0218083432">021 808 3432</a></strong></div>

          <hr>
          <p>&nbsp;</p>

          <div>
            <p><strong>EASTERN CAPE</strong></p>

            <hr>
            <div><strong>Nelson Mandela Metropolitan University law clinic</strong></div>

            <div><strong><a href="tel:0415041273">041 504 1273</a></strong></div>

            <hr></div>

          <div><strong>Rhodes University law clinic</strong></div>

          <div><strong><a href="tel:0466229301">046 622 9301</a></strong></div>

          <hr>
          <div><strong>University of Fort Hare law clinic</strong></div>

          <div><strong><a href="tel:0437047366">043 704 7366</a></strong></div>

          <hr></div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
