<app-menu></app-menu>
<div class="fullscreen">
  <div class="leftside" style="background-image:url()">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a class="logoblock w-inline-block" href="http://motsepefoundation.org/" target="_blank">
            <img alt="" class="logo" src="assets/img/Motsepe-Foundation.png"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a (click)="showMenu()" class="allchapters" data-ix="view-chapters" href="#">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 6 - Finance & Banking</div>
      </div>
      <div>
        <div class="section-header">Savings</div>
        <div>
          <div>
            <div>
              <p>Savings are a portion of income or money put aside after you’ve paid all your expenses. You should try to
                save money to pay for unexpected events or emergencies such as a leaky roof, a car breakdown, a medical
                emergency or a sudden loss of income. You should try to save about 10% of your monthly income. You should
                also try to save for your children’s education and for your own retirement.</p>
            </div>

            <div>
              <p>Without money put away in savings and/or investments, you may be forced to take out a loan in an
                emergency. Borrowing money is very expensive.</p>
            </div>
          </div>
          <div class="subsection-header">Saving through a bank</div>
          <div>
            <div>
              <div>
                <p>There are many different kinds of savings and investment accounts to choose from.</p>

                <ul>
                  <li>Some are <strong>short-term savings accounts</strong> that are easy to use and don’t cost much to
                    operate. To start with, look for a tax-free savings account that doesn’t have a minimum deposit.
                  </li>
                  <li>Other kinds of savings accounts are <strong>longer-term accounts</strong> that need a bit more money
                    to open, and which you need to ‘give notice on’ (warn the bank) when you want to withdraw money.
                  </li>
                  <li><strong>Fixed-deposit savings accounts</strong> require you to put a specific amount of money into
                    saving for a longer time, sometimes for a certain number of years.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <br>
          <div class="subsection-header">Saving through a stockvel</div>
          <div>
            <div>
              <table cellpadding="1" cellspacing="1">
                <thead>
                <tr>
                  <th scope="col">Every year, more than R45 billion is invested in an estimated 800 000 stokvels in South
                    Africa.
                  </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <p>A stokvel is a form of informal saving where a group of people save money together. Each member
                contributes a fixed amount on a regular basis, and members take turns to receive the full amount.</p>
            </div>

            <div>
              <p>Stokvels are popular because there are no credit checks and no hidden costs, and members are ‘forced’ to
                save by the group. Stokvels traditionally meet regularly and make an occasion of the meetings, giving
                members a sense of community.</p>
            </div>

            <div>
              <p>Many stokvels have a constitution that guides the operation of the group. This means that all the members
                agree on how the savings should work, including how often and how much people should contribute.</p>
            </div>
          </div>
          <br>
          <div class="subsection-header">Saving through a burial society</div>
          <div>
            <div>
              <div>
                <p>This is a kind of stokvel, where a group of people meet regularly and each member contributes an agreed
                  amount. Then, on the death of a main member, spouse, child or an extended family member, the burial
                  society pays out an agreed amount.</p>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
