<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 5 - Women in the Workplace</div>
      </div>
      <div>
        <div class="section-header">STARTING YOUR OWN BUSINESS</div>
        <div>
          <p>A business is an entity that provides goods or services to customers. Businesses can operate in both the
            informal and formal sectors. Anybody can start a business but it needs hard work, careful thinking and
            planning, passion and basic business skills.</p>

          <p>Informal-sector businesses are usually not registered, taxed or monitored by any authority. They may include
            women who sell fruit and vegetables by the roadside, retail traders at marketplaces, a hair salon in a house
            or car repair in a backyard.</p>

          <p>Formal businesses are registered, pay taxes and value-added tax (VAT), and are governed by the Companies Act,
            No 71 of 2008.</p>

          <p>IMAGE HERE</p>

          <table cellpadding="1" cellspacing="1" style="width:500px">
            <thead>
            <tr>
              <th scope="col"><strong>SHOULD YOU START YOUR OWN BUSINESS?</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <p>Anybody can start a business but not everyone can make a business successful. Before deciding to start
                  your own business, consider some of these questions:</p>

                <ul>
                  <li>Am i going into business for the right reasons?</li>
                  <li>Do i have the skills and personality traits (creativity, fl exibility, perseverance, commitment and
                    management skills) to succeed as an entrepreneur?
                  </li>
                  <li>Do i have enough money to start my business? can i obtain fi nancing?</li>
                  <li>Do i understand all the legal requirements of running a business in south Africa?</li>
                  <li>Do i have a good product or service that guarantees me a fl ow of customers and/or regular work?
                  </li>
                </ul>
              </td>
            </tr>
            </tbody>
          </table>

          <p>&nbsp;</p>

          <ul>
          </ul>
          <div _ngcontent-gol-c23="" class="subsection-header">Deciding on the type of business</div>
          <div _ngcontent-gol-c23="">
            <div>
              <div>
                <p>There are various kinds of formal business, each with its own advantages and disadvantages. The
                  Companies Act of 2008 also provides for two categories: non-profit and for-profit companies.</p>
              </div>

              <div>
                <ul>
                  <li><strong>Personal liability company – Inc:</strong>

                    <p>This is a business registered by professionals who are jointly and severally liable for the
                      company’s debts. This means that no matter how much the business owes, all the partners are
                      responsible for the debt, and may even have their personal property seized to settle debts.</p>
                  </li>
                  <li><strong>Private business – (Pty) Ltd:</strong>
                    <p>This is a proprietary company and must have at least one shareholder but no more than 50. There is
                      a slight advantage to writing ‘(Pty) Ltd’ after your company’s name because it is viewed as being
                      more stable and established.</p>
                  </li>
                  <li><strong>Public company – Ltd: </strong>
                    <ul>
                      <li>Name must end with the word limited (Ltd).</li>
                      <li>The incorporators of the company must consist of at least one person.</li>
                      <li>The company must have at least three directors.</li>
                    </ul>
                  </li>
                  <br>
                  <li><strong>Closed Corporations – CC:</strong>
                    <p>Under the Act, it will no longer be possible to register new closed corporations, nor may companies
                      be converted into one. Existing closed corporations will be treated as private companies.</p>
                  </li>
                  <li><strong>Non-profit companies – NPC:</strong>
                    <ul>
                      <li>They are incorporated for a public benefit or purpose such as foundations, churches or
                        charitable organisations.
                      </li>
                      <li>A minimum of three persons, called incorporators, must complete and sign the Memorandum of
                        Incorporation (MOI).
                      </li>
                      <li>A minimum of three directors must be approved.</li>
                      <li>All assets and income of the company must be used to advance its stated objective</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <hr>
              <p><strong>Department of Trade and Industry National Call Centre<br>
                0861 843 384 <a href="http://www.thedti.gov.za/"> www.thedti.gov.za</a> </strong></p>
            </div>

            <div>
              <hr>
              <p><strong>Department of Small Business Development<br>
                0861 843 384 (option 2) <a href="http://www.dsbd.gov.za/"> www.dsbd.gov.za</a> </strong></p>
            </div>

            <div>
              <hr>
              <p><strong>Small Enterprise Development Agency (SEDA)<br>
                0860 103 703 <a href="http://www.seda.org.za/"> www.seda.org.za</a> </strong></p>
            </div>

            <div>
              <hr>
              <p><strong>Companies and Intellectual Property Commission (CIPC) call centre<br>
                086 100 2472 <a href="http://www.cipc.co.za/"> www.cipc.co.za</a> </strong></p>
            </div>

            <div>
              <hr>
              <p><strong>Copac (info about the cooperative movement)<br>
                011 447 1013 <a href="http://www.copac.org.za/"> www.copac.org.za</a> </strong></p>
            </div>

            <div><img alt="Business" src="assets/img/women_in_the_workplace/Business.png"></div>
          </div>
          <br _ngcontent-gol-c23="">
          <div class="subsection-header">Drawing up a business plan</div>
          <div>
            <div>
              <div>
                <p>A business plan is a document that describes all the ideas you have about your business. It is a map
                  that will help you on your journey and to achieve your business goals.</p>
              </div>

              <div>
                <p>Your business plan should include:</p>

                <ul>
                  <li>The details of your core business.</li>
                  <li>The details of your marketing plan (a document that outlines your plan for marketing and advertising
                    your business).
                  </li>
                  <li>The details of your operations plan (a document detailing how you are going to run your business on
                    a day-to-day basis, e.g. production/manufacturing, inventory, sales and distribution).
                  </li>
                  <li>The details of your staffing plan (a document that shows what positions need to be filled in order
                    for your business to operate effectively).
                  </li>
                  <li>The details of your financial plan (a document indicating how much money your business needs to
                    achieve its goals).
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <hr>
              <p><strong>Small Enterprise Development Agency (SEDA)<br>
                0860 103 703 <a href="http://www.seda.org.za/">www.seda.org.za</a> </strong></p>

              <hr>
            </div>
          </div>
          <br _ngcontent-gol-c23="">
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
