<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 2 - Mental Health</div>
      </div>
      <div class="section-header">
        Mental health
      </div>
      <div>
        <table cellpadding="1" cellspacing="1">
          <thead>
          <tr>
            <th scope="col"><strong>According to the World Health Organization, 1 in 4 people in the world will likely experience some form of mental illness or problems during their lifetime.</strong></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <p>There are many mental-health conditions that can seriously affect a person’s behaviour, and disrupt their thinking, feeling and ability to relate to others.</p>

        <p>Mental illnesses are thought to be caused by a variety of genetic and environmental factors. They can affect anybody – old or young, rich or poor.</p>

        <p>Most common forms of mental illness include post-traumatic stress disorder (PTSD), anxiety, depression and panic attacks.</p>

        <p>Your mental health is as important as your physical health. Correct diagnosis of disorders, made by a professional, is very important. The earlier the diagnosis, the sooner treatment can begin.</p>

        <p>Risk factors for mental illness:</p>

        <ul>
          <li>Genes: having a relative, such as a parent or sibling, with a mental illness.</li>
          <li>Stressful life situations, such as financial problems, a loved one’s death or a divorce.</li>
          <li>A traumatic experience, such as being assaulted or witnessing a violent event.</li>
          <li>Use of illegal drugs.</li>
          <li>Being abused or neglected as a child.</li>
          <li>A previous mental illness.</li>
        </ul>

        <table cellpadding="1" cellspacing="1">
          <thead>
          <tr>
            <th scope="col"><strong>The Mental Health Care Act of 2002 outlines the rights of mental health patients. People with mental illness have the right to human dignity, privacy and protection against discrimination, abuse, exploitation and degrading treatment.</strong></th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p>Signs and symptoms of mental illness:</p>

        <ul>
          <li>Social withdrawal and loss of interest in others.</li>
          <li>Doing much less than you usually do, especially at school or work (e.g. giving up sports, failing subjects or struggling to perform your usual tasks).</li>
          <li>Problems with concentration, memory, or logical thought and speech.</li>
          <li>Not wanting to participate in any activity; apathy.</li>
          <li>A vague feeling of being disconnected, or a sense of unreality.</li>
          <li>Fear, or being suspicious of others, or feeling very nervous.</li>
          <li>Behaving strangely.</li>
          <li>Big changes in your sleep patterns.</li>
          <li>Big changes in what you like to eat.</li>
          <li>Not washing, brushing your teeth or wearing clean clothes.</li>
          <li>Constant mood swings.</li>
        </ul>

        <hr>
        <p><strong>SADAG: The South African Depression and Anxiety Group</strong></p>

        <p><a href="tel:0800121314"><strong>0800 12 13 14</strong></a><strong> or </strong><a href="http://www.sadag.org.za"><strong>www.sadag.org.za</strong></a><strong> or sms </strong><a href="tel:31393"><strong>31393</strong></a><strong> (they will call you)</strong></p>

        <hr>
        <p><strong>SADAG Suicide Crisis Line - <a href="tel:0800567567">0800 567 567</a></strong>/<strong><a href="tel:0112344837">011 234 4837</a></strong></p>

        <hr>
        <p><strong>The SA Federation for Mental Health</strong></p>

        <p><a href="tel:0117811852"><strong>011 781 1852</strong></a><strong> or </strong><a href="http://www.safmh.org.za"><strong>www.safmh.org.za</strong></a></p>

        <hr>
        <p>&nbsp;</p>
        <div _ngcontent-gol-c10="" class="subsection-header">Depression</div><div _ngcontent-gol-c10=""><p>Depression is a serious illness that affects many people. It goes beyond the feeling of ups and downs in your moods. It is a constant and deep feeling of emptiness and extreme despair or sadness. Depression affects how you feel about yourself, your sleep, the food you eat, and your relationships with your family and friends.</p>

        <p>According to a Who Report (2008), depression is the leading cause of disease burden for women in both high-income and low- and middle-income countries. The same report also noted that while depression is the leading cause of disability for both men and women, the burden of depression is 50% higher for women than men.</p>

        <p>Depression is a disorder that can be reliably diagnosed and treated in primary care, but correct diagnosis is important.</p>

        <p>Signs and symptoms of depression:</p>

        <ul>
          <li>Loss of interest or pleasure in daily activities.</li>
          <li>Feelings of helplessness and guilt.</li>
          <li>Depressed mood.</li>
          <li>Change in appetite (eating more or eating less).</li>
          <li>Significant weight loss or gain.</li>
          <li>Constant mood swings.</li>
          <li>Difficulty concentrating.</li>
          <li>Suicidal thoughts or often having thoughts of death.</li>
          <li>Sleep disturbance (sleeping more or sleeping less).</li>
          <li>Lack of energy and feeling very tired.</li>
        </ul>

        <p><img alt="Depression-Female-Crying" src="assets/img/health/Depression-Female-Crying.png"></p>

        <hr>
        <p><strong>SADAG: The South African Depression and Anxiety Group</strong></p>

        <p><a href="tel:0800121314"><strong>0800 12 13 14</strong></a><strong> or </strong><a href="http://www.sadag.org.za"><strong>www.sadag.org.za</strong></a><strong> or sms </strong><a href="tel:0861322322"><strong>31393</strong></a><strong> (they will call you)</strong></p>

        <hr>
        <p><strong>SADAG Suicide Crisis Line - </strong><a href="tel:0800567567"><strong>0800 567 567</strong></a></p>

        <hr>
        <p><strong>The SA Federation for Mental Health</strong></p>

        <p><a href="tel:0117811852"><strong>011 781 1852</strong></a><strong> or </strong><a href="http://www.safmh.org.za"><strong>www.safmh.org.za</strong></a></p>

        <hr></div><br _ngcontent-gol-c10=""></div><div _ngcontent-gol-c10="" class="ng-star-inserted"><div _ngcontent-gol-c10="" class="subsection-header">Anxiety</div><div _ngcontent-gol-c10=""><p>Anxiety is normal: most of us feel anxious when we’re challenged, threatened or under pressure. It can be a motivating factor and can keep us focused.</p>

      <p>However, when anxiety becomes a constant presence in your life and overwhelms you in such a way that you stop being able to do normal things, then it is a problem.</p>

      <p>Anxiety disorders take many forms, including obsessive-compulsive disorder (OCD), panic attacks, phobias, post-traumatic stress disorder (PTSD), and social anxiety disorder. Symptoms may be different for each person.</p>

      <div>
        <table cellpadding="1" cellspacing="1">
          <tbody>
          <tr>
            <td>If you’re feeling very anxious, try to take some time to think carefully about your lifestyle and see if there are ways to lessen your worries and fears. If, however, you’re anxious to the point where it is creating extreme distress or upsetting your life, and if you do not understand what is causing your constant worrying, you need professional help.</td>
          </tr>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p>Some signs and symptoms of anxiety disorder:</p>
      </div>

      <div>
        <ul>
          <li>Feelings of panic, fear and uneasiness.</li>
          <li>Trouble focusing.</li>
          <li>Avoidance of daily activities.</li>
          <li>Uncontrollable, obsessive thoughts.</li>
          <li>Repetitive behaviours.</li>
          <li>Inability to be still and calm.</li>
          <li>Nightmares.</li>
          <li>Insomnia.</li>
          <li>Sweating.</li>
          <li>Palpitations and/or shortness of breath.</li>
        </ul>
      </div>

      <div>
        <p><img alt="Anxiety-Disorder-Female-Seeking-Help" src="assets/img/health/Anxiety-Disorder-Female-Seeking-Help.png"></p>
      </div>
    </div><br _ngcontent-gol-c10=""></div><div _ngcontent-gol-c10="" class="ng-star-inserted"><div _ngcontent-gol-c10="" class="subsection-header">Stress</div><div _ngcontent-gol-c10=""><p>Many of us have stress in our lives. Like anxiety, it can be motivating and productive, or negative and destructive. Continual stress can lead to depression and anxiety disorders.</p>

      <p>Today’s demands of family and work can overwhelm us or push us to breaking point but you can learn to manage your stress and improve the quality of your life.</p>

      <p>Signs and symptoms of stress:</p>

      <ul>
        <li>Feeling tense, helpless or overwhelmed.</li>
        <li>Having trouble concentrating.</li>
        <li>Having trouble remembering things.</li>
        <li>Feeling angry and/or hostile.</li>
        <li>Feeling very irritable or impatient.</li>
        <li>Having trouble making decisions.</li>
        <li>Being easily distracted.</li>
        <li>Experiencing mood swings.</li>
        <li>Having negative thoughts.</li>
        <li>Drinking too much alcohol, &nbsp;eating too much or smoking.</li>
        <li>Having low energy levels.</li>
        <li>Often having headaches.</li>
      </ul>

      <p><img alt="Stress-Relief-Health" src="assets/img/health/Stress-Relief-Health.png"></p>

      <p>How to handle stress:</p>

      <ul>
        <li>Get lots of exercise.</li>
        <li>Listen to relaxation tapes, cds or podcasts.</li>
        <li>Write in a journal.</li>
        <li>Meet with a friend or family member to talk about it.</li>
        <li>Get enough sleep.</li>
        <li>Do deep-breathing exercises.</li>
        <li>Take time out to listen to calming music and try to remove yourself from the situation for a while.</li>
        <li>Have a bath.</li>
        <li>Have a back rub or massage.</li>
        <li>Practise meditation.</li>
      </ul>

      <hr>
      <p><strong>The Anger &amp; Stress Management Centre</strong></p>

      <p><a href="http://www.angerstress.com"><strong>www.angerstress.com</strong></a></p>

      <hr>
      <p><strong>Cape Town - </strong><a href="tel:0215569588"><strong>021 556 9588</strong></a></p>

      <hr>
      <p><strong>Durban (north) - </strong><a href="tel:0799432093"><strong>079 943 2093</strong></a></p>

      <hr>
      <p><strong>Durban (south) - </strong><a href="tel:0319034378"><strong>031 903 4378</strong></a></p>

      <hr>
      <p><strong>Ekurhuleni - </strong><a href="tel:0119073273"><strong>011 907 3273</strong></a></p>

      <hr>
      <p><strong>Pretoria - </strong><a href="tel:0813363828"><strong>081 336 3828</strong></a></p>

      <hr>
      <p><strong>Sandton - </strong><a href="tel:0813363828"><strong>081 336 3828</strong></a></p>

      <hr></div><br _ngcontent-gol-c10=""></div><div _ngcontent-gol-c10="" class="ng-star-inserted"><div _ngcontent-gol-c10="" class="subsection-header">Schizophrenia</div><div _ngcontent-gol-c10=""><div>
      <div>
        <p>Schizophrenia is one of the most common mental illnesses found throughout the world, in all races and cultures, and affects both men and women equally. The age of onset for schizophrenia is usually late adolescence to early and mid-twenties.</p>

        <p>Symptoms of schizophrenia:</p>

        <ul>
          <li>Delusions (false perceptions and beliefs): trouble with understanding reality and what is not real. for example, the person may believe that aliens or spies are controlling him/her.</li>
          <li>Paranoia: the unreal fear that someone is ‘out to get you’.</li>
          <li>Hallucinations: seeing, hearing, tasting, smelling or feeling things that do not really exist.</li>
          <li>Difficulties with language and expressing emotion: People with schizophrenia speak very little or their speech is disjointed/disorganised. the person may even change the topic halfway through a sentence.</li>
        </ul>
      </div>

      <div>
        <p>Causes of schizophrenia:</p>

        <p>Medical experts have not been able to agree on one single cause of the disorder. Instead, there are numerous possibilities.</p>

        <ul>
          <li>Genetics: When there’s family history of schizophrenia, there is a greater chance of another family member suffering from it.</li>
          <li>Chemical imbalance in the brain that affects behaviour.</li>
          <li>Physical changes, such as a brain injury.</li>
          <li>Some illegal drugs, such as cannabis (also known as dagga or marijuana) can cause schizophrenia relapses or can lead to schizophrenia-like changes in the brain.</li>
        </ul>
      </div>

      <div>
        <p><strong>Diagnosing schizophrenia</strong></p>

        <p>If the doctor suspects possible schizophrenia, he/she will need to know about the patient’s medical and psychiatric history.</p>
      </div>

      <div>
        <p>Certain tests will be ordered to rule out other illnesses and conditions that may trigger schizophrenia-like symptoms. Examples of some of the tests may include:</p>

        <ul>
          <li>Blood tests.</li>
          <li>A brain image may be taken (to rule out tumours, problems in the structure of the brain, and other conditions).</li>
          <li>Psychological evaluation: A specialist will assess the patient’s mental state by asking about thoughts, moods, hallucinations, suicidal traits, violent tendencies or potential for violence, as well as observing the patient’s demeanour and appearance.</li>
        </ul>
      </div>

      <div>
        <p><strong>Treating schizophrenia</strong></p>

        <p>Schizophrenia is a serious condition that should not be left untreated. Although there is no cure, schizophrenia can be managed with medication. Many people with schizophrenia are successfully treated and go on to live productive, healthy lives.</p>
      </div>
    </div>
    </div><br _ngcontent-gol-c10=""></div><div _ngcontent-gol-c10="" class="ng-star-inserted"><div _ngcontent-gol-c10="" class="subsection-header">Epilepsy and Seizures</div><div _ngcontent-gol-c10=""><p>Epilepsy is a disorder where the nerve-cell activity in the brain is disturbed. During a seizure, different people behave differently – some just stare blankly for a few seconds, others’ legs and arms twitch, while other people may convulse and/or lose consciousness.</p>

      <p>An epileptic seizure may be very quick, lasting only a few seconds to a few minutes. But a severe seizure can result in a dangerous situation if the person is, for example, swimming or driving when it happens, or if they fall hard or from a height.</p>

      <p>Proper diagnosis is very important. treatment may stop or reduce the frequency and intensity of seizures. treatment usually includes medication and sometimes surgery.</p>

      <p>Risk factors for epilepsy:</p>

      <ul>
        <li>Family history.</li>
        <li>Head injuries.</li>
        <li>Stroke and other blood-vessel diseases which can lead to brain damage.</li>
        <li>Infectious diseases, such as meningitis, Aids and viral encephalitis.</li>
        <li>Brain infections such as meningitis, which causes infl ammation in the brain or spinal cord.</li>
        <li>Prenatal (before-birth) injury to the baby’s brain as a result of an infection in the mother, poor diet or not enough oxygen.</li>
        <li>High fevers in childhood, especially if these resulted in serious seizures.</li>
      </ul>

      <p>Warning signs and symptoms of an epileptic episode:</p>

      <ul>
        <li>Odd feelings (e.g. ‘out-of-body’ feelings, or when situations or people look unexpectedly familiar or strange).</li>
        <li>Unusual smells or tastes.</li>
        <li>Feeling ‘fuzzy’ or confused.</li>
        <li>Periods of forgetfulness or memory lapses.</li>
        <li>Jerking movements of an arm, leg or body.</li>
        <li>Falling.</li>
        <li>Tingling or numbness.</li>
        <li>Headaches.</li>
        <li>Unexplained confusion, sleepiness or weakness.</li>
        <li>Unexpected loss of control of bowels or bladder.</li>
      </ul>

      <p><strong>What to do when someone has a seizure</strong></p>

      <p><strong>Do's</strong></p>

      <ul>
        <li>Call a doctor or an ambulance ( 10177).</li>
        <li>Clear a space around the person; prevent others from crowding around.</li>
        <li>Loosen any tight clothing.</li>
        <li>Remove spectacles or other objects that could hurt the person.</li>
        <li>Cushion the head to prevent injury.</li>
        <li>Put the person into the ‘shock recovery’ position – on their side, with the top leg bent, and the bottom arm slightly stretched out.</li>
        <li>Wipe away excess saliva to help breathing.</li>
      </ul>

      <p><strong>Don'ts</strong></p>

      <ul>
        <li>Don’t restrict or restrain the person’s movements.</li>
        <li>Don’t move the person unless it’s to get him/her out of a dangerous situation (e.g. if he/she is lying in a busy road).</li>
        <li>Don’t put anything between the person’s teeth or in his/her mouth.</li>
        <li>Don’t give anything to eat or drink.</li>
        <li>Don’t give any medication.</li>
      </ul>

      <p>&nbsp;</p>

      <hr>
      <p><strong>Epilepsy South Africa</strong></p>

      <p><a href="tel:0860374537"><strong>0860 374 537</strong></a><strong> or&nbsp;</strong><a href="http://www.epilepsysa.org.za"><strong>www.epilepsysa.org.za</strong></a></p>

      <hr>
      <p><strong>National office - </strong><a href="tel:0215563753"><strong>021 556 3753</strong></a></p>

      <hr>
      <p><strong>Western Cape - </strong><a href="tel:0217039420"><strong>021 703 9420</strong></a></p>

      <hr>
      <p><strong>Mpumalanga and Limpopo - </strong><a href="tel:0132540161"><strong>013 254 0161</strong></a></p>

      <hr>
      <p><strong>Gauteng - <a href="tel:0118111590">011 811 1590</a></strong><strong>/<a href="tel:011811159">011 811 159</a></strong></p>

      <p><strong>Helpline - <a href="tel:0860">0860</a></strong></p>

      <p><strong>EPILEPSY&nbsp;<a href="tel:0860374537">0860 374 537</a></strong></p>

      <hr>
      <p><strong>Free State and North West - </strong><a href="tel:0568115959"><strong>056 811 5959</strong></a></p>

      <hr></div><br _ngcontent-gol-c10=""></div><div _ngcontent-gol-c10="" class="ng-star-inserted"><div _ngcontent-gol-c10="" class="subsection-header">Addiction</div><div _ngcontent-gol-c10=""><p>Addiction is when a person depends too heavily on a certain substance, thing or behaviour. There are many different kinds of addiction. The most common are addictions to alcohol, drugs, gambling, the internet and pornography.</p>

      <p>The south African medical Research council says that 11% (5.7 million) of the south African population will suffer from some kind of addiction in their lifetime.</p>

      <p>Addiction may destroy your relationships with friends and family, damage your health, and lead to job loss, arrest and sometimes death.</p>

      <p>Signs and symptoms of addiction:</p>

      <ul>
        <li>Inability to function without drugs, gambling, the internet, pornography or alcohol.</li>
        <li>Having memory lapses or trouble concentrating.</li>
        <li>Not feeling like doing anything; having little energy or self-discipline.</li>
        <li>Poor physical coordination, and/or talking in a way that’s hard to understand (e.g. slurring).</li>
        <li>Looking unhealthy (e.g. bloodshot eyes, sores on the face)</li>
        <li>Not washing, brushing teeth or wearing clean clothes.</li>
        <li>Regular spending of money on drugs, alcohol or gambling, even when the person doesn’t have enough money.</li>
        <li>Lots of time spent searching for alcohol or drugs, or in a casino.</li>
        <li>Owning drug-related equipment such as pipes, rolling papers or small decongestant bottles.</li>
        <li>A smell of drugs, or of incense or other ‘cover-up’ scents.</li>
        <li>Conversations and jokes that are centred around drugs, alcohol or gambling.</li>
        <li>Being very dishonest – stealing, lying or cheating.</li>
        <li>Suddenly having new ‘friends’ or talking about new friend</li>
        <li>Having lots of money that can’t be explained.<br>
          &nbsp;</li>
      </ul>

      <hr>
      <p><strong>Alcohol Anonymous</strong></p>

      <p><a href="tel:0861435722"><strong>0861 435 722</strong></a><strong> or&nbsp;</strong><a href="http://www.aasouthafrica.org.za"><strong>www.aasouthafrica.org.za</strong></a></p>

      <hr>
      <p><strong>Narcotics Anonymous SA</strong></p>

      <p><a href="tel:0839006962"><strong>083 900 69 62</strong></a><strong> or&nbsp;</strong><a href="http://www.na.org.za"><strong>www.na.org.za</strong></a></p>

      <hr>
      <p><strong>SA National Council on Alcoholism &amp; Drug Dependence (SANCA)</strong></p>

      <p><a href="tel:0861472622"><strong>0861 472 622</strong></a><strong> or&nbsp;</strong><a href="http://www.sancanational.info"><strong>www.sancanational.info</strong></a></p>

      <hr>
      <p><strong>Al-Anon (support for families and friends of problem drinkers)</strong></p>

      <p><a href="tel:0861252666"><strong>0861 252 666</strong></a><strong> or&nbsp;</strong><a href="http://www.alanon.org.za"><strong>www.alanon.org.za</strong></a></p>

      <hr>
      <p><strong>National Responsible Gambling Programme Counselling Line</strong></p>

      <p><a href="tel:0860006008"><strong>0860 006 008</strong></a><strong> or&nbsp;</strong><a href="http://www.responsiblegambling.co.za"><strong>www.responsiblegambling.co.za</strong></a></p>

      <hr>
      <p><img alt="Stop-Addiction" src="assets/img/health/Stop-Addiction.png"></p>
    </div><br _ngcontent-gol-c10="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
