<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/Logo_BlackBook.jpg">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#" class="bottomnav-links w-inline-block w-condition-invisible">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Always choose prototypes over mockups</div>
      </a>
      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next">First Chapter</div>
        <div *ngIf="chapters" class="bottomnav-chapter">{{nextChapter?.chapterTitle}}</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <div class="chapterpage-header">The Precious Little Black Book</div>
        <div class="chapterpage-header chaptertext">Introduction</div>
      </div>
      <div class="lede">HOW TO USE THIS BOOK</div>
      <div class="chaptercontent w-richtext">
        <p><em>The Precious Little Black Book</em> provides South African women with information about their rights, health, education and economic empowerment, as well as know
          about social and legal issues. We believe every woman has the 'right to know' and that this book will therefore become precious to them.</p>

        <p>Each section has been indexed to help you choose the correct section, and each chapter ends with contact details which you can use for additional information
        or support services.</p>

        <p>No single book can cover every situation or answer every question, but this one should provide you with the practical tools to achieve a better quality of life.</p>

        <p><strong><em>Remember that this book is only a guide. If you have more serious issues or need more help, use the information in this book to find organisations to help you,
          or get help from a registered practitioner or reputable organisation.</em></strong></p>
      </div>
    </div>

    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">First Chapter</div>
      <div *ngIf="chapters" class="bottomnav-chapter">{{nextChapter?.chapterTitle}}</div>
    </a>
  </div>
</div>
