<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/Logo_BlackBook.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#" class="bottomnav-links w-inline-block w-condition-invisible">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Always choose prototypes over mockups</div>
      </a>
      <a href="http://ebooks.webflow.com/chapter/essential-visual-design-principles-for-web-designers" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">First Chapter</div>
        <div class="bottomnav-chapter">Emergencies</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <div class="chapterpage-header">The Precious Little Black Book</div>
        <div class="chapterpage-header chaptertext">Introduction</div>
        <!-- <a href="http://www.webflow.com/?utm_source=ebooks&amp;utm_medium=web%20design%20101&amp;utm_campaign=Ebooks" target="_blank" class="chapterpage-header trywebflow-link">Try Webflow</a> -->
      </div>
      <div class="lede">Congratulations. The future of the web  is in your hands.</div>
      <div class="chaptercontent w-richtext">

      </div>
    </div>

    <a href="http://ebooks.webflow.com/chapter/essential-visual-design-principles-for-web-designers" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">First Chapter</div>
      <div class="bottomnav-chapter">Emergencies</div>
    </a>
  </div>
</div>
