<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <a href="#" (click)="showMenu()" ><img src="assets/img/Logo_BlackBook.jpg"></a>
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#/plbbook/how-to-use" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next"><img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">How To Use This Book</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Copyright</div>
      </div>
      <div class="lede w-richtext copyright">
        <p>© Motsepe Foundation, 2017</p>
        <p>This book was developed by the motsepe foundation’s Women’s unit.</p>
        <p>Information, advice and suggestions in this book are of a general nature and should be used as a guideline only.</p>
        <p>While all efforts have been made to ensure accurate, up-to-date information, the motsepe foundation Women’s
        unit shall not be held liable, legally or otherwise, for any incorrect and/or inaccurate information, advice or
          opinion in this book, by any reader, government department or official, or any other interested party.</p>
        <p>copyright in this guide as a whole is vested with the motsepe foundation. the contents may be reproduced
        by any methods without a fee as long as the purpose is not for resale. the motsepe foundation must be
          acknowledged in such reproduction.</p>
        <p>isBn: 978-1-928333-02-9<br />
          e-isBn: 978-1-928333-03-6</p>
        <p>Published by the Motsepe Foundation<br />
          19 Impala Road, Chislehurston 2146, Johannesburg<br />
        Tel: 011 324 1500<br />
        Fax: 011 324 1524/25<br />
        Twitter: @motsepefoundtn<br />
        Facebook: motsepe foundation<br />
        Website: motsepefoundation.org<br />
          E-mail: info@motsepefoundation.org</p>
        <p>Edited by Tracey Hawthorne<br />
        Additional editing by Kelly Norwood-Young<br />
        Proofread by Jenny Prangley<br />
        Layout and design by René de Wet<br />
          images by Shutterstock</p>
      </div>
    </div>

    <a href="#/plbbook/how-to-use" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next</div>
      <div class="bottomnav-chapter">How To Use This Book</div>
    </a>
  </div>
</div>
