<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 2 - Chronic diseases</div>
      </div>
      <div>
        <div class="section-header">Chronic diseases</div>
        <div>
          <p>A chronic disease is a medical condition that lasts a long time – from a few months to an entire lifetime. Most
            chronic diseases are caused by poor lifestyle choices, such as not eating well or not getting enough exercise.
            Some are caused by exposure to environmental hazards, such as certain chemicals, while some are inherited
            (you’re born with them). Many chronic diseases are managable.</p>
          <p>Chronic diseases include:</p>
          <ul>
            <li>Heart disease.</li>
            <li>Stroke.</li>
            <li>High blood pressure.</li>
            <li>High cholesterol.</li>
            <li>Diabetes.</li>
            <li>Obesity.</li>
          </ul>
          <p><img alt="Chronic Diseases" src="assets/img/health/Chronic-Diseases-Health.png"></p>
          <div class="subsection-header">Heart disease</div>
          <div>
            <p>Research shows that one in four south African women may develop some form of heart disease before the age of
              60. The good news is that most heart diseases are preventable if they’re diagnosed early and treated
              properly.</p>

            <p>Risk factors for heart disease:</p>

            <ul>
              <li>Genetic causes.</li>
              <li>High blood pressure.</li>
              <li>Obesity.</li>
              <li>Smoking.</li>
              <li>Diabetes.</li>
              <li>Excessive alcohol intake.</li>
            </ul>

            <p><strong>Heart failure</strong></p>

            <p>Heart failure happens when your heart can’t pump enough blood to meet your body’s needs. the most common
              cause is high blood pressure.</p>

            <p>Warning signs and symptoms of heart failure:</p>

            <ul>
              <li>Shortness of breath that gets worse with activity and when lying down.</li>
              <li>Unusual tiredness.</li>
              <li>Feeling lightheaded (dizzy or faint).</li>
              <li>Swelling in the feet, ankles, legs and body, and in the veins in the neck.</li>
              <li>Brownish discoloration of the tongue and nails.</li>
              <li>Going to the toilet to urinate often, especially at night.</li>
            </ul>

            <p>If you think you have heart failure:</p>

            <hr>
            <p><strong>Call <a href="tel:10177">10177</a> (from a landline) or <a href="tel:112">112 </a>(from a cellphone)</strong>
            </p>

            <hr>
            <p><strong>Go to your nearest emergency room immediately.</strong></p>

            <hr>
            <p><strong>Heart attack</strong></p>

            <p>A heart attack usually happens when a blood clot blocks the flow of blood through an artery (a blood vessel
              that feeds oxygen-rich blood to the heart). This can damage or destroy part of the heart.</p>

            <p>Warning signs and symptoms of a heart attack:</p>

            <ul>
              <li>Chest pain that may feel like a heavy weight on the chest or a tightness around the chest.</li>
              <li>Pain or discomfort in the stomach, in one or both arms, or in the back, shoulder, neck or jaw.</li>
              <li>Shortness of breath.</li>
              <li>Sweating (often a cold, clammy sweat).</li>
              <li>Light-headedness.</li>
              <li>Nausea (feeling sick).<br>
                &nbsp;
              </li>
            </ul>

            <p>The signs and symptoms of a heart attack in women may be milder than in men.</p>

            <p>Don't ignore any of these symptoms:</p>

            <ul>
              <li>Mild discomfort in the chest, or a feeling of pressure or squeezing.</li>
              <li>Weakness in the body.</li>
              <li>Being very tired all the time for quite a long time.</li>
              <li>Not being able to sleep properly.</li>
              <li>Digestion problems, such as indigestion, nausea or vomiting.</li>
              <li>Feeling very anxious.</li>
            </ul>

            <p>If you think you're having a heart attack:</p>

            <hr>
            <p><strong>Call </strong><a href="tel:10177"><strong>10177</strong></a><strong> (from a landline) or </strong><a
              href="tel:112"><strong>112</strong></a><strong> (from a cellphone)</strong></p>

            <hr>
            <p><strong>Go to your nearest emergency room immediately.</strong></p>

            <hr>
            <p><strong>Call your loved ones, your neighbour or colleague and let them know you need help urgently.</strong>
            </p>

            <hr>
          </div>
          <br>
          <div class="ng-star-inserted">
            <div class="subsection-header">Stroke</div>
            <div><p>A stroke happens when a blood vessel to the brain ruptures or breaks or when a blood vessel to the brain
              is blocked by a blood clot. This may mean that part of the brain can’t get enough blood, and therefore is not
              getting enough oxygen. This can lead to that part of the brain dying. A stroke can cause serious disability or
              even death.</p>

              <p>Risk factors for stroke:</p>

              <ul>
                <li>Having high blood pressure.</li>
                <li>Having diabetes.</li>
                <li>Women who smoke and are on the Pill.</li>
                <li>An unhealthy lifestyle, including a high-fat diet.</li>
              </ul>

              <p>Warning signs and symptoms of a stroke:</p>

              <ul>
                <li>Sudden weakness or numbness in the face, arm or leg on one side of the body.</li>
                <li>Sudden diffi culty speaking or understanding.</li>
                <li>Problems with vision, especially loss of vision in only one eye.</li>
                <li>A sudden, very bad headache with no obvious cause.</li>
                <li>A sudden loss of balance, which gets worse when you bend or cough.</li>
              </ul>

              <p>A stroke is a medical emergency. if you feel like you’re having a stroke, get medical attention
                immediately.</p>

              <hr>
              <p><strong>Call </strong><a href="tel:10177"><strong>10177</strong></a><strong> (from a landline) or </strong><a
                href="tel:122"><strong>122</strong></a><strong> (from a cellphone) or go to your nearest emergency room
                immediately</strong></p>

              <hr>
              <p><strong>Heart and Stroke Health Line</strong></p>

              <p><a href="tel:0214221586"><strong>021 422 1586</strong></a><strong> or&nbsp;</strong><a
                href="http://www.heartfoundation.co.za"><strong>www.heartfoundation.co.za</strong></a></p>

              <p><strong>JHB- <a href="tel:0118751403">011 875 1403</a></strong></p>

              <p><strong>DBN- <a href="tel:0312619055">031 261 9055</a></strong></p>

              <p><strong>PE- <a href="tel:0415824086">041 582 4086</a></strong></p>

              <hr>
              <p><strong>Stroke Aid Society</strong></p>

              <p><a href="tel:0114850235"><strong>011 485 0235</strong></a><strong> or&nbsp;</strong><a
                href="http://www.strokeaid.org.za"><strong>www.strokeaid.org.za</strong></a></p>

              <hr>
              <p><strong>Stroke Support Group</strong></p>

              <p><a href="tel:0842704507"><strong>084 270 4507</strong></a><strong> or&nbsp;</strong><a
                href="http://www.strokesupport.co.za"><strong>www.strokesupport.co.za</strong></a></p>

              <hr>
            </div>
            <br></div>
          <div class="ng-star-inserted">
            <div class="subsection-header">High blood pressure</div>
            <div>
              <div>
                <div>
                  <p>High blood pressure, also called hypertension, is a chronic condition where the force of the blood
                    pushing against the blood-vessel walls is stronger than it should be. This means the heart has to work
                    harder to circulate blood through the body. It can also damage the lining of the blood vessels.</p>

                  <p>High blood pressure contributes to hardening of the arteries, stroke, kidney disease and the development
                    of heart failure.</p>
                </div>

                <div>
                  <p>Risk factors for high blood pressure:</p>

                  <ul>
                    <li>Ethnicity (black women are more likely to develop high blood pressure).</li>
                    <li>Having a family history of high blood pressure.</li>
                    <li>Being overweight or obese.</li>
                    <li>Having diabetes.</li>
                    <li>Smoking.</li>
                    <li>Not getting enough exercise.</li>
                    <li>Pregnancy (for some women).</li>
                  </ul>
                </div>

                <div>
                  <p><strong>The 'silent killer'</strong></p>

                  <p>New research says that south Africa has the highest rate of high blood pressure reported among people
                    aged 50 and over in the world, with consistently higher levels among women.</p>
                </div>

                <div>
                  <p>A 2014 study (Study on Global Ageing and Adult Health, conducted by the World Health Organization) says
                    that only about one-third of people who tested positive for high blood pressure even knew they had it.
                    This is why high blood pressure is often called the ‘silent killer’ – often, there are no symptoms.</p>
                </div>

                <div>
                  <div>
                    <p>HOW IS BLOOD PRESSURE MEASURED?</p>
                  </div>

                  <div>
                    <p>A blood pressure reading has a top number (systolic) and bottom number (diastolic). normal: 120/80 or
                      less.</p>

                    <p>Pre-hypertension: When your blood pressure is above 120/80 but below 140/90. hypertension (high blood
                      pressure): When your blood pressure is 140/90 or above.</p>
                  </div>
                </div>

                <div>
                  <p>Warning signs and symptoms of high blood pressure:</p>

                  <ul>
                    <li>Severe headaches.</li>
                    <li>Fatigue (feeling very tired).</li>
                    <li>Being confused.</li>
                    <li>Changes in how you see.</li>
                    <li>Difficulty breathing.</li>
                    <li>Irregular heartbeat.</li>
                    <li>Pounding in the chest, neck or ears.</li>
                    <li>Nose bleeds.</li>
                  </ul>
                </div>

                <div>
                  <div>
                    <p>KEEP YOUR BLOOD PRESSURE WITHIN NORMAL RANGE</p>
                  </div>

                  <div>
                    <ul>
                      <li>Have your blood pressure checked regularly (at your doctor or your nearest clinic).</li>
                      <li>Maintain a healthy weight by eating a sensible, balanced diet.</li>
                      <li>Quit smoking, or don’t start.</li>
                      <li>Limit the amount of salt in your food.</li>
                      <li>Follow your doctor’s advice.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br></div>
          <div class="ng-star-inserted">
            <div class="subsection-header">High Cholesterol</div>
            <div>
              <div>
                <div>
                  <p>Cholesterol is a type of fat found in your blood. It is naturally produced mostly in the liver but some
                    cholesterol comes from the foods you eat, such as red meat, fish, eggs and dairy products.</p>

                  <p>Your body needs a little bit of cholesterol to help your brain, skin and other organs grow and function.
                    But if your body cannot process cholesterol or you eat food high in cholesterol, this can affect your
                    general health.</p>
                </div>

                <div>
                  <p>Too much cholesterol in the bloodstream may cause some cholesterol to collect in the blood-vessel walls,
                    causing these vessels to become narrower over many years. This means that not enough blood can ﬂ ow
                    through these vessels to your heart. This can lead to heart attacks and strokes.</p>
                </div>

                <div>
                  <p><strong>Types of cholesterol</strong></p>

                  <p>HDL cholesterol is called ‘good cholesterol’ because it helps remove ‘bad cholesterol’ from the
                    arteries.</p>

                  <p>LDL cholesterol is called ‘bad cholesterol’ because too much of it can harden your arteries and cause
                    heart disease. It is produced naturally by the body, but many people inherit genes from their mother,
                    father or even grandparents that cause them to make too much cholesterol.</p>
                </div>

                <div>
                  <p>Risk factors for bad cholesterol:</p>

                  <ul>
                    <li>Age: Your risk increases as you get older.</li>
                    <li>Gender: After menopause, women’s LdL levels increase quicker than men’s.</li>
                    <li>Ethnicity: People of Asian and African descent tend to have more problems with cholesterol.</li>
                    <li>Smoking.</li>
                    <li>High blood pressure.</li>
                    <li>Diabetes.</li>
                    <li>Family history of premature heart problems.</li>
                    <li>Being overweight.</li>
                    <li>Diet: An unhealthy diet can increase a risk of high cholesterol.</li>
                  </ul>
                </div>

                <div>
                  <p><strong>How to reduce your bad cholesterol</strong></p>

                  <ul>
                    <li>Eat a healthy diet: cut down on red meat, eggs, butter, cheese and some margarines.</li>
                    <li>Exercise every day: even 30 minutes of fast walking a day will help.</li>
                    <li>Maintain a good weight and shape: carrying too much fat in your belly is associated with greater risk
                      of heart problems.
                    </li>
                    <li>If high cholesterol runs in your family, speak to your doctor about medication.</li>
                  </ul>
                </div>
              </div>
            </div>
            <br></div>
          <div class="ng-star-inserted">
            <div class="subsection-header">Diabetes</div>
            <div><p>Failure of the body to produce insulin results in diabetes. insulin is a hormone in the body that controls
              blood sugar levels. It helps cells in the body to use glucose (sugar) for energy. Without insulin, the body
              can’t get the energy it needs from the food you eat.</p>

              <p><img alt="Diabetes-Health" src="assets/img/health/Diabetes-Health.png"></p>

              <p><strong>If left untreated, diabetes can lead to serious complications, including organ damage, heart disease,
                stroke, vision loss, kidney failure, foot ulcers, foot amputation and even death.</strong></p>

              <p>If you’ve been diagnosed with diabetes, you need to be under a doctor’s care. Follow all advice and
                treatment, and get regular check-ups.</p>

              <p>Risk factors for diabetes:</p>

              <ul>
                <li>Family history.</li>
                <li>Ethnicity: African people are more likely to get diabetes.</li>
                <li>Being overweight or obese.</li>
                <li>Not getting enough exercise.</li>
                <li>Intolerance to glucose or resistance to insulin.</li>
                <li>High blood pressure.</li>
                <li>High cholesterol.</li>
                <li>Age: People over 45 are more likely to get diabetes</li>
              </ul>

              <p>Warning signs and symptoms of diabetes:</p>

              <ul>
                <li>Increased thirst.</li>
                <li>Increased tiredness.</li>
                <li>Going to the toilet very often.</li>
                <li>Unexplained weight loss.</li>
                <li>Changes in vision.</li>
                <li>Itching, especially in your genitiles.</li>
              </ul>

              <p><strong>Types of diabetes</strong></p>

              <p><strong>Type 1 Diabetes</strong></p>

              <p>Onset: Usually in early childhood.</p>

              <p>Cause: The pancreas doesn’t produce enough insulin, and is usually genetic or caused by the body’s immune
                system attacking its own pancreas cells.</p>

              <p>Risks:</p>

              <ul>
                <li>Eye problems.</li>
                <li>Nerve problems.</li>
                <li>Kidney disease.</li>
                <li>Heart disease.</li>
              </ul>

              <p>Prevention:</p>

              <ul>
                <li>Cannot be prevented, but can be managed well.</li>
                <li>Have regular blood checks.</li>
                <li>Take medication as prescribed.</li>
                <li>Stop smoking.</li>
              </ul>

              <p><strong>Type 2 Diabetes</strong></p>

              <p>Onset: Usually starts in adulthood.</p>

              <p>Cause: The body is not releasing enough insulin or is resistant to the insulin released. People who are
                overweight are particularly vulnerable to diabetes.</p>

              <p>Risks:</p>

              <ul>
                <li>Kidney failure.</li>
                <li>Heart disease.</li>
                <li>Stoke.</li>
              </ul>

              <p>Prevention:</p>

              <ul>
                <li>Maintain a healthy body weight.</li>
                <li>Eat plenty of fruit, vegetables, fish, chicken and whole grains, and less sugary food and starch.</li>
                <li>Exercise daily.</li>
                <li>Take medication as prescribed.</li>
              </ul>

              <p>The third type of diabetes is related to pregnancy and is called Gestational diabetes. Ask your doctor for
                more information.</p>

              <hr>
              <p><strong>Diabetes South Africa</strong></p>

              <p><a href="tel:0214254440"><strong>021 425 4440</strong></a><strong> or&nbsp;</strong><a
                href="http://www.diabetessa.org.za"><strong>www.diabetessa.org.za</strong></a></p>

              <p><strong>JHB&nbsp;&nbsp;<a href="tel:083 398 1995">083 398 1995</a></strong></p>

              <p><strong>PTA&nbsp;&nbsp;<a href="tel:0824961030">082 496 1030</a></strong></p>

              <p><strong>DBN&nbsp;&nbsp;<a href="tel:0861222717">086 122 2717</a></strong></p>

              <hr>
              <p><strong>Durban</strong> <a href="tel:0847177443"><strong>084 717 7443</strong></a></p>

              <hr>
              <p><strong>East London</strong> <a href="tel:0437029343"><strong>043 702 9343</strong></a></p>

              <hr>
              <p><strong>Kimberly</strong> <a href="tel:0538022233"><strong>053 802 2233</strong></a></p>

              <hr>
              <p><strong>Port Elizabeth</strong> <a href="tel:0825799059"><strong>082 579 9059</strong></a><strong>
                or </strong><a href="tel:0413672816"><strong>041 367 2816</strong></a></p>

              <hr>
              <p><strong>Pretoria</strong> <a href="tel:0793190887"><strong>079 319 0887</strong></a><strong> or </strong><a
                href="tel:0824510706"><strong>082 451 0706</strong></a></p>

              <hr>
              <p><strong>Western Cape</strong> <a href="tel:0214254440"><strong>021 425 4440</strong></a><strong> or </strong><a
                href="tel:0723450086"><strong>072 345 0086</strong></a></p>

              <hr>
              <p>&nbsp;</p>
            </div>
            <br></div>
          <div class="ng-star-inserted">
            <div class="subsection-header">Obesity</div>
            <div><p>Obesity is a medical condition whereby excess fat is stored in the body. doctors often measure your body
              weight vs height ratio (body mass index or BMI). A body mass index above 25 is considered obese (very
              overweight).</p>

              <p>Being overweight, and especially being obese, can trigger many health problems, such as heart attack, stroke
                and high blood pressure.</p>

              <p><strong>How to lose weight</strong></p>

              <ul>
                <li>Get at least 30 minutes of exercise per day. this will be easier if you find activities that you enjoy.
                </li>
                <li>Cut down on foods that are high in salts, sugars, starches and unhealthy fats, especially fast foods
                  (takeaways).
                </li>
                <li>Eat more fresh fruit and vegetables, and whole (unprocessed) foods.</li>
                <li>Drink lots of water every day.</li>
                <li>Get enough sleep.</li>
              </ul>

              <p>Risk factors for obesity:</p>

              <ul>
                <li>Family history – genetics play a part.</li>
                <li>Not getting enough exercise.</li>
                <li>Unhealthy eating.</li>
                <li>Certain medications, such as some antidepressants, anti-seizure medications, antipsychotic medications and
                  steroids.
                </li>
              </ul>

              <p><img alt="Obesity-Health" src="assets/img/health/Obesity-Health.png"></p>

              <table cellpadding="1" cellspacing="1">
                <thead>
                <tr>
                  <th scope="col">OBESITY IN SOUTH AFRICA</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <p>According to a 2013 study published in the medical journal The Lancet, south Africa has the highest
                      overweight and obesity rate in sub-saharan Africa: 7 out of 10 women and 4 out of 10 men have more body
                      fat than is healthy.</p>

                    <p>A study by the medical Research council found that 61% of the south African population is overweight or
                      obese (almost double the world rate of nearly 30%). Black women have the highest obesity rate of any
                      demographic.</p>
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <hr>
              <p><strong>South African Society for Surgery, Obesity &amp; Metabolism (SASOM)</strong></p>

              <p><a href="tel:0113047821"><strong>011 304 7821</strong></a><strong> or&nbsp;</strong><a
                href="http://www.sasomonline.co.za"><strong>www.sasomonline.co.za</strong></a></p>

              <hr>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>


    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
