<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/emergencies/Emergency-Kit.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#plbbook/preface" class="bottomnav-links w-inline-block">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous</div>
        <div class="bottomnav-chapter">Preface</div>
      </a>
      <a href="#plbbook/health" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">2: Health</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 1: Emergencies</div>
      </div>
      <div class="lede w-richtext">
        <p>
          <i><strong>
          Medical emergency situations pose an immediate risk to a person’s life and can happen anytime: at
          home, in the  middle of the road, or in the workplace.
          </strong></i>
        </p>
        <p>
          Many fatalities could be prevented if attended to in good time. Ordinary people, and especially women,
          are often the first respondents in medical emergencies. Unfortunately, people can be hesitant to get
          involved because they are not sure of what to do. It is important that we all have some knowledge of
          how to manage emergency situations.
        </p>
        <p>
          The most important thing to remember in an emergency is that every second counts.
          Try to stay calm and act as quickly as you can.
        </p>
      </div>
      <div class="chaptercontent w-richtext">
        <div>
          <div class="section-header">What to do in an Emergency</div>
          <div>
            <ul>
              <li>Stay calm.</li>
              <li>Quickly assess the situation – do you need the police or an ambulance?</li>
              <li>Phone the emergency number and tell them:
                <ul>
                  <li>Where you are.</li>
                  <li>What has happened.</li>
                  <li>Why you need emergency help.</li>
                </ul>
              </li>
              <li>Follow the instructions given by the emergency officer.&nbsp;</li>
              <li>They may ask you to do CPR (see opposite)&nbsp;</li>
            </ul>
            <table>
              <thead>
              <tr>
                <th scope="col">Learn how to perform CPR - you could save a life!</th>
              </tr>
              </thead>
            </table>
          </div>
        </div>
        <br />

        <div>
          <div id="cpr" class="section-header">How to do CPR</div>
          <div>
            <p>Cardio Pulmonary Resuscitation (CPR) is performed to keep a person alive by breathing into their
              lungs and massaging their heart. It is lifesaving.</p>
            <p><strong>ABC</strong><br>
              Before performing CPR, you must check that the conditions are correct. You can do the ABC check:</p>
            <p><strong>A – Airway</strong></p>
            <ul>
              <li>Clear the mouth of any particles or obstructions.</li>
            </ul>
            <p><strong>B – Breathing</strong></p>
            <ul>
              <li>Listen for breathing</li>
              <li>Look for chest movement</li>
            </ul>
            <p><strong>C – Circulation</strong></p>
            <ul>
              <li>Feel pulse</li>
            </ul>
            <p><strong>If the person is not breathing, perform CPR:</strong></p>
            <ul>
              <li>Place your hands, one on top of the other, in the middle of the person’s chest. Push down about
                5 cm, quite hard and fast. do this 30 times.</li>
              <li>Tilt the person’s head back, lift their chin and pinch their nose shut. cover their mouth with
                yours and blow until you see their chest rise. Blow twice, for one second each time.</li>
              <li>Carry on with 30 chest pumps and two breaths until help arrives.</li>
            </ul>
            <p><strong>EMERGENCY NUMBERS</strong></p>
            <hr>
            <p><strong>Police - </strong><a href="tel:10111"><strong>10111</strong></a></p>
            <hr>
            <p><strong>Ambulance - </strong><a href="tel:10177"><strong>10177</strong></a></p>
            <hr>
            <p><strong>Any emergency from a cellphone (all networks) - </strong><a href="tel:112"><strong>112</strong></a></p>
            <hr>
            <p><strong>Resuscitation Council of South Africa - </strong>
              <a href="tel:0114783989"><strong>011 478 3989</strong></a><strong> or </strong>
              <a href="http://www.resus.co.za"><strong>www.resus.co.za</strong></a></p>
            <hr>
          </div>
        </div>
        <br />

        <div>
          <div class="section-header">Gender-based violence</div>
          <div>
            <div class="subsection-header">Domestic and Sexual abuse</div>
            <div>
              <p>South Africa has one of the highest incidences of domestic violence in the world. domestic
                abuse can have long lasting effects on the victim and her family.</p>
              <div><strong>What is domestic abuse?</strong></div>
              <p>Domestic abuse is violent behaviour between family or household members – wives and husbands,
                or ex-wives and ex-husbands, parents and children, boyfriends and girlfriends.</p>
              <p>The abusers can be men or women, but the people who are most often abused are women and children.</p>
              <p>Domestic abuse can be:</p>
              <p><img alt="stop the violence" src="assets/img/emergencies/Stop-Violence.png"></p>
              <ul>
                <li><strong>Physical abuse: </strong>Hitting, slapping, pulling hair, punching and using
                  objects to cause pain and harm. if someone, especially a partner, physically abuses you once,
                  he/she will almost certainly do it again. Physical abuse often gets worse over time.</li>
                <li><strong>Sexual abuse:</strong> Forcing somebody to have sex against their will, even if that person
                  is a spouse or a partner.</li>
                <li><strong>Emotional abuse:</strong> Being made to feel afraid, or feeling like you’re not a good person,
                  or like you’re going crazy. Partners who are jealous or possessive are often emotionally abusive.</li>
                <li><strong>Psychological abuse: </strong>Shameful behaviour towards someone (like insulting them or calling
                  them names or making them feel afraid), which makes them feel like a nobody.</li>
                <li><strong>Verbal abuse: </strong>Saying horrible things or calling people names to make them feel bad about
                  themselves.</li>
                <li><strong>Intimidation, harassment and stalking: </strong>Making people feel afraid by saying or doing
                  threatening things.</li>
              </ul>
              <div><strong>What to do if you experience domestic abuse</strong></div>
              <ul>
                <li>Don’t wait until you get hurt. Get help immediately.</li>
                <li>Talk about it. tell friends and family what’s going on.</li>
                <li>Apply for a protection order, in terms of the domestic Violence Act, &nbsp;no 116 of 1998.</li>
              </ul>
              <table>
                <thead>
                <tr>
                  <th>HOW TO GET A PROTECTION ORDER </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <p>A protection order is an order from a magistrate that lists the things that your abuser is not allowed
                      to do. if the abuser does these things, it means he/she has broken the order. he/she can be arrested
                      and taken to court.</p>
                    <ul>
                      <li>Go to your nearest magistrates’ court (see page 107) and fill in some required forms and/or
                        provide an affidavit. the court will give you an interim protection order.</li>
                      <li>On the ‘return date’ on the order, the magistrate will allow both you and the other person to tell
                        each side of the story. (if the other person doesn’t attend court on the return date and there’s proof
                        that he/she committed domestic violence, a final protection order will be issued in his/her absence.)</li>
                      <li>The magistrate will give you a final protection order if he/she is satisfied that domestic violence
                        is happening.</li>
                    </ul>
                  </td>
                </tr>
                </tbody>
              </table>
              <p><img alt="Ambulance Vehicle" src="assets/img/emergencies/Ambulance-Emergency.png"></p>
              <p><img alt="Emergency road sign" src="assets/img/emergencies/Emergency-Road.png"></p>
              <hr>
              <p><strong>Ambulance - </strong><a href="tel:10177"><strong>10177</strong></a></p>
              <hr>
              <p><strong>Police - </strong><a href="tel:10111"><strong>10111</strong></a></p>
              <hr>
              <p><strong>Stop Women Abuse Helpline (Lifeline) - </strong>
                <a href="tel:0800150150"><strong>0800 150 150</strong></a></p>
              <hr>
              <p><strong>The Trauma Centre (for survivors of violence and torture)</strong></p>
              <p><a href="tel:0214657373"><strong>021 465 7373</strong></a><strong> or </strong>
                <a href="http://www.trauma.org.za"><strong>www.trauma.org.za</strong></a></p>
              <hr>
              <p><strong>People Opposing Women Abuse</strong></p>
              <p>
                <strong>
                  <a href="tel:0116424345">011 642 4345</a>/
                  <a href="tel:0116424345">6</a> or
                  <a href="tel:0837651235">083 765 1235</a> or
                  <a href="http://www.powa.co.za">www.powa.co.za</a>
                </strong>
              </p>
              <hr>
              <p><strong><strong>Family and Marriage Association of South Africa (FAMSA)</strong></strong></p>
              <p>
                <strong>
                  <a href="tel:0119757106">011 975 7106</a>/
                  <a href="tel:0119757107">7</a> to find your nearest branch or
                  <a href="http://www.famsa.org.za">www.famsa.org.za</a>
                </strong>
              </p>
              <hr>
              <p><strong>Lifeline Emergency Counselling Line - <a href="tel:0114224242">011 421 0384</a></strong></p>
              <p><strong><strong>Aids helpline - </strong><a href="tel:0861322322"><strong>0800 012 322</strong></a></strong></p>
              <hr>
              <p><strong>Stop Gender Violence- <a href="tel:0800150150">0800 150 150</a></strong></p>
              <hr>
              <p><strong><strong>Legal Aid South Africa</strong></strong></p>
              <p><strong><a href="tel:0800110110">0800 110 110</a> or
                <a href="http://www.legal-aid.co.za">www.legal-aid.co.za</a></strong></p>
              <hr>
              <p><strong><strong>Rape Crisis 24-hour Crisis Line</strong></strong></p>
              <p><strong><a href="tel:0214471467">021 447 1467</a>/
                <a href="tel:0832225164">083 222 5164</a> or
                <a href="http://www.rapecrisis.org.za">www.rapecrisis.org.za</a></strong></p>
              <hr>
              <p><strong><strong><strong>Rape Crisis</strong></strong></strong></p>
              <p><strong>DBN Helpline (for rape)
                <a href="tel:0214479762">031 262 9673</a></strong></p>
              <hr>
              <p><strong>JHB POWA-
                <a href="tel:0214479762">011 642 4345</a></strong></p>
              <hr>
            </div>
            <br />
            <div class="subsection-header">Sexual harassment</div>
            <div>
              <p>If someone pays you attention that’s sexual in nature, and you don’t want them to or it makes you
                feel uncomfortable, that constitutes sexual harassment.</p>
              <p>South Africans are protected from sexual harassment by the Protection from harassment Act, no 17 of 2011.</p>
              <div>
                <p>Sexual harassment may be:</p>
                <ul>
                  <li>Unwanted physical contact, from touching, to sexual assault and rape.</li>
                  <li>Unwelcome sexual advances, comments with sexual overtones, sex-related jokes or insults, or unwelcome
                    comments about a person’s body made in their presence or directed towards them.&nbsp;</li>
                  <li>Unwelcome gestures, indecent exposure, or unwelcome displays of sexually explicit pictures and objects.</li>
                  <li>Requests for sex in exchange for a job, a promotion or a pay increase.</li>
                </ul>
                <table align="center">
                  <thead>
                  <tr>
                    <th scope="col">SEXUAL HARASSMENT IN THE WORKPLACE</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>
                      <p>Sexual harassment is a criminal offence under the Labour Relations Act, no 66 of 1995.</p>
                      <p>Your employer should be able to give you their policy on sexual harassment in the workplace.
                        Read it so that you know what to do if it happens to you.</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <p><img alt="Zero Tolerance" src="assets/img/emergencies/Zero-Tolerance.png"></p>
                <p>If you’re being sexually harassed at work:</p>
                <ul>
                  <li>Make notes: Write down all incidents, including the dates they happened and the names of people
                    who may have seen the incidents.</li>
                  <li>Let the person know that his/her behaviour is making you uncomfortable. If this makes you feel
                    unsafe, you can tell your manager.</li>
                  <li>Follow the steps that are set out in your employer’s policy and guidelines on what to do if you’re
                    sexually harassed in the workplace. You could also get help from someone in the human resources
                    department.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="chaptercontent w-richtext" *ngIf="extendedSections">-->
<!--        <div *ngFor="let section of extendedSections">-->
<!--          <div class="section-header" [innerHTML]="section?.sectionTitle"></div>-->
<!--          <div [innerHTML]="processDisplay(section?.story)"></div>-->
<!--          <div *ngIf="section.subsections">-->
<!--            <div *ngFor="let subsection of section.subsections">-->
<!--              <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>-->
<!--              <div [innerHTML]="subsection.story"></div>-->
<!--              <br>-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <a href="#plbbook/health" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">2: Health</div>
    </a>
  </div>
</div>
