<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/emergencies/Emergency-Kit.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#" class="bottomnav-links w-inline-block w-condition-invisible">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Always choose prototypes over mockups</div>
      </a>
      <a href="#/plbbook/health" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Health</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Emergencies</div>
      </div>
      <div class="lede lede-emergencies">Medical emergency situations pose an immediate risk to a person's
        life and can happen anytime: at home, in the middle of the road, or
        in the workplace.
      </div>
      <div class="chaptercontent w-richtext">
        <p>Many fatalities could be prevented if attended to in good time.
          Ordinary people, and especially women, are often the first respondents
          in medical emergencies. Unfortunately, people can be hesitant to get
          involved because they are not sure of what to do. It is important that we
          all have some knowledge of how to manage emergency situations.
        </p>

        <p>The most important thing to remember in an emergency is that every
          second counts. Try to stay calm and act as quickly as you can.
        </p>

        <div class="section-header">What to do in an emergency</div>
        <ul>
          <li>Stay calm.</li>
          <li>Quickly assess the situation - do you need the police or an ambulance?</li>
          <li>Phone the emergency number and tell them:
            <ul>
              <li>Where you are</li>
              <li>What has happened</li>
              <li>Why you need emergency help</li>
            </ul>
          </li>
          <li> Follow the instructions given by the emergency officer. They may ask you to do CPR (see opposite).</li>
        </ul>
        <div class="section-header">How to do CPR</div>
        <p>Cardio Pulmonary Resuscitation (CPR) is performed to keep a person alive by breathing
          into their lungs and massaging their heart. It is lifesaving.
        </p>

        <div><strong>ABC</strong></div>
        <p>Before performing CPR, you must check that the conditions are correct. You can do the ABC check:</p>

        <div>A - Airway</div>
        <ul>
          <li>Clear the mouth of any particles or obstructions.</li>
        </ul>

        <div>B - Breathing</div>
        <ul>
          <li>Listen for breathing</li>
          <li>Look for chest movement</li>
        </ul>

        <div>C - Circulation</div>
        <ul>
          <li>Feel pulse</li>
        </ul>

        <div><h4><strong>If the person is not breathing, perform CPR:</strong></h4></div>
        <ul>
          <li>Place your hands, one on top of the other, in the middle of the person’s chest. Push
            down about 5 cm, quite hard and fast. do this 30 times.
          </li>
          <li>Tilt the person’s head back, lift their chin and pinch their nose shut. cover their
            mouth with yours and blow until you see their chest rise. Blow twice, for one second
            each time.
          </li>
          <li>Carry on with 30 chest pumps and two breaths until help arrives.</li>
        </ul>
        <br>
        <div><strong>EMERGENCY NUMBERS</strong></div>
        <hr>
        <p><strong>Police - 10111</strong></p>
        <hr>
        <p><strong>Ambulance - 10177</strong></p>
        <hr>
        <p><strong>Any emergency from a cellphone (all networks) - 112</strong></p>
        <hr>
        <p><strong>Resuscitation Council of South Africa <br> 011 478 3989 or <a
          href="http://www.resus.co.za">resus.co.za</a></strong></p>
        <hr>
        <br>

        <div class="section-header">Gender-based Violence</div>
        <div><strong>DOMESTIC AND SEXUAL ABUSE</strong></div>
        <p>South Africa has one of the highest incidences of domestic violence in the world.
          domestic abuse can have long lasting effects on the victim and her family.
        </p>
        <br>
        <div><h4><strong>What is domestic abuse?</strong></h4></div>
        <p>Domestic abuse is violent behaviour between family or household members – wives
          and husbands, or ex-wives and ex-husbands, parents and children, boyfriends and
          girlfriends.
        </p>
        <p>The abusers can be men or women, but the people who are most often abused are
          women and children.
        </p>
        <p>Domestic abuse can be:</p>
        <div><img src="../../assets/img/emergencies/Stop-Violence.png" alt="Stop the violence" width="500px"></div>
        <br>
        <ul>
          <li><strong>Physical abuse:</strong> Hitting, slapping, pulling hair, punching and using objects to cause
            pain and harm. If someone, especially a partner, physically abuses you once, he/she
            will almost certainly do it again. Physical abuse often gets worse over time.
          </li>
          <li><strong>Sexual abuse:</strong> Forcing somebody to have sex against their will, even if that person
            is a spouse or a partner.
          </li>
          <li><strong>Emotional abuse:</strong> Being made to feel afraid, or feeling like you’re not a good
            person, or like you’re going crazy. Partners who are jealous or possessive are often
            emotionally abusive.
          </li>
          <li><strong>Psychological abuse:</strong> Shameful behaviour towards someone (like insulting them
            or calling them names or making them feel afraid), which makes them feel like a
            nobody.
          </li>
          <li><strong>Verbal abuse:</strong> Saying horrible things or calling people names to make them feel
            bad about themselves.
          </li>
          <li><strong> Intimidation, harassment and stalking:</strong> Making people feel afraid by saying or
            doing threatening things.
          </li>
        </ul>
        <br>
        <p><strong>What to do if you experience domestic abuse</strong></p>
        <ul>
          <li>Don’t wait until you get hurt. Get help immediately.</li>
          <li>Talk about it. Tell friends and family what’s going on.</li>
          <li>Apply for a protection order, in terms of the Domestic Violence Act,
            No 116 of 1998.
          </li>
        </ul>
        <br>
        <table id="pink-table">
          <tr>
            <th>HOW TO GET A PROTECTION ORDER</th>
          </tr>
          <tr>
            <td><p>A protection order is an order from a magistrate that lists the things that your abuser
              is not allowed to do. If the abuser does these things, it means he/she has broken the
              order. He/she can be arrested and taken to court.
            </p>
              <br>
              <ul>
                <li>Go to your nearest Magistrates’ Court (see page 107) and fill in some required forms
                  and/or provide an affidavit. The court will give you an interim protection order.
                </li>
                <li>On the ‘return date’ on the order, the Magistrate will allow both you and the other
                  person to tell each side of the story. (If the other person doesn’t attend court on
                  the return date and there’s proof that he/she committed domestic violence, a final
                  protection order will be issued in his/her absence.)
                </li>
                <li>The Magistrate will give you a final protection order if he/she is satisfied that domestic
                  violence is happening.
                </li>
              </ul>
            </td>
          </tr>
        </table>
        <br>
        <div><img src="../../assets/img/emergencies/Ambulance-Emergency.png" alt="Ambulance vehicle">
          <img style="float: right" src="../../assets/img/emergencies/Emergency-Road.png" alt="Emergency road sign">
        </div>
        <br>
        <hr>
        <p><strong>Ambulance/Emergency Services - 10177</strong></p>
        <hr>
        <p><strong>Police - 10111</strong></p>
        <hr>
        <p><strong>Stop Women Abuse Helpline (Lifeline) - 0800 150 150</strong></p>
        <hr>
        <p><strong>The Trauma Centre (for survivors of violence and torture) <br> 021 465 7373 or
          <a href="http://www.trauma.org.za">trauma.org.za</a></strong></p>
        <hr>
        <p><strong>People Opposing Women Abuse (POWA) <br> 011 642 4345/6 or 083 765 1235 or
          <a href="http://www.powa.co.za">powa.co.za</a></strong></p>
        <hr>
        <p><strong>Family and Marriage Association of South Africa (FAMSA) <br> 011 975 7106/7 to find your nearest
          branch or
          <a href="http://www.famsa.org.za">famsa.org.za</a></strong></p>
        <hr>
        <p><strong>Lifeline Emergency Counselling Line <br> 011 422 4242 or 0861 322 322</strong></p>
        <hr>
        <p><strong>Legal Aid South Africa <br> 0800 110 110 or
          <a href="http://www.leagl-aid.co.za">legal-aid.co.za</a></strong></p>
        <hr>
        <p><strong>Rape Crisis 24-hour Crisis Line <br> 021 447 9762 or
          <a href="http://www.rapecrisis.org.za">rapecrisis.org.za</a></strong></p>
        <hr>
        <br>

        <div><strong>SEXUAL HARASSMENT</strong></div>
        <p>If someone pays you attention that’s sexual in nature, and you don’t want them to or it
          makes you feel uncomfortable, that constitutes sexual harassment.
        </p>
        <p>South Africans are protected from sexual harassment by the Protection from Harassment
          Act, No 17 of 2011.
        </p>
        <p>Sexual harassment may be:</p>
        <ul>
          <li>Unwanted physical contact, from touching, to sexual assault and rape.</li>
          <li>Unwelcome sexual advances, comments with sexual overtones, sex-related jokes or
            insults, or unwelcome comments about a person’s body made in their presence or
            directed towards them.
          </li>
          <li>Unwelcome gestures, indecent exposure, or unwelcome displays of sexually explicit
            pictures and objects.
          </li>
          <li>Requests for sex in exchange for a job, a promotion or a pay increase.</li>
        </ul>
        <br>
        <table id="pink-table">
          <tr>
            <th>SEXUAL HARASSMENT IN THE WORKPLACE</th>
          </tr>
          <tr>
            <td><p>Sexual harassment is a criminal offence under the Labour Relations Act, No 66 of 1995.</p>
              <p>Your employer should be able to give you their policy on sexual harassment in the
                workplace. Read it so that you know what to do if it happens to you.
              </p>
            </td>
          </tr>
        </table>
        <br>
        <p>If you're being sexually harassed at work:</p>
        <ul>
          <li>Make notes: Write down all incidents, including the dates they happened and the
            names of people who may have seen the incidents.
          </li>
          <li>Let the person know that his/her behaviour is making you uncomfortable. If this
            makes you feel unsafe, you can tell your manager.
          </li>
          <li>Follow the steps that are set out in your employer’s policy and guidelines on what
            to do if you’re sexually harassed in the workplace. You could also get help from
            someone in the human resources department.
          </li>
        </ul>
        <div><img src="../../assets/img/emergencies/Zero-Tolerance.png" alt="Zero Tolerance" width="400px"></div>

      </div>
    </div>

    <a href="#/plbbook/health" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Health</div>
    </a>
  </div>
</div>
