<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/Emergencies/Emergency-Kit.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#" class="bottomnav-links w-inline-block w-condition-invisible">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Always choose prototypes over mockups</div>
      </a>
      <a href="#/plbbook/health" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Health</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Emergencies</div>
      </div>
      <div class="lede lede-emergencies">Medical emergency situations pose an immediate risk to a person's
        life and can happen anytime: at home, in the middle of the road, or
        in the workplace.</div>
      <div class="chaptercontent w-richtext">
        <p>Many fatalities could be prevented if attended to in good time.
          Ordinary people, and especially women, are often the first respondents
          in medical emergencies. Unfortunately, people can be hesitant to get
          involved because they are not sure of what to do. It is important that we
          all have some knowledge of how to manage emergency situations.
        </p>

        <p>The most important thing to remember in an emergency is that every
          second counts. Try to stay calm and act as quickly as you can.</p>

        <div class="section-header">What to do in an emergency</div>
        <ul>
          <li>Stay calm.</li>
          <li>Quickly assess the situation - do you need the police or an ambulance?</li>
          <li>Phone the emergency number and tell them:
            <ul>
              <li>Where you are</li>
              <li>What has happened</li>
              <li>Why you need emergency help</li>
            </ul>
          </li>
          <li> Follow the instructions given by the emergency officer. They may ask you to do CPR (see opposite).</li>
        </ul>
        <div class="section-header">How to do CPR</div>
        <p>Cardio Pulmonary Resuscitation (CPR) is performed to keep a person alive by breathing
          into their lungs and massaging their heart. It is lifesaving.</p>

        <div><strong>ABC</strong></div>
        <p>Before performing CPR, you must check that the conditions are correct. You can do the ABC check:</p>

        <div>A - Airway</div>
        <ul>
          <li>Clear the mouth of any particles or obstructions.</li>
        </ul>

        <div>B - Breathing</div>
        <ul>
          <li>Listen for breathing</li>
          <li>Look for chest movement</li>
        </ul>

        <div>C - Circulation</div>
        <ul>
          <li>Feel pulse</li>
        </ul>

        <div><h4><strong>If the person is not breathing, perform CPR:</strong></h4></div>
        <ul>
          <li>Place your hands, one on top of the other, in the middle of the person’s chest. Push
            down about 5 cm, quite hard and fast. do this 30 times.</li>
          <li>Tilt the person’s head back, lift their chin and pinch their nose shut. cover their
            mouth with yours and blow until you see their chest rise. Blow twice, for one second
            each time.</li>
          <li>Carry on with 30 chest pumps and two breaths until help arrives.</li>
        </ul>


      </div>
    </div>

    <a href="#/plbbook/health" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Health</div>
    </a>
  </div>
</div>
