<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <a href="#" (click)="showMenu()" ><img src="assets/img/Logo_BlackBook.jpg"></a>
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#/plbbook/foreword" class="bottomnav-links w-inline-block" (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous</div>
        <div class="bottomnav-chapter">Foreword</div>
      </a>
      <a href="#/plbbook/emergencies" class="bottomnav-links cc-center w-inline-block"
         (click)="closeMenu()">
        <div class="previous-next">Chapter One<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">Emergencies</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Preface: Why Publish A Resource Guide for Women?</div>
      </div>
      <div class="lede w-richtext">
        <p>Women play a critical role in improving the wellbeing and living standards of their
          families and communities. They are generally the primary caregivers to the young, the
          elderly and the sick. They bear the consequences of decisions related to family size,
          children’s education, and family finances among many responsibilities. This role often
          places them front and centre of major economic, social and political activities in their
          families and society.</p>
        <p>In order to fulfil this role, women must ensure that they take care of themselves in much
          the same way that flight attendants advise parents in emergency situations to first fit
          their own oxygen mask before helping others, including young children. So, women
          must first make certain that they are well-equipped physically, mentally and emotionally
          to be active participants in their family lives and society in general.</p>
        <p>I believe that appropriate information empowers women by giving them tools to
          transform their lives, allowing them to be more independent, to be effective participants
          in the economy, and to be agents of change. In South Africa, despite enormous progress
          towards women’s empowerment, women are still under-represented in many spheres
          of socioeconomic and political decision making. This is affected by the considerable
          difference in women’s and men’s access to information, opportunities and resources,
          which impacts their ability to participate meaningfully in socioeconomic structures in
          their communities.</p>
        <p>This book helps to fill the gap by providing basic but critical information on health,
          education and finance, as well as social and legal matters. It is my hope that this
          guide will be a hands-on resource to help women make informed decisions and to
          take charge of various aspects of their lives. It will also provide practical and specific
          information and advice, as and when it is needed.</p>
        <p>In 2016, we marked the 60th anniversary of the 1956 Women’s March to Pretoria. We
          acknowledge the progress made in advancing the welfare of women. I am confident
          that we will achieve a more inclusive society where men and women, girls and boys
          have the same access to information and opportunities in order to improve their lives
          and work towards improving the lives of those less fortunate than themselves.</p>
        <p><strong>Dr Precious Moloi-Motsepe</strong><br />
          Johannesburg, 2017
        </p>
      </div>
    </div>

    <a href="#/plbbook/emergencies" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Chapter One</div>
      <div class="bottomnav-chapter">Emergencies</div>
    </a>
  </div>
</div>
