<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/family/Happy-Family.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 3 - Family</div>
      </div>
      <div>
        <div class="section-header">ELDERLY FAMILY MEMBERS</div>
        <div>
          <p>The elderly have a great deal to offer their families and communities. Some grandparents spend time taking
            care of children while parents are working or unavailable. The older generation also has important advice
            and
            wisdom to share with younger family members.</p>

          <p>But as people get older, they may need help with daily activities; they may need additional healthcare, and
            as they become frail, they may become vulnerable to abuse.</p>

          <p>To qualify for a Grant for Older Persons you must:</p>

          <ul>
            <li>Be a south African citizen, permanent resident or refugee.</li>
            <li>Be living in south Africa.</li>
            <li>Be 60 years or older.</li>
            <li>Not be receiving another grant for yourself.</li>
            <li>Not be being cared for by a state institution.</li>
          </ul>

          <p>You and/or your spouse may be required to complete a means test (to assess your financial need).</p>

          <hr>
          <p><strong>Social Grants Helpline - </strong><a href="tel:0800601011"><strong>0800 601 011</strong></a></p>

          <hr>
          <p><strong>South African Social Security Agency (SASSA)</strong></p>

          <p><a href="tel:0800601011"><strong>0800 601 011</strong></a><strong> (to find where your nearest SASSA office
            is) or&nbsp;</strong><a href="http://www.sassa.org.za"><strong>www.sassa.org.za</strong></a></p>
          <div _ngcontent-gol-c16="" class="subsection-header">Housing for the elderly</div>
          <div _ngcontent-gol-c16=""><p>&nbsp;</p>

            <p>If you are in need of constant care and would like to go to an old-age home, you can contact your local
              Social Development office. In order to be admitted, you have to meet certain requirements:</p>

            <ul>
              <li>You are frail and in need of 24-hour care in an old-age home.</li>
              <li>&nbsp;You receive a grant for older persons (see page 123).</li>
              <li>&nbsp;You are a woman over the age of 60 or a man over the age of 65.</li>
            </ul>

            <hr>
            <p><strong>Department of Social Development</strong></p>

            <p><strong><a href="tel:0123127794">012 312 7794</a>/<a href="tel:0123127500">7500</a> <a
              href="http://www.dsd.gov.za">www.dsd.gov.za</a></strong></p>

            <hr>
            <p><strong>South African Social Security Agency (SASSA)</strong></p>

            <p><strong><a href="tel:0800601011">0800 601 011</a><a href="http://www.sassa.gov.za">
              www.sassa.gov.za</a></strong></p>

            <hr>
            <p><strong>South Africa Older Persons Forum</strong></p>

            <p><strong><a href="tel:0214225286">021 422 5286</a> <a
              href="http://www.saopf.org.za">www.saopf.org.za</a></strong></p>

            <hr>
            <p><strong>Age in Action</strong></p>

            <p><strong><a href="tel:0113318509">011 331 8509</a>/<a href="tel:0800333231">0800 333 231</a> <a
              href="http://www.age-in-action.co.za">www.age-in-action.co.za</a></strong></p>

            <hr>
            <p><strong>Abbeyfield South Africa</strong></p>

            <p><strong><a href="tel:0216716535">021 671 6535</a> <a href="http://www.abbeyfield.co.za">www.abbeyfield.co.za</a></strong>
            </p>

            <hr>
          </div>
          <br _ngcontent-gol-c16=""></div>
        <div>
          <div class="subsection-header">Abuse of elders</div>
          <table cellpadding="1" cellspacing="1">
            <thead>
            <tr>
              <th scope="col">If you see any signs of abuse in someone you know, report it immediately. You can call a
                helpline anonymously if you don’t want to be identified.
              </th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>

          <p>Many senior citizens are abused every day in their homes, communities or nursing homes. Most often the
            abuser is closely related to the victim, such as a family member, or someone who is trusted by the rest of
            the family.</p>

          <p>Elderly people can suffer physical and sexual abuse, as well as psychological, emotional and verbal abuse.
            Lack of proper care and neglect are also forms of abuse, and are in fact the most common forms of elder
            abuse in South Africa.</p>

          <p>Image Here</p>

          <p>Signs that an elder may be being abused:</p>

          <ul>
            <li>Unexplained injuries such as bruises or welts, including around the breasts or genitals.</li>
            <li>Signs of being tied up, such as rope marks on wrists.</li>
            <li>The caregiver’s refusal to allow you to see the elder alone.</li>
            <li>Unexplained STIs (see page 74) or genital infections.</li>
            <li>Unexplained vaginal or anal bleeding.</li>
            <li>Torn, stained or bloody underclothing.</li>
            <li>Unusual weight loss, malnutrition or dehydration.</li>
            <li>Untreated physical problems, such as bed sores.</li>
            <li>Unsanitary living conditions: dirt, bugs, soiled bedding and clothes.</li>
          </ul>

          <p>Abuse of the elderly is a crime. If you’re being abused, speak to a trusted family member and report it to
            the nearest police station.</p>

          <hr>
          <p><strong>SAPS/Emergency Services <a href="tel:10111">10111</a></strong></p>

          <hr>
          <p><strong>Halt Elder Abuse Hotline (HEAL) <a href="tel:0800003081">0800 00 30 81</a></strong></p>

          <hr>
          <p><strong>South African Gerontological Society <a href="tel:0114837497">011 483 7497</a></strong></p>

          <hr>
          <p>&nbsp;</p>

          <p><strong>DEPARTMENT OF SOCIAL DEVELOPMENT&nbsp;&nbsp;OFFICES</strong></p>

          <hr>
          <p><strong>EASTERN CAPE</strong></p>

          <p><strong>Dukumbana Building, 1st Floor, Independent Avenue, Bisho, 5605</strong></p>

          <p><strong><a href="tel:0436055004">043 605 5004</a></strong></p>

          <hr>
          <p><strong>FREE STAT E</strong></p>

          <p><strong>Old Mutual Building, 3rd Floor, Maitland Street, Bloemfontein, 9300</strong></p>

          <p><strong><a href="tel:0514000307">051 4000 307</a>/<a href="tel:0514000304">304</a></strong></p>

          <hr>
          <p><strong>GAUTENG</strong></p>

          <p><strong>Thusanong Building, 11th Floor, 69 Commissioner Street, Johannesburg, 2000</strong></p>

          <p><strong><a href="tel:0113557687">011 355 7687</a></strong></p>

          <hr>
          <p><strong>KWAZULU-NATAL</strong></p>

          <p><strong>208 Hoosen Hassagee Street, Ground Floor, Pietermaritzburg, 3200</strong></p>

          <p><strong><a href="tel:0332645402">033 264 5402</a></strong></p>

          <hr>
          <p><strong>LIMPOPO 21 Biccard Street, Polokwane <a href="tel:0152304300">015 230 4300</a></strong></p>

          <hr>
          <p><strong>MPUMALANGA</strong></p>

          <p><strong>7 Government Boulevard, Building 3, Riverside Park, Extension 2, Nelspruit, 1200</strong></p>

          <p><strong><a href="tel:0137663097">013 766 3097</a></strong></p>

          <hr>
          <p><strong>NORTHERN CAPE</strong></p>

          <p><strong>Mimosa Complex, Barkly Road, Homestead, Kimberley, 8300</strong></p>

          <p><strong><a href="tel:0538749100">053 874 9100</a></strong></p>

          <hr>
          <p><strong>NORTH WEST</strong></p>

          <p><strong>Provident House Building, 4th Floor, University Drive, Mmabatho, 2735</strong></p>

          <p><strong><a href="tel:0183881668">018 388 1668</a></strong></p>

          <hr>
          <p><strong>WESTERN CAPE</strong></p>

          <p><strong>Union House, 7th Floor, 14 Queen Victoria Street, Cape Town, 8000</strong></p>

          <p><strong><a href="tel:0214833858">021 483 3858</a></strong></p>

          <hr>
          <p>&nbsp;</p>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
