<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <a href="#" (click)="showMenu()" ><img src="assets/img/Logo_BlackBook.jpg"></a>
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#/plbbook/acknowledgements" class="bottomnav-links w-inline-block" (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous</div>
        <div class="bottomnav-chapter">Acknowledgements</div>
      </a>
      <a href="#/plbbook/preface" class="bottomnav-links cc-center w-inline-block"
         (click)="closeMenu()">
        <div class="previous-next">Next<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">Preface: Why Publish A Resource Guide for Women?</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Foreword</div>
      </div>
      <div class="lede w-richtext">
        <p>South Africa celebrated 20 years of the Constitution in 2016, and it is indeed 20 years
          of progress for women’s rights. Rights, however, will only lead to empowerment if they
          are known, promoted, protected and used.</p>
        <p><em>The Precious Little Black Book</em> is an important and timely reference, providing easily
          accessible information to women on a range of issues: from what to do in emergencies,
          to contact details for different support groups, how to access educational opportunities,
          to preparing for an interview. There are also very useful sections on parenting and
          family planning. Women’s rights are human rights, and the section on citizens’ rights
          is particularly useful.</p>
        <p>It is now the accepted wisdom that the empowerment of girls and women has a
          multiplier effect: it leads to improved education and health outcomes for families and
          communities. As the founder of the democratic South Africa, President Nelson Mandela
          said: “Freedom cannot be achieved unless the women have been emancipated from all
          forms of oppression”.</p>
        <p>The Precious Little Black Book is a necessary tool to empower women of all ages, and
          contains information on issues that girls and women might wonder about silently.</p>
        <p><strong>Dr Nkosazana Dlamini-Zuma</strong></p>
      </div>
    </div>

    <a href="#/plbbook/preface" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next</div>
      <div class="bottomnav-chapter">Preface: Why Publish A Resource Guide for Women?</div>
    </a>
  </div>
</div>
