<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/useful_contacts/Useful-Contacts-for-Females.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 8 - Useful Contacts</div>
      </div>
      <div class="section-header">MASTERS OF THE HIGH COURT</div>
      <div>
        <div _ngcontent-imd-c17=""><p>The Master of the High Court serves the public regarding deceased estates, liquidations (insolvent estates), registration of trusts, tutors and curators, as well as administration of the Guardian’s Fund (protecting the funds of minors and mentally challenged people).</p>

          <hr>
          <p><strong>Bloemfontein</strong></p>

          <p><a href="tel:0514115500"><strong>051 411 5500</strong></a></p>

          <p><strong>Southern Life Building, cnr Charlotte Maxeke (Maitland) and Aliwal streets, Bloemfontein 9301.</strong></p>

          <hr>
          <p><strong>Cape Town</strong></p>

          <p><a href="tel:0214108300"><strong>021 410 8300</strong></a></p>

          <p><strong>High Court, Parade Street, Cape Town 8001.</strong></p>

          <hr>
          <p><strong>Durban</strong></p>

          <p><a href="tel:0313060123"><strong>031 306 0123</strong></a></p>

          <p><strong>2 Devonshire Place, 2nd Floor, Durban 4001.</strong></p>

          <hr>
          <p><strong>Grahamstown</strong></p>

          <p><a href="tel:0466034000"><strong>046 603 4000</strong></a></p>

          <p><strong>5 Bathurst Street, Grahamstown 6139.</strong></p>

          <hr>
          <p><strong>Johannesburg</strong></p>

          <p><a href="tel:0114298000"><strong>011 429 8000</strong></a><br>
            <a href="tel:0114298001"><strong>011 429 8001</strong></a></p>

          <p><strong>Hollard Building, 66 Marshall Street (cnr Sauer and Marshall sts), Johannesburg 2000.</strong></p>

          <hr>
          <p><strong>Kimberley</strong></p>

          <p><a href="tel:0538311942"><strong>053 831 1942</strong></a></p>

          <p><strong>Civic Centre, Sol Plaatjie Drive, Kimberley 8300.</strong></p>

          <hr>
          <p><strong>Mahikeng</strong></p>

          <p><a href="tel:0183818585"><strong>018 381 8585</strong></a></p>

          <p><strong>Justice Chambers, 44 Shippard Street, Mahikeng 2745.</strong></p>

          <hr>
          <p><strong>Mthatha</strong></p>

          <p><a href="tel:0475312120"><strong>047 531 2120</strong></a></p>

          <p><strong>Holy Cross Building, 7 Craister Street, Mthatha,5099.</strong></p>

          <hr>
          <p><strong>Nelspruit</strong></p>

          <p><a href="tel:0137522755"><strong>013 752 2755</strong></a></p>

          <p><strong>3 Marloth and Russell Street, Nelspruit 1200.</strong></p>

          <hr>
          <p><strong>Pietermaritzburg</strong></p>

          <p><a href="tel:0332647000"><strong>033 264 7000</strong></a></p>

          <p><strong>Colonial Building, 241 Church Street, Pietermaritzburg 3201.</strong></p>

          <hr>
          <p><strong>Polokwane</strong></p>

          <p><a href="tel:0152306000"><strong>015 230 6000</strong></a></p>

          <p><strong>Polokwane High Court Building, 4th Floor, Block B, cnr Bodenstein and Biccard streets, Polokwane 0700 .</strong></p>

          <hr>
          <p><strong>Port Elizabeth</strong></p>

          <p><a href="tel:0414035100"><strong>041 403 5100</strong></a></p>

          <p><strong>523 Govan Mbeki Avenue (cnr Crawford and Govan Mbeki Avenue), North End, Port Elizabeth 6001.</strong></p>

          <hr>
          <p><strong>Pretoria</strong></p>

          <p><a href="tel:0123397700"><strong>012 339 7700</strong></a><br>
            <a href="tel:0123397808"><strong>012 339 7808</strong></a></p>

          <p><strong><strong>SALU Building, 316 Thabo Sehume Street, Pretoria.</strong></strong></p>

          <hr>
          <p><strong>Thohoyando</strong></p>

          <p><a href="tel:0159621032"><strong>015 962 1032</strong></a></p>

          <p><strong>Venda Government Building Complex, Thohoyando 0950.</strong></p>

          <hr>
          <p>&nbsp;</p>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
