<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a href="#/plbbook/finance-and-banking" class="bottomnav-links w-inline-block" (click)="closeMenu()">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Finance and Banking</div>
      </a>
      <a href="#/plbbook/useful-contacts" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Useful Contacts</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Know your rights</div>
      </div>
      <div class="lede lede-emergencies">
        Human rights are the basic rights of every woman, man and child.
      </div>
      <div class="chaptercontent w-richtext">
        <p>
          It is important for you to make sure that you know and understand your human rights. This will help you
          to defend yourself if your rights are being violated.
        </p>

      </div>
    </div>

    <a href="#/plbbook/useful-contacts" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Useful Contacts</div>
    </a>
  </div>
</div>
