<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block" (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>
      </a>
      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter {{CURRENT_CHAPTER}} {{chapter?.chapterTitle}}</div>
      </div>
      <div class="lede w-richtext" [innerHTML]="chapter?.story"></div>
      <div class="chaptercontent w-richtext" *ngIf="extendedSections">
        <div *ngFor="let section of extendedSections">
          <div class="section-header" [innerHTML]="section?.sectionTitle"></div>
          <div [innerHTML]="section?.story"></div>
          <div *ngIf="section.subsections">
            <div *ngFor="let subsection of section.subsections">
              <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
              <div [innerHTML]="subsection.story"></div>
              <br>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!--<div class="chaptercontent w-richtext">-->
        <!--<p>-->
          <!--It is important for you to make sure that you know and understand your human rights. This will help you-->
          <!--to defend yourself if your rights are being violated.-->
        <!--</p>-->

        <!--<p>-->
          <!--In South Africa we celebrate Human Rights Day every year on-->
          <!--21 March.-->
        <!--</p>-->

        <!--<div class="section-header">YOUR BASIC CONSTITUTIONAL RIGHTS</div>-->
        <!--<p>-->
          <!--The highest law of South Africa is the Constitution, and this includes the Bill of Rights.-->
          <!--The South Africa Constitution gives a full range of rights and protection for all citizens.-->
        <!--</p>-->

        <!--<p>-->
          <!--The Constitution states that South Africa belongs to everyone who lives in it, and that-->
          <!--everyone is entitled to human dignity, equality and freedom. This means that our rights-->
          <!--as women are protected by it.-->
        <!--</p>-->

        <!--<p>-->
          <!--Section 9 of the Constitution says:-->
        <!--</p>-->
        <!--<ul>-->
          <!--<li>Everyone is equal before the law and has the right to equal protection and benefit-->
            <!--of the law</li>-->
          <!--<li>Equality includes the full and equal enjoyment of all rights and freedoms. </li>-->
          <!--<li>The Constitution promotes the achievement of equality, legislative and other measures-->
            <!--designed to protect or advance people disadvantaged by unfair discrimination may-->
            <!--be taken.</li>-->
          <!--<li>The State may not unfairly discriminate against anyone for any reason, including-->
            <!--race, gender, sex, pregnancy, marital status, ethnic or social origin, colour, sexual-->
            <!--orientation, age, disability, religion, conscience, belief, culture, language and birth.</li>-->
          <!--<li>No person may unfairly discriminate against anyone else.</li>-->
        <!--</ul>-->

        <!--<div class="section-header">DETENTION AND ARREST</div>-->
        <!--<ul>-->
          <!--<li>You must be told immediately of the reason for being arrested or detained.</li>-->
          <!--<li>You must be taken to a police station as soon as possible after your arrest. This is to-->
            <!--ensure that you are in the custody of the SAPS as soon as possible.</li>-->
          <!--<li>You may not be detained by the police for more than 48 hours.</li>-->
          <!--<li>You must be told of your right to remain silent, and of the consequences of not-->
            <!--remaining silent. </li>-->
          <!--<li>You may not be forced to make any confession or admission of guilt. </li>-->
          <!--<li>You must be allowed to choose and consult with a lawyer or to apply for legal aid </li>-->
          <!--<li>You must be treated with dignity, and given proper accommodation, food and medical-->
            <!--treatment if needed. </li>-->
          <!--<li>You must be allowed to be visited by family, your partner/spouse, religious counsellor-->
            <!--or medical practitioner if needed. </li>-->
          <!--<li>You must be brought before a court as soon as possible.</li>-->
          <!--<li>You must be charged, or be informed of the reason for your detention to continue, at-->
            <!--the first court appearance after being arrested. </li>-->
          <!--<li>You must be released from detention if the interests of justice allow this, subject to-->
            <!--reasonable conditions. </li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<div><img src="../../assets/img/know_your_rights/Handcuffs-Arrest-Detention.png" alt="Handcuffs-Arrest-Detention" width="500px"></div>-->
        <!--<p>-->
          <!--If you feel you’ve been treated badly by the police, you have the right to make a complaint-->
          <!--to the officer in charge, who must investigate and take action. Try to remember the-->
          <!--name of the officer who gave poor service.-->
        <!--</p>-->

        <!--<p>-->
          <!--You can also lodge a complaint with the Independent Police Investigative Directorate.-->
        <!--</p>-->
        <!--<br>-->

        <!--<hr>-->
        <!--Independent Police Investigative Directorate<br>-->
        <!--012 399 <a href="http://www.icd.gov.za/">www.icd.gov.za</a>-->
        <!--<hr>-->
      <!--</div>-->
    </div>

    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>
    </a>
  </div>
</div>
