<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/useful_contacts/Useful-Contacts-for-Females.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 8 - Useful contacts</div>
      </div>
      <div class="section-header">THUSONG SERVICE CENTRES</div>
      <div>
        <div _ngcontent-imd-c18=""><div>
          <div>
            <p>The <a href="http://www.thusong.gov.za/" target="_blank">Thusong Service Centres</a> are one-stop centres where you can get access to government services and information, and at the same time give feedback on government services.</p>
          </div>

          <div>
            <p>The Thusong Service Centres can help you with government services, pension assistance, unemployment and ID documents, amongst others.</p>
          </div>

          <div>
            <p>Contact your Government Communication and Information System provincial office (below) to get the number and directions to the centre closest to you.</p>
          </div>

          <div>
            <hr>
            <div>
              <p><strong>Eastern Cape:&nbsp;&nbsp;<a href="tel:0437222602">043 722 2602</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Free State:&nbsp;&nbsp;<a href="tel:0514484504">051 448 4504</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Gauteng:&nbsp;&nbsp;<a href="tel:0118343560">011 834 3560</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>KwaZulu-Natal:&nbsp;&nbsp;<a href="tel:0313016787">031 301 6787</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Limpopo:&nbsp;&nbsp;<a href="tel:0152914689">015 291 4689</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Mpumalanga:&nbsp;&nbsp;<a href="tel:0137532397">013 753 2397</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>North West:&nbsp;&nbsp;<a href="tel:0183817071">018 381 7071</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Northern Cape:&nbsp;&nbsp;<a href="tel:0538321378">053 832 1378/9</a></strong></p>
            </div>

            <hr>
            <div>
              <p><strong>Western Cape:&nbsp;&nbsp;<a href="tel:0216970145">021 697 0145</a></strong></p>
            </div>

            <hr></div>
        </div>

          <p>&nbsp;</p>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
