<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter {{CHAPTER_NUMBER}} - {{chapter?.chapterTitle}}</div>
      </div>
      <div  class="section-header">Lung diseases</div>
      <div  class="ng-star-inserted"><!----><div  class="ng-star-inserted"><div  class="subsection-header">Athma</div><div _ngcontent-gol-c5=""><p>Asthma occurs when the tubes that carry air in and out of the lungs become inflamed, meaning that they swell and produce lots of thick mucus. the muscles surrounding the airways tighten, making the airways narrow. this can cause shortness of breath, wheezing, tightness in the chest and coughing.</p>

        <p>Asthma is the most common chronic disease in children.</p>

        <p>Asthma can’t be cured or prevented, but with proper diagnosis and the right medicine and treatment, it can be controlled and managed. People with asthma can lead healthy lives – in fact, some of the greatest athletes in the world suffer from asthma, including Bafana Bafana and Ajax cape town goalkeeper Moeneeb Josephs and Olympic gold medal-winning swimmer Roland Schoeman.</p>

        <p>To manage asthma properly, you need to see your doctor first. He/she will measure your lung function (how well your lungs work) with a peak-flow meter, show you how to use an inhaler, explain what may trigger an attack and how to avoid this, and if necessary, prescribe additional treatment.</p>

        <table cellpadding="1" cellspacing="1">
          <thead>
          <tr>
            <th scope="col">ASTHMA IN SOUTH AFRICA</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <ul>
                <li>According to the 2014 Global Asthma Report, south Africa has the highest reported mortality (death) rate for asthma in the world.</li>
                <li>According to a recent report by the Global initiative for Asthma, south Africa has the world’s fourth-highest asthma death rate among 5- to 35-year-olds.</li>
                <li>Asthma is the third-most-common cause of hospital admissions of children in south Africa.</li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p>Risk factors for asthma:</p>

        <ul>
          <li>Gender:&nbsp;Asthma is more common in boys than in girls.</li>
          <li>Genetics: Asthma tends to run in families.</li>
          <li>Environmental factors: Air pollution, cold temperatures, high humidity, and allergies to airborne substances such as pollen, mould and dust mites, all contribute to the incidence of asthma.</li>
          <li>Smoking.</li>
        </ul>

        <p><strong>Signs and symptoms of asthma</strong></p>

        <p><strong>MILD ASTHMA ATTACK:</strong></p>

        <ul>
          <li>Coughing.</li>
          <li>Sneezing.</li>
          <li>Some shortness of breath.</li>
        </ul>

        <p><strong>MODERATE ASTHMA ATTACK:</strong></p>

        <ul>
          <li>Continual coughing.</li>
          <li>Moderate to loud wheezing.</li>
          <li>Obvious difficulty breathing.</li>
        </ul>

        <p><strong>SEVERE ASTHMA ATTACK:</strong></p>

        <ul>
          <li>Great difficulty&nbsp;breathing, with the person unable to speak more than a few words at a time.</li>
          <li>Wheezing, often loud.</li>
          <li>Obvious sucking-in of the throat and chest muscles.</li>
          <li>Pale and sweaty appearance.</li>
          <li>Obvious anxiety and distress.</li>
        </ul>

        <p>If someone is having a severe asthma attack:</p>

        <hr>
        <p><strong>Seek medical attention immediately.</strong></p>

        <p><strong>Call </strong><a href="tel:10177"><strong>10177</strong></a><strong> (from a landline) or </strong><a href="tel:122"><strong>112</strong></a><strong> (from a cellphone), or go to your nearest emergency room.</strong></p>

        <hr>
        <p><strong>Perform CPR if necessary.</strong></p>

        <hr>
        <p><strong>Phone a trained health professional for advice.</strong></p>

        <hr></div><br _ngcontent-gol-c5=""></div><div  class="ng-star-inserted"><div  class="subsection-header">Tuberculosis (TB)</div><div _ngcontent-gol-c5=""><p>According to World health organization reports, South Africa is one of the countries with the highest burden of tuberculosis (TB), with an estimated 450 000 cases of active TB in 2013.</p>

        <p>TB disease is a serious condition and can lead to death if not treated. It usually affects the lungs but it can also affect other parts of the body.</p>

        <p>TB is spread when small droplets of infected spit are coughed into the air by people who have TB, and then breathed in by people who do not have TB. People who are on effective TB treatment are less likely to infect others.</p>

        <p>To catch TB, you normally need close and prolonged contact with a person who has active TB in the lungs. The people most likely to be infected will be those in the same house or same family as a person diagnosed with TB.</p>

        <table cellpadding="1" cellspacing="1">
          <thead>
          <tr>
            <th scope="col">TB IN CHILDREN</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <p>Children can get TB and even newborn babies can get TB – they can be born with the disease if their mother has it.</p>

              <p>In South Africa, all babies get the Bacillus Calmette-Guérin (BCG) vaccine at birth. this protects against some forms of TB.</p>
            </td>
          </tr>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p>Warning signs and symptoms of TB:</p>

        <ul>
          <li>Coughing that lasts three or more weeks.</li>
          <li>Fatigue.</li>
          <li>Loss of appetite.</li>
          <li>Weight loss (if you aren’t on a diet).</li>
          <li>Fever and/or night sweats.</li>
          <li>Coughing up blood.</li>
          <li>Chest pain, or pain with breathing or coughing.</li>
          <li>Chills</li>
        </ul>

        <p>If you think you have TB:</p>

        <p>People with TB are considered infectious, and can spread TB bacteria to others. If TB is suspected, seek medical attention immediately for a complete medical evaluation. If it is determined that a person has TB disease, steps are taken to treat it.</p>

        <p>Treatment of TB:</p>

        <p>TB can be cured. Treatment is free at most government clinics and hospitals. Take your TB medicine exactly as the nurse or doctor tells you to. You may be asked to go back to the clinic for more spit tests, to make sure the medicine is working.</p>

        <p>Even if you start feeling better, you must ﬁnish all your TB medicine. The germ is hard to kill and this usually takes at least six months. If you stop taking your medicine, the germs may become active again. Then, when you start taking your medicine again, it won’t work so well.</p>

        <hr>
        <p><strong>South African National Tuberculosis Association (SANTA).</strong></p>

        <p><a href="tel:0114540260"><strong>011 454 0260</strong></a><strong> or&nbsp;</strong><a href="http://www.santa.org.za"><strong>www.santa.org.za</strong></a></p>

        <hr></div><br _ngcontent-gol-c5=""></div></div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
