<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 - Know your rights</div>
      </div>
      <div class="section-header">HOUSING AND LAND RIGHTS</div></div>
      <div>
        <div _ngcontent-imd-c12="" class="ng-star-inserted"><!----><div _ngcontent-imd-c12="" class="ng-star-inserted"><div _ngcontent-imd-c12="" class="subsection-header">Housing</div><div _ngcontent-imd-c12=""><div>The Department of Human Settlements works to improve the quality of household life for the poor, from offering access to accommodation, to basic services and bond (mortgage) finance. Owning a house gives people a sense of pride and helps the entire community
          <p>&nbsp;</p>
        </div>

          <div>
            <p><strong>Reconstruction and Development Programme (RDP) houses</strong><br>
              South African citizens over the age of 21, with a total household income of less than R3 500 per month can apply for an RDP house. These houses are free and qualifying applicants will only receive one house. To qualify, you can’t own any other property in South Africa. For example, you must get permission from the municipality if you wish to renovate the RDP house in the first eight years of ownership.</p>
          </div>

          <div>
            <p>To apply for an RDP house, you will need to apply at your local housing department. You will be placed on a waiting list and notified when your house is ready.</p>
          </div>
        </div><br _ngcontent-imd-c12=""></div><div _ngcontent-imd-c12="" class="ng-star-inserted"><div _ngcontent-imd-c12="" class="subsection-header"> Housing subsidies</div><div _ngcontent-imd-c12=""><div>
          <p>A housing subsidy is a grant from the government that makes owning a house more affordable to you.</p>
        </div>

          <div>
            <p>You do not have to repay this subsidy (it is not a loan) but you will have to pay the difference between the subsidy and the cost of the house (the subsidy may not cover the full cost).</p>
          </div>

          <div>
            <p>How is the grant paid?<br>
              The grant will not be paid to you in cash; it will be paid either directly to a seller or the financial insitution that offers you a bond.</p>
          </div>

          <div>
            <p>The requirements to qualify for a housing subsidy are:</p>

            <ul>
              <li>You must be a South African citizen or permanent resident.</li>
              <li>You must be either married or living with a long-term partner; or, if you’re single,&nbsp;you must have provable financial dependants (e.g. children or other family members).</li>
              <li>You must have a provable monthly household income of less than R3 500.</li>
              <li>Neither you nor, if applicable, your partner may have received any other subsidy from the government.</li>
              <li>Neither you nor, if applicable, your partner may have owned property before.</li>
            </ul>
          </div>

          <div>
            <p>Contact your closest provincial Human Settlements Department through the national office or municipality for more information and application forms.</p>
          </div>

          <div><img alt="Housing-Land-Rights" src="assets/img/know_your_rights/Housing-Land-Rights.png"></div>
        </div><br _ngcontent-imd-c12=""></div><div _ngcontent-imd-c12="" class="ng-star-inserted"><div _ngcontent-imd-c12="" class="subsection-header">Land rights</div><div _ngcontent-imd-c12=""><div>
          <p>During apartheid, it is estimated that at least 3.5 million South Africans were forcibly removed from their land under the Native Land Act of 1913. In 2014, the Restitution of Land Rights Amendment Act was signed into law. It reopened the restitution claims process – people who have a claim to land now have until 30 June 2019 to lodge those claims.</p>
        </div>

          <div>
            <p>Lodging a claim is a free government service. Those who charge money to help you lodge a claim are doing so illegally. It is also illegal to submit a fraudulent claim and/or prevent someone else from lodging a claim.</p>
          </div>

          <div>&nbsp;</div>

          <hr>
          <p><strong>Department of Rural Development and Land Reform National Call Centre<br>
            <a href="tel:0800007095">0800 007 095</a></strong></p>

          <hr></div><br _ngcontent-imd-c12=""></div></div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
