<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a href="#/plbbook/health" class="bottomnav-links w-inline-block">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Health</div>
      </a>
      <a href="#/plbbook/higher-education-and-training" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Higher Education and Training</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Family</div>
      </div>
      <div class="lede lede-emergencies">
        In a world of turmoil and uncertainty, it is more important than ever to make our families the centre of our
        lives and the top of our priorities.
      </div>
      <div class="chaptercontent w-richtext">
        <p>
          Our children are the hope for the future. But looking after a family can be very challenging. Many women are
          single parents with difficult work circumstances, some have no jobs and rely on maintenance and grants, and
          others are living in disadvantaged situations of abuse and hardship.
        </p>


      </div>
    </div>

    <a href="#/plbbook/higher-education-and-training" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Higher Education and Training</div>
    </a>
  </div>
</div>
