<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/higher_education_training/Female-Education.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block" (click)="closeMenu()" >
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">{{previousChapter?.chapterTitle}}</div>
      </a>
      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" (click)="closeMenu()"
         class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">{{nextChapter?.chapterTitle}}</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">{{chapter?.chapterTitle}}</div>
      </div>
      <div class="lede w-richtext" [innerHTML]="chapter?.story"></div>
      <div class="chaptercontent w-richtext" *ngIf="extendedSections">
        <div *ngFor="let section of extendedSections">
          <div class="section-header" [innerHTML]="section?.sectionTitle"></div>
          <div [innerHTML]="section?.story"></div>
          <div *ngIf="section.subsections">
            <div *ngFor="let subsection of section.subsections">
              <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
              <div [innerHTML]="subsection.story"></div>
              <br>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!--<div class="chaptercontent w-richtext">-->
        <!--<p>-->
          <!--The Department of Higher Education and Training is responsible for tertiary education up to doctorate level,-->
          <!--technical and vocational training, as well as adult basic education and training.-->
        <!--</p>-->
        <!--<p>-->
          <!--The best investment you can make for yourself, or your child, is some-->
          <!--kind of post-school education and/or training.-->
        <!--</p>-->
        <!--<br>-->

        <!--<div class="section-header">Technical Vocational Education and Training (TVET)</div>-->
        <!--<p>-->
          <!--TVET Colleges offer vocational, occupational and artisan education and training. This-->
          <!--means that studies prepare students for the world of work (usually for a specific-->
          <!--occupation), giving people essential skills for the workplace.-->
        <!--</p>-->
        <!--<p>-->
          <!--Even if you only completed Grade 9, you can apply to a TVET College. This option is-->
          <!--ideal for responsible older adolescents and adults who are serious about getting skills-->
          <!--to find employment.-->
        <!--</p>-->

        <!--<p>-->
          <!--TVET Colleges offer certificate and diploma qualifications, and a wide range of courses-->
          <!--are offered. Categories of courses include:-->
        <!--</p>-->

        <!--<ul>-->
          <!--<li>Agriculture.</li>-->
          <!--<li>Arts and culture.</li>-->
          <!--<li>Business.</li>-->
          <!--<li>Commerce and management.</li>-->
          <!--<li>Education.</li>-->
          <!--<li>Training and development.</li>-->
          <!--<li>Engineering.</li>-->
          <!--<li>Manufacturing and technology.</li>-->
          <!--<li>Services.</li>-->
          <!--<li>Building contruction and security.</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>

    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">{{nextChapter?.chapterTitle}}</div>
    </a>
  </div>
</div>
