<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 2 - Health</div>
      </div>
      <div>
        <div class="section-header">Reproductive health</div>
        <div>
          <div>
            <p>In South Africa, generally the legal age of consent (that is, agreement) to have sex with another
              consenting adult is 16, but some exceptions apply.</p>

            <p>The consequences of having sex, and especially unprotected sex, can be life changing: an unwanted
              pregnancy, or at worst, a disease that could kill you. So it’s very clear that with sex, regardless of your
              age, comes responsibility.</p>
          </div>
          <div _ngcontent-gol-c9="" class="subsection-header">Contraception</div>
          <div _ngcontent-gol-c9="">
            <div>
              <p>Contraception is also called ‘birth control’ or ‘family planning’. There are many different contraceptive
                methods, including ‘natural’ methods (which don’t use devices or medication), hormones (which involve
                taking medication of some kind) and barrier methods (which block the sperm).</p>

              <p><img alt="Contraceptives-Protection-Health" src="assets/img/health/Contraceptives-Protection-Health.png">
              </p>
            </div>

            <div>
              <p><strong>Facts about types of contraception</strong></p>
            </div>

            <hr>
            <div>
              <div>
                <p><strong>METHOD:</strong> Condom</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> All clinics, hospitals and pharmacies, and in many workplaces.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>Protects against pregnancy and most STIs.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>Must be worn properly.</li>
                  <li>Needs partner's cooperation.</li>
                  <li>Must be used once only.</li>
                </ul>
              </div>

              <hr>
              <div>
                <p><strong>METHOD:</strong> Female Condom</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Some clinics.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>Protects against pregnancy and most STIs.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>Not readily available.</li>
                  <li>Some women say it's uncomfortable.</li>
                </ul>

                <hr>
              </div>

              <div>
                <p><strong>METHOD:</strong> The Pill</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Most clinics, GPs, gynaecologists and pharmacies.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>Esay to use.</li>
                  <li>Also has other medical benefits (less bleeding, control for acne).</li>
                  <li>Protects against ovarian cancer.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>You have to take the Pill every day at the same time - missing pills can lead to unwanted
                    pregnancy.
                  </li>
                  <li>The Pill doesn't protect against STIs.</li>
                </ul>

                <hr>
              </div>

              <div>
                <p><strong>METHOD:</strong> Injection</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Most doctors/clinics (given at eight-to 12-week intervals).</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>Ideal for young women or those breastfeeding.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>Many women report abnormal bleeding, weight gain and delayed fertility.</li>
                  <li>It does not protect against STIs.</li>
                </ul>

                <hr>
              </div>

              <div>
                <p><strong>METHOD:</strong> Intrauterine Device (IUD)</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Only a doctor or qualified nurse can insert it.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>There's no risk of forgetting to use contraception. It lasts up to five years.</li>
                  <li>Newer forms (e.g. Mirena) also give off hormones added protection.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>You can have complications if it's not inserted properly by a health professional.</li>
                  <li>It must be checked one month after insertion.</li>
                  <li>It can cause&nbsp; tubal pregnancy, heavy bleeding and/or menstrual pain, and can make pelvic
                    infections worse.
                  </li>
                </ul>

                <hr>
              </div>

              <div>
                <p><strong>METHOD:</strong> Morning-after Pill</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Most clinics/doctors, emergency rooms, rape centres and pharmacies.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>It can be used after unprotected sex.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>It must be taken within 72 hours (three days) of unprotected sex.</li>
                  <li>It should not be used as a regular contraception.</li>
                </ul>

                <hr>
              </div>

              <div>
                <p><strong>METHOD:</strong> Sterilisation</p>
              </div>

              <div>
                <p><strong>AVAILABILITY:</strong> Surgical procedures by qualified health professional.</p>
              </div>

              <div>
                <p><strong>ADVANTAGES:</strong></p>

                <ul>
                  <li>Permanent (only done on women over 18 years; consent form is needed).</li>
                  <li>Almost 100% effective.</li>
                  <li>Can be done after childbirth.</li>
                </ul>
              </div>

              <div>
                <p><strong>CAUTION!:</strong></p>

                <ul>
                  <li>No protection against STIs.</li>
                </ul>

                <hr>
              </div>
            </div>
          </div>
          <br _ngcontent-gol-c9="">
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">Pregnancy</div>
            <div _ngcontent-gol-c9=""><p>A healthy pregnancy starts before you become pregnant. first and most important
              is
              to prepare your body. Adopt a healthy diet and lifestyle, and give up smoking, drinking and recreational
              drugs
              if you take these.</p>

              <p>A new baby usually costs time and money. find out what the maternity-leave policy is at your work. Look
                carefully at your finances. If necessary, get a financial planner to help you – all South African banks
                offer free help with financial planning.</p>

              <p>It’s also a good idea to see your doctor. Tell him/her about your family medical history.</p>

              <p>When you become pregnant, you should be able to continue life as usual. Make sure you take folic acid, a
                B
                vitamin that promotes healthy red blood cells and helps to prevent serious birth defects. You can get
                folic
                acid from your nearest clinic or pharmacy.</p>

              <p>Make your first antenatal (pre-birth) appointment. You can do this as early as six or seven weeks (that
                is,
                two to three weeks after your missed period) in the pregnancy. At 11–14 weeks, your doctor will screen for
                down syndrome, high blood pressure specific to pregnancy (pre-eclampsia) and other medical conditions.</p>

              <div>
                <table cellpadding="1" cellspacing="1">
                  <tbody>
                  <tr>
                    <td>Under the National Health Act, a pregnant woman can get free medical treatment at any public
                      health
                      facility.
                    </td>
                  </tr>
                  </tbody>
                </table>

                <p>&nbsp;</p>
              </div>

              <div>
                <div>
                  <table cellpadding="1" cellspacing="1">
                    <thead>
                    <tr>
                      <th scope="col">HOW DO YOU KNOW YOU'RE PREGNANT?</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                        <div>
                          <p>A positive pregnancy test is the only way to know for sure if you are pregnant. You can only
                            take the test after your missed period. Pregnancy tests that test hormone levels in your urine
                            are available at pharmacies. Your doctor or clinic can also do a blood test to confirm a
                            suspected pregnancy (a blood test will show a positive result earlier in the pregnancy than a
                            urine test).</p>
                        </div>

                        <div>
                          <p><strong>Other early pregnancy signs and symptoms are:</strong></p>

                          <ul>
                            <li>Your breasts may be tender and you may get morning sickness (nausea). These are two of the
                              earliest signs of pregnancy.
                            </li>
                            <li>You may bleed a little bit.</li>
                            <li>You may have a thin, milky discharge. (don’t use a tampon during pregnancy, as it can
                              introduce germs into the vagina.)
                            </li>
                            <li>You may be tired.</li>
                            <li>You may not want certain foods, and have cravings for others.</li>
                            <li>You may visit the toilet to urinate much more often.</li>
                            <li>You may get indigestion and heartburn.</li>
                            <li>You may have mood swings.</li>
                            <li>You may gain weight.</li>
                            <li>You will miss your monthly period.</li>
                          </ul>
                        </div>
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <p>&nbsp;</p>

                  <ul>
                  </ul>
                </div>
              </div>

              <div>
                <p><strong>What to expect at your first antenatal appointment</strong></p>

                <p>Your medical practitioner will ask you about:</p>

                <ul>
                  <li>Your general health/medical history (including chronic conditions, allergies, psychiatric issues,
                    and
                    habits such as smoking, drinking or drug use).
                  </li>
                  <li>Your family’s medical history (including whether any relatives have any chronic or serious
                    conditions
                    that may be hereditary).
                  </li>
                  <li>Your periods – if they’re regular and how long they last.</li>
                  <li>When the first day of your last period was (to find out your baby’s due date). • &nbsp; &nbsp;Any
                    symptoms or problems you’ve noticed since your last period.
                  </li>
                  <li>Any gynaecological problems (including stis).</li>
                  <li>Details about any previous pregnancies.</li>
                  <li>Whether you, the baby’s father, or anyone in either family has a chromosomal or genetic disorder,
                    had
                    developmental delays, or was born with a structural birth defect. You’ll be offered various screening
                    tests, including a blood test that’s done at 9–13 weeks and, if it’s available, an ultrasound at 11–13
                    weeks.
                  </li>
                </ul>
              </div>

              <div>
                <p><img alt="Pregnancy-Health" src="assets/img/health/Pregnancy-Health.png"></p>
              </div>

              <div>
                <p><strong>If you have epilepsy and want to have a baby, talk to your doctor. Most women with epilepsy can
                  have a healthy pregnancy and baby, but you’ll need to be carefully monitored.</strong></p>
              </div>

              <div>
                <p>Your medical practitioner will do:</p>

                <ul>
                  <li>A physical examination.</li>
                  <li>A pelvic examination, including a Pap smear if necessary.</li>
                  <li>Possibly a culture to check for stis such as chlamydia and gonorrhoea.</li>
                  <li>A urine sample.</li>
                  <li>Blood tests to identify your blood type and check for anaemia.</li>
                  <li>Your doctor will also test your blood for HIV and syphilis, hepatitis B and immunity to rubella
                    (German measles), and chicken pox.
                  </li>
                  <li>Possibly an ultrasound to see how your baby is developing.</li>
                </ul>
              </div>

              <div>
                <p><img alt="Pregancy-First-Antenatal-Appointment"
                        src="assets/img/health/Pregancy-First-Antenatal-Appointment.png"></p>
              </div>

              <div>
                <p><strong>Unplanned pregnancy</strong></p>
              </div>

              <div>
                <p>For many women, the surprise of an unplanned pregnancy comes with worry about lifestyle choices they
                  may
                  have made in the first few weeks after conception. These include smoking, drinking alcohol and/or
                  coffee,
                  taking drugs (either recreational or prescription), and being very stressed.</p>

                <p>Most unplanned pregnancies will be normal and healthy, but studies do show that women who have
                  unplanned
                  pregnancies are at increased risk of health problems, for both themselves and the baby.</p>

                <p>If you’re not sure whether you’re ready to have a child, speak to your family and health provider for
                  advice. Don’t be fooled by adverts promising safe, easy and cheap abortions. Having a ‘backstreet’
                  abortion can seriously damage your health or even lead to death.</p>
              </div>

              <div>
                <p><img alt="Unplanned-Pregnancy" src="assets/img/health/Unplanned-Pregnancy.png"></p>
              </div>
            </div>
            <br _ngcontent-gol-c9=""></div>
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">Labour and Childbirth</div>
            <div _ngcontent-gol-c9="">
              <div>
                <p>Many women, especially those who are first-time mothers, don’t know what to expect when they go into
                  labour. To find out everything you need to know, it’s very important that you attend a prenatal class,
                  that you ask your health provider (doctor or nurse) questions when you go for your check-ups, and that
                  you
                  get good information from trusted family and friends.</p>

                <p>It’s a good idea to have a ‘birth plan’ – a written document that lets your doctor or midwife know how
                  you’d like to manage your labour and delivery. This would cover topics such as pain management and
                  possible emergencies such as a C-section (a Caesarean).</p>

                <p>You also need a trusted birth partner – this can be your husband, boyfriend, life companion, mother,
                  sister or best friend.</p>
              </div>

              <div>
                <table cellpadding="1" cellspacing="1">
                  <thead>
                  <tr>
                    <th scope="col"><strong>You need to register your baby and get a birth certificate from Home Affairs
                      within 30 days of his/her birth.</strong></th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>

                <p>&nbsp;</p>
              </div>
            </div>
            <br _ngcontent-gol-c9=""></div>
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">Baby Blues and Postnatal Depression</div>
            <div _ngcontent-gol-c9=""><p>Being a new mother, it’s very important that you take good care of yourself.
              Follow
              your doctor’s advice and recommendations, and don’t miss any follow-up appointments or clinic visits.</p>

              <p>Besides bringing great joy, motherhood can also be a rollercoaster of emotions. The huge changes to your
                lifestyle, as well as the hormones your body produces, can result in ‘baby blues’ (feeling like crying is
                normal during the first few weeks after childbirth) or more serious postnatal depression. In South Africa,
                48% of new mothers suffer from postnatal depression.</p>

              <p>If you are having problems, speak to a trusted family member and see a doctor as soon as possible.</p>

              <p>Symptoms of postnatal depression:</p>

              <ul>
                <li>Feeling sad and/or crying a lot.</li>
                <li>Having trouble focusing, remembering or making decisions.</li>
                <li>Feeling very tired and having no energy.</li>
                <li>Feeling no love for the baby.</li>
                <li>Having feelings of hopelessness.</li>
                <li>Having thoughts of suicide.</li>
                <li>Thinking of hurting yourself or the baby.</li>
              </ul>

              <hr>
              <p><strong>Postnatal Depression Support Association</strong></p>

              <p><a href="tel:0828820072"><strong>082 882 0072</strong></a><strong> or </strong><a
                href="http://www.pndsa.org.za"><strong>www.pndsa.org.za</strong></a></p>

              <hr>
              <p><strong>Family and Marriage Association South Africa (FAMSA)</strong></p>

              <p><a href="tel:0119757106"><strong>011 975 7106</strong></a><strong>/<a
                href="tel:0119757107">7</a></strong><strong> or </strong><a href="http://www.famsa.org.za"><strong>www.famsa.org.za</strong></a>
              </p>

              <hr>
            </div>
            <br _ngcontent-gol-c9=""></div>
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">Menopause and PMS</div>
            <div _ngcontent-gol-c9="">
              <div>
                <div>
                  <p>Menopause starts when your body gradually begins to produce fewer eggs and less of the female
                    hormones
                    oestrogen and progesterone. menstruation (your period) becomes erratic and finally stops. This usually
                    happens between the ages of 45 and 55. ‘Early-onset’ or premature menopause happens before the age of
                    40. You will manage your menopause better if you lead a healthy lifestyle, with good food, regular
                    exercise and enough sleep.</p>

                  <p>A woman is considered to have gone through menopause when she hasn’t had a period for a year. The
                    intensity of symptoms vary, and for some women they might be severe. If you’re struggling, speak to
                    your
                    doctor.</p>
                </div>

                <div>
                  <p>Signs and symptoms of menopause:</p>

                  <ul>
                    <li>Hot flushes.</li>
                    <li>Sweats (often at night).</li>
                    <li>Tiredness.</li>
                    <li>Anxiety and/or depression.</li>
                    <li>Less interest in sex.</li>
                    <li>Irritability and mood swings.</li>
                    <li>Difficulty concentrating.</li>
                    <li>Loss of confidence.</li>
                    <li>Forgetfulness.</li>
                    <li>Difficulty sleeping.</li>
                    <li>Headaches.</li>
                    <li>Palpitations of the heart.</li>
                    <li>Vaginal dryness.</li>
                    <li>Incontinence.</li>
                    <li>Infections of the urinary tract and vagina</li>
                  </ul>
                </div>

                <div>
                  <p><strong>What is Premenstrual Syndrome (PMS)?</strong></p>

                  <p>Premenstrual syndrome, commonly known as Pms, is a combination of physical and psychological symptoms
                    that most women experience two weeks to a few days before the beginning of their monthly menstrual
                    periods.</p>

                  <p>The symptoms may vary from one woman to another and from one cycle to the next. Symptoms may be mild
                    and manageable, or severe, resulting in absenteeism from school or work, or even stress on personal
                    relationships.</p>

                  <p>PMS is believed to be caused by hormonal changes in the body during the menstrual cycle. Changes in
                    certain chemicals in the brain are responsible for the psychological symptoms.</p>
                </div>

                <div>
                  <p>Signs and symptoms of PMS:</p>

                  <p>Physical</p>

                  <ul>
                    <li>Water retention, bloating, weight gain.</li>
                    <li>Tender, swollen breasts.</li>
                    <li>Headache.</li>
                    <li>Fatigue.</li>
                    <li>Constipation.&nbsp;</li>
                  </ul>

                  <p>Emotional and behavioural</p>

                  <ul>
                    <li>Mood swings.</li>
                    <li>Depression.</li>
                    <li>Irritability.</li>
                    <li>Sleep disorders or insomnia (not being able to sleep).</li>
                  </ul>
                </div>

                <div>
                  <p><strong>How can I manage my PMS?</strong></p>

                  <ul>
                    <li>Eat small, frequent meals to avoid feeling bloated.</li>
                    <li>Eat more whole grains, fruit and vegetables.</li>
                    <li>Eat as little salt and fatty foods (salt can make you retain water and become more bloated).</li>
                    <li>Drink plenty of water.</li>
                    <li>Avoid alcohol and caffeine (for example in coffee and energy drinks).</li>
                    <li>Get plenty of sleep.</li>
                    <li>Taking calcium or a daily multivitamin supplement can be helpful.</li>
                    <li>Over-the-counter pain medicines like ibuprofen can relieve headaches and pain.&nbsp;</li>
                  </ul>
                </div>

                <div>
                  <table cellpadding="1" cellspacing="1">
                    <tbody>
                    <tr>
                      <td>Keep a record of your symptoms so that your doctor can prescribe the best treatment for your
                        condition. Doctors often prescribe birth control pills to manage hormonal ﬂuctuations that cause
                        PMS.
                      </td>
                    </tr>
                    </tbody>
                  </table>

                  <p>&nbsp;</p>
                </div>
              </div>
            </div>
            <br _ngcontent-gol-c9=""></div>
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">Sexual Transmitted Infections (STIs)</div>
            <div _ngcontent-gol-c9=""><p>Sexually transmitted infections (STIs), commonly referred to as sexually
              transmitted diseases (STIs) or venereal diseases (VDs), are infections that can be passed on via sexual
              activity involving the mouth, anus, vagina or penis. These include HIV, chlamydia, genital herpes, genital
              warts, gonorrhoea, syphilis and some forms of hepatitis. These infections are very common: over 4 million
              people get treatment for STIs in South Africa every year.</p>

              <p>HIV is also an STI. All STIs have the potential to cause serious damage if not treated.</p>

              <p><strong>Safe sex</strong></p>

              <p>Having safe sex means taking steps to protect yourself and your partner from getting harmful infections.
                If
                you have unprotected sex, you increase the risk of getting STIs, including HIV.</p>

              <p>Many women think they are safe from getting an STI because their partners don’t look sick but it is
                impossible to know if someone is infected just by looking at them. Many people with STIs don’t have any
                symptoms.</p>

              <p>If you or your partner have many sexual partners, the danger of contracting an infection is much
                higher.</p>

              <ul>
                <li>Always use a condom (whether you use other contraceptives or not) – even if your partner doesn’t like
                  it.
                </li>
                <li>Use each condom only once.</li>
                <li>Get tested regularly.</li>
              </ul>

              <p>Contact your local clinic or health department for details on where you can get free STI testing</p>

              <p><strong>Gonorrhoea</strong></p>

              <p>Gonorrhoea is a very contagious STI. It can even be passed on from mother to infant during childbirth.
                The
                disease is treated with antibiotics.</p>

              <p>As with many other STIs, women are more at risk of getting infected with gonorrhoea than men. It takes
                only
                one single act of unprotected sex with an infected partner to get it.</p>

              <p>Protect yourself by:</p>

              <ul>
                <li>Staying in a sexual relationship with only one partner who does not have any STIs.</li>
                <li>Using a condom every time you have sex (even if you’re also using other contraceptives). Use each
                  condom
                  only once.
                </li>
                <li>Getting tested – gonorrhoea is treatable once it’s detected.</li>
                <li>Asking your partner to get tested.</li>
              </ul>

              <p>Risk factors for gonorrhoea:</p>

              <ul>
                <li>A person who is a sexual partner of someone with gonorrhoea.</li>
                <li>Anyone who engages in unprotected sex.</li>
                <li>People who have unprotected sex with many sexual partners.</li>
                <li>People who have a current chlamydia infection.</li>
                <li>Women in polygamous relationships.</li>
              </ul>

              <p>Signs and symptoms of gonorrhoea:</p>

              <ul>
                <li>Pain during intercourse.</li>
                <li>Cloudy, yellowish vaginal discharge which may have a nasty odour.</li>
                <li>Redness and swelling of the genitals.</li>
                <li>Burning or itchy vaginal area.</li>
                <li>Stomach pain.</li>
                <li>Heavy menstrual bleeding.</li>
                <li>Sometimes a very sore throat and pain when you swallow.</li>
              </ul>

              <p><strong>Chlamydia</strong></p>

              <p>Chlamydia is one of the most common STIs worldwide in women, especially among teenagers. It doesn’t have
                many symptoms in women and can linger for months or years before being discovered. It is easy to detect
                through a simple swab, and is completely curable with antibiotics.</p>

              <p>Symptoms of chlamydia:</p>

              <ul>
                <li>Vaginal discharge.</li>
                <li>Burning with urination.</li>
                <li>Severe period pains as a result of pelvic inflammation.</li>
              </ul>

              <p>Complications associated with chlamydia:</p>

              <ul>
                <li>Chronic pelvic inflammation disease.</li>
                <li>Infertility.</li>
                <li>Ectopic pregnancy due to blocked tubes.</li>
                <li>It may be passed on to a baby by a mother during childbirth.</li>
              </ul>

              <p><strong>Syphilis</strong></p>

              <p>Syphilis is a bacterial infection. Like most STIs, it is spread by direct contact with a syphilis sore
                during anal, vaginal or oral sex.</p>

              <p>Any sexually active person can get syphilis through unprotected sex. It may also be passed from an
                infected
                mother to her unborn child.</p>

              <p>If left untreated, syphilis can cause long-term complications and can eventually lead to damage of the
                heart and nervous system. If diagnosed, however, it is completely curable with antibiotics.</p>

              <p>Signs and symptoms of syphilis:</p>

              <p>Syphilis develops in four distinct stages, with different signs for each stage. Most people show no signs
                at first.</p>

              <ul>
                <li><strong>The primary stage</strong> is when a firm, round lesion (sore) may form at the point the
                  syphilis entered the body, but it’s painless and it heals within three weeks, so it may go unnoticed.
                </li>
                <li><strong>The secondary stage</strong> of syphilis (about eight weeks after contact) can produce signs
                  including swollen glands, a rash or sores in the mouth, vagina or anus, and/ or reddish-brown spots on
                  the
                  palm of the hands and soles of the feet. these signs may disappear within a few weeks, or come and go
                  for
                  as long as a year.
                </li>
                <li>If you don’t get treatment at this stage, syphilis enters its <strong>latent stage</strong>, which can
                  last for years without any signs and symptoms.
                </li>
                <li><strong>The tertiary stage</strong> may develop many years later, and may damage your brain, nerves,
                  eyes, heart, blood vessels, liver, bones and joints.
                </li>
              </ul>

              <p>Protect yourself by:</p>

              <ul>
                <li>Taking control of your sexual health by learning more about stis.</li>
                <li>Staying in a monogamous sexual relationship with a partner who does not have any stis.</li>
                <li>Using a condom every time you have sex (even if you’re also using other contraceptives). Use each
                  condom
                  only once.
                </li>
                <li>Getting tested.</li>
                <li>Asking your partner to get tested.</li>
              </ul>

              <hr>
              <p><strong>Lifeline AidsLine - </strong><a href="tel:0861322322"><strong>0800 012 322</strong></a></p>

              <hr>
              <p><strong>Marie Stopes South Africa HIV and STI screening</strong></p>

              <p><strong><a href="tel:0214224660">021 422 4660</a>/</strong><a href="tel:0800117785"><strong>0800 117
                785</strong></a><strong> or </strong><a href="http://www.mariestopes.org.za/hiv-stis/"><strong>www.mariestopes.org.za/hiv-stis/</strong></a>
              </p>

              <hr>
            </div>
            <br _ngcontent-gol-c9=""></div>
          <div _ngcontent-gol-c9="" class="ng-star-inserted">
            <div _ngcontent-gol-c9="" class="subsection-header">HIV and AIDS</div>
            <div _ngcontent-gol-c9=""><p>HIV, the human immunodeficiency virus, is one of the deadliest forms of sexually
              transmitted infections (STIs).</p>

              <p>HIV/AIDS IN SOUTH AFRICA</p>

              <p>South Africa has the highest prevalence of HIV/Aids in the world, with 5.6 million people living with
                HIV.
                Over 2 million children were orphaned due to Aids in south Africa in 2011.</p>

              <p>South African women face a greater risk of HIV infection.</p>

              <p><img alt="HIV-and-AIDS-Ribbon" src="assets/img/health/HIV-and-AIDS-Ribbon.png"></p>

              <p>HIV attacks the immune system. Someone infected with the virus (HIV positive) can live with it for many
                years without getting ill or showing symptoms. During this time, however, the virus damages the immune
                system and the person remains infectious, meaning that he or she can spread the virus to others.</p>

              <p>Over time, HIV can damage or weaken the immune system to such a degree that the body becomes unable to
                fight off other infections and diseases. This can result in Aids, or <strong>a</strong>cquired
                <strong>i</strong>mmune <strong>d</strong>eficiency <strong>s</strong>yndrome. Aids is made up of several
                medical problems, including infections and a low CD4 count. CD4 or t-cells are a type of white blood cell
                that fights infection.</p>

              <table cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                  <td>HIV has become manageable and you can live a normal life for a long time as long as you take proper
                    care of yourself and take your medication as prescribed.
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <p>HIV can be transmitted from one person to another through:</p>

              <ul>
                <li>Unprotected vaginal, oral or anal sex with an infected person.</li>
                <li>‘Vertical transmission’, which is a mother passing the infection to her child during pregnancy, birth
                  or
                  breastfeeding.
                </li>
                <li>Injections with contaminated needles (e.g. when intravenous-drug users share needles, or when
                  healthcare
                  workers are accidentally pricked by an infected needle).
                </li>
                <li>Use of contaminated surgical instruments (e.g. during traditional circumcision).</li>
                <li>A blood transfusion with infected blood.</li>
                <li>Having more than one sexual partner, and especially having many sexual partners.</li>
              </ul>

              <table cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                  <td>
                    <p>You can’t get HIV by hugging, kissing, shaking hands or living with someone who has HIV.</p>

                    <p>You can’t tell if someone has HIV just by what they look like.</p>
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <p><strong>EARLY SIGNS AND SYMPTOMS OF HIV:</strong></p>

              <ul>
                <li>Rapid weight loss.</li>
                <li>Dry cough.</li>
                <li>Recurring fever or sweats, especially at night.</li>
                <li>Severe, unexplained tiredness.</li>
                <li>Swollen glands in the armpits, groin or neck</li>
                <li>Diarrhoea (runny tummy) that lasts for more than a week.</li>
                <li>White spots or unusual marks on the tongue, or in the mouth or throat.</li>
                <li>Pneumonia and/or repeated chest infections.</li>
              </ul>

              <p><strong>LATE SIGNS AND SYMPTOMS OF HIV:</strong></p>

              <ul>
                <li>Sores on the skin or in the mouth.</li>
                <li>Increased outbreaks of cold sores/ fever blisters.</li>
                <li>Shortness of breath and a dry cough.</li>
                <li>Numbness or pain in the hands and feet.</li>
                <li>Red, brown, pink or purplish blotches on or under the skin, or inside the mouth, nose or eyelids.</li>
                <li>Memory loss, depression and other neurological disorders.</li>
                <li>TB</li>
              </ul>

              <p><img alt="HIV-and-AIDS-blocks" src="assets/img/health/HIV-and-AIDS-blocks.png"></p>

              <p><strong>Get tested</strong></p>

              <p>You can find out if you have HIV by having a blood test. the test looks for HIV antibodies that can be
                detected within three months of becoming infected.</p>

              <p>You can get a free HIV test in many places, including medical clinics, community health centres,
                hospitals,
                pharmacies, mobile testing vans, and community-based organisations that deal with HIV/Aids. contact your
                local clinic or health department for details.</p>

              <p>You have the right to privacy. You don’t have to tell your HIV status to your employer or colleagues, or
                anyone else. Your HIV status should not affect your job security, employee benefits or promotions</p>

              <table cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                  <td>
                    <p>If your spouse or partner is HIV positive and you are not:</p>

                    <ul>
                      <li>Always practise safe sex (use a condom).</li>
                      <li>Go to counselling together, and talk openly about your HIV status.</li>
                      <li>Speak to your local healthcare worker about your options.</li>
                    </ul>
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <ul>
              </ul>

              <p><strong>Where can I get treatment for HIV and Aids?</strong></p>

              <p>If you find out you are HIV positive, there is treatment available from all South African clinics and
                hospitals. The treatment is made up of drugs called antiretrovirals, or ARVs. Your clinic can help you
                cope
                with your diagnosis, reduce risk behaviour and find other services such as nutrition information. Your
                healthcare provider will be able to tell you when it becomes necessary to take medication.</p>

              <p><strong>What are antiretroviral drugs?</strong></p>

              <p>Antiretroviral drugs are used in the treatment and prevention of HIV infection. they fight HIV by
                stopping
                or interfering with the reproduction of the virus in the body.</p>

              <hr>
              <p><strong>National AIDS Helpline - <a href="tel:0117152000">011 715 2000</a> or</strong>&nbsp;<strong><a
                href="tel:0861322322">0800 012 322</a>&nbsp;</strong></p>

              <hr>
              <p><strong>Lifeline - </strong><a href="tel:0861322322"><strong>0861 322 322</strong></a><strong> or <a
                href="tel:0114224242">011 422 4242</a>&nbsp;or&nbsp;<a href="tel:011 421 0384">011 421 0384</a></strong>
              </p>

              <p><strong>LoveLife Sexual Heath Line - <a href="tel:0800121900">0800 121 900</a>/<a href="tel:0800121900">0800
                121 900</a></strong><strong>&nbsp;or </strong><a href="http://www.lovelife.org.za"><strong>www.lovelife.org.za</strong></a>
              </p>

              <hr>
              <p><strong>National Association of People Living with HIV and AIDS (NAPWA)</strong></p>

              <p><a href="tel:0846964964"><strong>084 696 4964</strong></a><strong> or </strong><a
                href="tel:0118737156"><strong>011 873 7156</strong></a><strong> or </strong><a
                href="http://www.napwasa.org.za"><strong>www.napwasa.org.za</strong></a></p>

              <hr>
              <p><img alt="Antiretroviral-Drugs" src="assets/img/health/Antiretroviral-Drugs.png"></p>
            </div>
            <br _ngcontent-gol-c9="">
          </div>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
