<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 2 - Health</div>
      </div>
      <div>
        <div class="section-header">Cancer</div>
        <div>
          <p>Cancer is a general word that describes the abnormal growth of cells anywhere in the body. It affects men,
            women and children of all ages, races, cultures and ethnic origin.</p>

          <p>Cancer can be caused by a combination of genetic, environmental or physical factors. It is often difficult to
            identify a single risk factor. All cancers respond to different types of treatment.</p>

          <p>Scientists believe that it is the interaction of many factors together that produces cancer.</p>

          <ul>
            <li>The factors&nbsp;involved may be genetic, physical or environmental.</li>
            <li>Family history may also play a role; your risk of developing breast cancer increases up to three times if
              your mother or sister has had breast cancer.
            </li>
            <li>Genetic causes of cancer are more common amongst children.</li>
          </ul>

          <hr>
          <p><strong>Cancer Association of South Africa</strong></p>

          <p><a href="tel:0800226622"><strong>0800 22 66 22</strong></a><strong> or&nbsp;</strong><a
            href="http://www.cansa.org.za"><strong>www.cansa.org.za</strong></a></p>

          <hr>
          <p><strong>People Living With Cancer/Cancer Buddies</strong></p>

          <p><a href="tel:0800033337"><strong>0800 033 337</strong></a><strong> or </strong><a
            href="http://www.cansabuddies.org.za"><strong>www.cansabuddies.org.za</strong></a></p>

          <hr>
          <p>&nbsp;</p>

          <div _ngcontent-gol-c6="" class="subsection-header">Breast Cancer</div>
          <div _ngcontent-gol-c6=""><p>There is no way to prevent breast cancer. You can, however, keep your risk as low
            as possible by leading a healthy lifestyle – eating well, getting enough exercise, and not smoking.</p>

            <p>Early diagnosis of breast cancer is vital – the earlier it’s diagnosed, the better the chances of
              survival.</p>

            <p>If you notice any change in your breasts, see a doctor immediately. Remember to perform monthly
              self-examinations on your breasts and get your doctor to do a clinical examination once a year. After the
              age of 40, you will also need to have yearly mammograms.</p>

            <p>Risk factors for breast cancer:</p>

            <ul>
              <li>Family history:&nbsp;&nbsp;If you have a close relative who has had breast cancer, you will be more
                likely to get it.
              </li>
              <li>Age: the risk increases as you get older.</li>
              <li>Gender: Although men do get breast cancer, women are more likely to get it.</li>
              <li>Genes: some people’s genes make them more likely to develop breast cancer.</li>
              <li>Dense breast tissue: more gland tissue and less fatty tissue increases the risk.</li>
              <li>Hormone replacement therapy (HRT): Women receiving HRT with oestrogen over several years have a higher
                risk.
              </li>
              <li>Race: Although white women are more likely to develop breast cancer, there is an increase among African
                women.
              </li>
              <li>Simple lifestyle changes such as healthy diet, staying active and not smoking are within our control.
              </li>
            </ul>

            <p>Warning signs and symptoms of breast cancer:</p>

            <p>Symptoms may not be obvious in the early stages, and the warning signs of breast cancer are not the same
              for all women. Later symptoms include:</p>

            <ul>
              <li>A lump or swelling in or near your breast, or under your arm – usually painless, but can cause a prickly
                feeling.
              </li>
              <li>Change in nipple appearance (shape or colour/texture of skin).</li>
              <li>Itchy or irritated breast.</li>
              <li>General pain in or on any part of the breast (but most breast cancers aren’t painful).</li>
              <li>An inverted nipple – when your nipple is turned inward into the breast.</li>
              <li>Thickening of your breast in or near the breast or under the arm area.</li>
              <li>Unusual nipple discharge, especially if it’s stained with blood.</li>
              <li>Skin changes, such as swelling or redness.</li>
              <li>Changes in the shape of your breast.</li>
              <li>Changes in how your breast feels – hardness, tenderness or unusually warm</li>
            </ul>

            <table cellpadding="1" cellspacing="1">
              <thead>
              <tr>
                <th scope="col">BREAST EXAMINATION</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <ul>
                    <li>A monthly self-examination will help you to find lumps as soon as they’re big enough to feel.</li>
                    <li>From the age of 20, you should have a clinical breast examination every year. this is when a
                      doctor or nurse checks your breasts. from the age of 40, you should also have a mammogram each year.
                    </li>
                    <li>A mammogram is an X-ray of your breast. if you’ve never had one before, and especially if you’re
                      in a high-risk group for breast cancer, have your first mammogram at age 40. this is called your
                      baseline mammogram. You’ll need to have a mammogram every year.
                    </li>
                    <li>You can also have radiological assessments – these are breast examinations by mammogram,
                      ultrasound or MRI scan.
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>

            <p><img alt="Mammogram-Breast-Cancer-Health" src="assets/img/health/Mammogram-Breast-Cancer-Health.png"></p>

            <p>&nbsp;</p>

            <hr>
            <p><strong>Netcare Breast Care Centre of Excellence</strong></p>

            <p><a href="tel:0860233233"><strong>0860 233 233</strong></a><strong> or </strong><a
              href="tel:0114805779"><strong>011 480 5779</strong></a><strong> or </strong><a
              href="http://www.breasthealth.co.za"><strong>www.breasthealth.co.za</strong></a></p>

            <hr>
            <p><strong>Bosom Buddies (Breast Health Foundation)</strong></p>

            <p><a href="tel:0860283343"><strong>0860 283 343</strong></a><strong> or </strong><a
              href="http://www.mybreast.org.za"><strong>www.mybreast.org.za</strong></a></p>
            <hr>
            <div class="video-container">
              <iframe width="600" height="480" src="https://www.youtube.com/embed/APKcKFTYKFM" frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen></iframe>
            </div>

            <div>
              <p><strong>South African Regional Hospitals</strong></p>
              <hr>
              <p><strong><u>KwaZulu- Natal</u> </strong></p>
              <ol>
                <li><strong>Queen Nandi Regional Hospital - </strong><a href="tel:0359077000"><strong>035 907 7000</strong></a></li>
                <li><strong>Mahatma Gandhi Memorial Hospital - </strong><a href="tel:0315021719"><strong>031 502 1719</strong></a></li>
                <li><strong>Charles Johnson Memorial hospital - </strong><a href="tel:0342716400"><strong>0342716400</strong></a></li>
                <li><strong>King Edward VIII Hospital - </strong><a href="tel:0313603111"><strong>031 360 3111</strong></a></li>
                <li><strong>East Griqualand & Usher Memorial Hospital - </strong><a href="tel:0397978100"><strong>039 797 8100</strong></a></li>
                <li><strong>Clairwood Hospital - </strong><a href="tel:0314515000"><strong>031 451 5000</strong></a></li>
                <li><strong>Addington Hospital - </strong><a href="tel:0313272000"><strong>031 327 2000</strong></a></li>
                <li><strong>Don McKenzie Hospital - </strong><a href="tel:0317771155"><strong>031 777 1155</strong></a></li>
                <li><strong>Prince Mshiyeni Memorial Hospital - </strong><a href="tel:0319078111"><strong>031 907 8111 </strong></a></li>
                <li><strong>Inkosi Albert Luthuli Central Hospital - </strong><a href="tel:0312401000"><strong>031 240 1000</strong></a></li>
                <li><strong>Niemeyer Memorial Hospital-ER - </strong><a href="tel:0343313011"><strong>034 331 3011</strong></a></li>
                <li><strong>Prince Mshiyeni Memorial Hospital Pharmacy - </strong><a href="tel:0319078111"><strong>031 907 8111</strong></a></li>
                <li><strong>St Aidan's Hospital - </strong><a href="tel:0313142200"><strong>031 314 2200</strong></a></li>
                <li><strong>Murchison District Hospital - </strong><a href="tel:0396877311"><strong>039 687 7311</strong></a></li>
                <li><strong>King Dinuzulu Hospital Complex - </strong><a href="tel:0312426000"><strong>031 242 6000</strong></a></li>
                <li><strong>Newcastle Provincial Hospital - </strong><a href="tel:0343280022"><strong>034 328 0022</strong></a></li>
                <li><strong>Greys Hospital - </strong><a href="tel:0338973000"><strong>033 897 3000</strong></a></li>
                <li><strong>Edendale Hospital - </strong><a href="tel:0333954911"><strong>033 395 4911</strong></a></li>
                <li><strong>Ladysmith Provincial Hospital - </strong><a href="tel:0366372111"><strong>036 637 2111</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Gauteng</u></strong></p>
              <ol>
                <li><strong>Thelle Mogoerane Regional Hospital - </strong><a href="tel:0115900000"><strong>011 590 0000</strong></a></li>
                <li><strong>Steve Biko Academic Hospital - </strong><a href="tel:0123541000"><strong>012 354 1000</strong></a></li>
                <li><strong>Heidelberg Hospital - </strong><a href="tel:0163411100 "><strong>016 341 1100</strong></a></li>
                <li><strong>DR Yusuf Dadoo Hospital - </strong><a href="tel:0119516000"><strong>011 951 6000</strong></a></li>
                <li><strong>South Rand Hospital - </strong><a href="tel:0116812000"><strong>011 681 2000</strong></a></li>
                <li><strong>Mamelodi Hospital  - </strong><a href="tel:0128418300"><strong>012 841 8300</strong></a></li>
                <li><strong>Life Suikerbosrand Hospital - </strong><a href="tel:0163429200"><strong>016 342 9200</strong></a></li>
                <li><strong>Bheki Mlangeni District Hospital - </strong><a href="tel:0103450972"><strong>010 345 0972</strong></a></li>
                <li><strong>Charlotte Maxeke Johannesburg Academic Hospital - </strong><a href="tel:0114884911"><strong>011 488 4911</strong></a></li>
                <li><strong>Edenvale Hospital - </strong><a href="tel:0113216000"><strong>011 321 6000</strong></a></li>
                <li><strong>Netcare Milpark  hospital Jhb - </strong><a href="tel:0114805600"><strong>011 480 5600</strong></a></li>
                <li><strong>Rahima Moosa Mother and Child Hospital - </strong><a href="tel:0114709253"><strong>011 470 9253</strong></a></li>
                <li><strong>Bertha Gxowa Hospital - </strong><a href="tel:0112787600"><strong>011 278 7600</strong></a></li>
                <li><strong>Life Carstenhof Hospital - </strong><a href="tel:0116555500"><strong>011 655 5500</strong></a></li>
                <li><strong>Tambo Memorial Hospital - </strong><a href="tel:0118988317"><strong>011 898 8317</strong></a></li>
                <li><strong>Mmamethlake Hospital - </strong><a href="tel:0127212391"><strong>012 721 2391</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Limpopo</u></strong></p>
              <ol>
                <li><strong>Polokwane Hospital - </strong><a href="tel:0152875000"><strong>015 287 5000</strong></a></li>
                <li><strong>Tshilidzini Hospital - </strong><a href="tel:0159644200"><strong>015 964 4200</strong></a></li>
                <li><strong>Sekororo Hospital - </strong><a href="tel:0163411100 "><strong>016 341 1100</strong></a></li>
                <li><strong>Witpoort Hospital - </strong><a href="tel:0147690025"><strong>014 769 0025</strong></a></li>
                <li><strong>Mokopane Hospital Dispensary - </strong><a href="tel:0154834001"><strong>015 483 4001</strong></a></li>
                <li><strong>St Rita's Hospital  - </strong><a href="tel:0132981000"><strong>013 298 1000</strong></a></li>
                <li><strong>Letaba Hospital - </strong><a href="tel:0153038200"><strong>015 303 8200</strong></a></li>
                <li><strong>Malamulele Hospital - </strong><a href="tel:0158510026"><strong>015 851 0026</strong></a></li>
                <li><strong>Kgapane Hospital - </strong><a href="tel:0153287800"><strong>015 328 7800</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Western Cape</u></strong></p>
              <ol>
                <li><strong>Provincial Hospital Worcester - </strong><a href="tel:0233481100"><strong>023 348 1100</strong></a></li>
                <li><strong>George Hospital-ER  - </strong><a href="tel:0448745122"><strong>044 874 5122</strong></a></li>
                <li><strong>New Somerset Hospital - </strong><a href="tel:0214026911"><strong>021 402 6911</strong></a></li>
                <li><strong>Eerste Rivier Hospital-ER - </strong><a href="tel:0219028000"><strong>021 902 8000</strong></a></li>
                <li><strong>Tygerberg Hospital - </strong><a href="tel:0219384911"><strong>021 938 4911</strong></a></li>
                <li><strong>Khayelitsha Hospital - </strong><a href="tel:0213604200"><strong>021 360 4200</strong></a></li>
                <li><strong>Groote Schuur Hospital - </strong><a href="tel:0214049111"><strong>021 404 9111</strong></a></li>
                <li><strong>Victoria Hospital Wynberg - </strong><a href="tel:0217991111"><strong>021 799 1111</strong></a></li>
                <li><strong>False Bay Hospital-ER  - </strong><a href="tel:0217821121"><strong>021 782 1121</strong></a></li>
                <li><strong>Mosselbay Western Cape Emergency Medical Services  - </strong><a href="tel:0448746468"><strong>044 874 6468</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Eastern Cape</u></strong></p>
              <ol>
                <li><strong>Dora Nginza Hospital - </strong><a href="tel:0414064111"><strong>041 406 4111</strong></a></li>
                <li><strong>Mthatha Regional Hospital - </strong><a href="tel:0475024432"><strong>047 502 4432</strong></a></li>
                <li><strong>Mthatha General Hospital  - </strong><a href="tel:0475024432"><strong>(0)47 502 4432 </strong></a> / <a href="tel:0475024433"><strong>3</strong></a></li>
                <li><strong>Cecilia Makiwane Hospital - </strong><a href="tel:0437082111"><strong>043 708 2111</strong></a></li>
                <li><strong>Nelson Mandela Academic Hospital - </strong><a href="tel:0475024400"><strong>047 502 4400</strong></a></li>
                <li><strong>Port Elizabeth Provincial Hospital - </strong><a href="tel:0414059111"><strong>041 405 9111</strong></a></li>
                <li><strong>Livingstone Hospital - </strong><a href="tel:0214049111"><strong>021 404 9111</strong></a></li>
                <li><strong>Wilhelm Stahl Provincial Hospital - </strong><a href="tel:0498421111"><strong>049 842 1111</strong></a></li>
                <li><strong>Uitenhage Provincial Hospital  - </strong><a href="tel:0419951111"><strong>041 995 1111</strong></a></li>
                <li><strong>Life St George's Hospital  - </strong><a href="tel:0413926111"><strong>041 392 6111</strong></a></li>
                <li><strong>Provincial Hospital (EC) - </strong><a href="tel:0488840241"><strong>048 884 0241</strong></a></li>
                <li><strong>St Dominic's Hospital - </strong><a href="tel:0437079000"><strong>043 707 9000</strong></a></li>
                <li><strong>Life Mercantile Hospital - </strong><a href="tel:0414040400"><strong>041 404 0400</strong></a></li>
                <li><strong>Life Beacon Bay Hospital  - </strong><a href="tel:0437115100"><strong>043 711 5100</strong></a></li>
                <li><strong>Orsmond T. B. Hospital - </strong><a href="tel:0419881111"><strong>041 988 1111</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Mpumalanga</u></strong></p>
              <ol>
                <li><strong>Ermelo Hospital - </strong><a href="tel:0178112031"><strong>017 811 2031</strong></a></li>
                <li><strong>Mapulaneng Hospital - </strong><a href="tel:0137990214"><strong>013 799 0214</strong></a></li>
                <li><strong>Bethal Hospital - </strong><a href="tel:0176476341"><strong>017 647 6341</strong></a></li>
                <li><strong>Embhuleni Hospital - </strong><a href="tel:0178830093"><strong>017 883 0093</strong></a></li>
                <li><strong>Shongwe Hospital - </strong><a href="tel:0137813000"><strong>013 781 3000</strong></a></li>
                <li><strong>Sabie Hospital  - </strong><a href="tel:0137641222"><strong>013 764 1222</strong></a></li>
                <li><strong>Middelburg Hospital Ltd - </strong><a href="tel:0132826143"><strong>013 282 6143</strong></a></li>
                <li><strong>Tonga Hospital - </strong><a href="tel:0137809000"><strong>013 780 9000</strong></a></li>
                <li><strong>Philadelphia Hospital - </strong><a href="tel:0139838100"><strong>013 983 8100</strong></a></li>
                <li><strong>Mmamethlake Hospital  - </strong><a href="tel:0127212391"><strong>012 721 2391</strong></a></li>
                <li><strong>Piet Retief Hospital - </strong><a href="tel:0488840241"><strong>048 884 0241</strong></a></li>
                <li><strong>Tintswalo Hospital - </strong><a href="tel:0137958600"><strong>013 795 8600</strong></a></li>
                <li><strong>Evander Hospital - </strong><a href="tel:0176322212"><strong>017 632 2212</strong></a></li>
                <li><strong>Carolina Hospital  - </strong><a href="tel:0178431121"><strong>017 843 1121</strong></a></li>
                <li><strong>Witbank Hospital - </strong><a href="tel:0136532000"><strong>013 653 2000</strong></a></li>
                <li><strong>Amajuba Memorial Hospital - </strong><a href="tel:0177351103"><strong>017 735 1103</strong></a></li>
                <li><strong>Matibidi Hospital - </strong><a href="tel:0137697000"><strong>013 769 7000</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Free State</u></strong></p>
              <ol>
                <li><strong>Boitumelo Regional Hospital - </strong><a href="tel:0562165380"><strong>056 216 5380</strong></a></li>
                <li><strong>Bongani Regional Hospital - </strong><a href="tel:0579168000"><strong>057 916 8000</strong></a></li>
                <li><strong>Dihlabeng Regional Hospital - </strong><a href="tel:0583071000"><strong>058 307 1000</strong></a></li>
                <li><strong>Pelonomi Academic Hospital - </strong><a href="tel:0514051911"><strong>051 405 1911</strong></a></li>
                <li><strong>Mofumahadi Manapo Mopeli Hospital - </strong><a href="tel:0587183200"><strong>058 718 3200</strong></a></li>
                <li><strong>Bongani Regional Hospital  - </strong><a href="tel:0579168000"><strong>057 916 8000</strong></a></li>
                <li><strong>Senekal Provincial Hospital - </strong><a href="tel:0584814172"><strong>058 481 4172</strong></a></li>
                <li><strong>Botshabelo District Hospital - </strong><a href="tel:0515330111"><strong>051 533 0111</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>North West</u></strong></p>
              <ol>
                <li><strong>Gelukspan District Hospital - </strong><a href="tel:0183369262"><strong>018 336 9262</strong></a></li>
                <li><strong>Mafikeng Provincial Hospital - </strong><a href="tel:0183832005"><strong>018 383 2005</strong></a></li>
                <li><strong>Tshepong Hospital  - </strong><a href="tel:0184063100"><strong>018 406 3100</strong></a></li>
                <li><strong>Job Shimankana Tabane Provincial Hospital - </strong><a href="tel:0145905100"><strong>014 590 5100</strong></a></li>
                <li><strong>Potchefstroom Hospital - </strong><a href="tel:0182934400"><strong>018 293 4400</strong></a></li>
                <li><strong>General De La Rey Memorial Hospital - </strong><a href="tel:0186323041"><strong>018 632 3041</strong></a></li>
                <li><strong>Schweizer-Reneke Hospital - </strong><a href="tel:0539631291"><strong>053 963 1291</strong></a></li>
                <li><strong>Life Peglerae Hospital - </strong><a href="tel:0145977200"><strong>014 597 7200</strong></a></li>
                <li><strong>Odi Community Hospital - </strong><a href="tel:0127252300"><strong>012 725 2300</strong></a></li>
                <li><strong>Witrand Hospital  - </strong><a href="tel:0182949100"><strong>018 294 9100</strong></a></li>
                <li><strong>Klerksdorp Hospital - </strong><a href="tel:0184064600"><strong>018 406 4600</strong></a></li>
                <li><strong>Dr George Mukhari Hospital - </strong><a href="tel:0125293000"><strong>0125293000</strong></a></li>
                <li><strong>Tshwane District Hospital - </strong><a href="tel:0123547000"><strong>012 354 7000</strong></a></li>
              </ol>
              <hr>
              <p><strong><u>Northern Cape</u></strong></p>
              <ol>
                <li><strong>Carnarvon Provincial Aided Hospital - </strong><a href="tel:0533823036"><strong>053 382 3036</strong></a></li>
                <li><strong>Tshwaragano Community Hospital-Batlharos - </strong><a href="tel:0537741780"><strong>053 774 1780</strong></a></li>
                <li><strong>Dr Harry Surtie Hospital   - </strong><a href="tel:0537741780"><strong>053 774 1780</strong></a></li>
                <li><strong>Warrenton Hospital - </strong><a href="tel:0534973146"><strong>053 497 3146</strong></a></li>
                <li><strong>Kakamas Hospital - </strong><a href="tel:0544310866"><strong>054 431 0866</strong></a></li>
                <li><strong>Kimberley Hospital - </strong><a href="tel:0538029111"><strong>053 802 9111</strong></a></li>
                <li><strong>Kuruman Hospital - </strong><a href="tel:0537128100"><strong>053 712 8100</strong></a></li>
                <li><strong>Central Karoo Hospital - </strong><a href="tel:0536312123"><strong>053 631 2123</strong></a></li>
                <li><strong>Postmasburg Hospital - </strong><a href="tel:0533130664"><strong>053 313 0664</strong></a></li>
                <li><strong>Keimoes Hospital - </strong><a href="tel:0544611004"><strong>054 461 1004</strong></a></li>
              </ol>
              <hr>
            </div>
          </div>

          <br _ngcontent-gol-c6="">
          <div _ngcontent-gol-c6="" class="ng-star-inserted">
            <div _ngcontent-gol-c6="" class="subsection-header">Cervical Cancer</div>
            <div _ngcontent-gol-c6=""><p>Cancer of the cervix is the second most common form of cancer among south African
              women – it kills about 3 500 South African women every year. South African national guidelines estimate that
              one in 41 women will develop this form of cancer in their lifetime.</p>

              <table cellpadding="1" cellspacing="1">
                <tbody>
                <tr>
                  <td>Most cervical cancer is caused by the human papillomavirus, or HPV, which is spread by sexual
                    contact.
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>

              <p>Cervical cancer develops very slowly – over as long as 20 years or more. early diagnosis is very
                important.</p>

              <p>Risk factors for cervical cancer:</p>

              <ul>
                <li>Sexual contact while you have symptoms of a sexually transmitted infection (STI) or are being treated
                  for an STI.
                </li>
                <li>Intimate sexual contact (oral, anal or vaginal) with anyone who has symptoms of an STI, may have been
                  exposed to an STI, or is being treated for an STI.
                </li>
                <li>Having more than one sexual partner.</li>
                <li>Not using a condom.</li>
                <li>Smoking: Women who smoke have a higher risk for cervical cell changes that can lead to cervical
                  cancer.
                </li>
              </ul>

              <p>Signs and symptoms of cervical cancer:</p>

              <p>Usually, there are no symptoms of this cancer. often, the first clue is a Pap smear that is abnormal.
                Later
                symptoms may include:</p>

              <ul>
                <li>Bleeding from the vagina that is not normal, such as bleeding between menstrual periods, after sex or
                  after menopause.
                </li>
                <li>Pain in the lower belly or pelvis.</li>
                <li>Pain during sex.</li>
                <li>Vaginal discharge that isn’t normal.</li>
              </ul>

              <p>How to protect yourself against cervical cancer:</p>

              <ul>
                <li>Have regular Pap-smear tests, which can find changes in cervical cells before they turn into cancer,
                  so
                  they can be treated.
                </li>
                <li>If you’re younger than 26, get vaccinated against the human papillomavirus (HPV). the vaccines cervix
                  and Gardasil protect against two types of HPV that cause cervical cancer.
                </li>
              </ul>

              <p><img alt="Diagnosis-Health" src="assets/img/health/Diagnosis-Health.png"></p>

              <hr>
              <p><strong>CANSA - The Cancer Association of South Africa</strong></p>

              <p><strong><a href="tel:0116921079">011 692 1079</a></strong></p>

              <hr>
              <p><strong>National Call Centre</strong></p>

              <p><a href="tel:0861322322"><strong>080 022 6622</strong></a><strong> or </strong><a
                href="http://www.cansa.org.za"><strong>www.cansa.org.za </strong></a></p>

              <hr>
            </div>
            <br _ngcontent-gol-c6="">
          </div>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
