<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 6 - Finance & Banking</div>
      </div>
      <div class="section-header">
        Loans
      </div>
      <div>
        <div _ngcontent-imd-c6=""><div>
          <div>
            <p>Banks offer a variety of different loans, for different purposes. These include personal loans (to pay for things in your personal life, such as a special occasion), home loans (to buy property), vehicle finance (to buy a car or motorbike), student loans (to pay student fees) and business loans (to start and/or grow your business).</p>
          </div>

          <div>
            <p><strong>How do you qualify for a loan?</strong><br>
              Whether you qualify for a loan from the bank will depend on the following factors:</p>
          </div>

          <div>
            <p>Your income</p>

            <ul>
              <li>You need to be earning regular income – the bank needs to see that you will be able to pay back the loan.</li>
              <li>If you are not earning a salary, the bank may require someone else to stand surety for you. This means that they will be legally obligated to pay the money back to the bank if you don’t.</li>
            </ul>
          </div>

          <div>
            <p>The need for collateral/security</p>

            <ul>
              <li>You may need collateral or security for the loan. This is the primary source of repayment if you fail to pay the loan (e.g. if you own property, the bank could use this as security, and may auction off your house to get their money back if you can’t pay them back).</li>
              <li>Usually the bank would want the security to be larger than the amount you’re borrowing.</li>
            </ul>
          </div>

          <div>
            <p>The type of loan</p>

            <ul>
              <li>The type of loan you are applying for and the repayment period will influence the terms the bank offers you.</li>
            </ul>
          </div>

          <div>
            <p>Your credit history</p>

            <ul>
              <li>Your credit history matters. The bank will look at how you have managed previous personal or business loans (i.e. whether you paid the loan back in time).</li>
              <li>They will conduct a full credit analysis and may also get your credit score from the credit bureau (a private company that keeps records of each consumer’s credit history)</li>
            </ul>
          </div>

          <div>
            <p>Your business</p>

            <ul>
              <li>For business loans, the bank will look at your business experience, skills, financial statements, internal control of your business, other loans, the type of business, and the financial viability of the business.</li>
            </ul>
          </div>

          <div>
            <p>If you’re in doubt about the kind of loan that meets your needs, speak to one of your bank’s consultants.</p>
          </div>

          <div>
            <div>
              <table cellpadding="1" cellspacing="1" style="width:500px">
                <thead>
                <tr>
                  <th scope="col">What is interest?</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <div>
                      <p>Interest is the added fee you pay the lender (e.g. bank) for using their money.</p>

                      <p>A loan is borrowed money (it is not your money) and the lender makes extra money by charging you for this privilege.</p>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>

              <p>&nbsp;</p>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
