<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 5 - Women in the Workplace</div>
      </div>
      <div>
        <div class="section-header">Business funding and support</div>
        <div>
          <div _ngcontent-gol-c24=""><p>There are various funds and organisations in South Africa to help entrepreneurs
            start their own businesses:</p>

            <p><strong>FUNDING</strong></p>

            <hr>
            <p><strong>Eastern Cape Development Corporation:</strong><br>
              Provides access to finance, training and other business support to businesses that are headquartered in the
              province.<br>
              <a href="tel:0437045600">043 704 5600</a> <a href="http://www.ecdc.co.za/">www.ecdc.co.za</a></p>

            <hr>
            <p><strong>Free State Development Corporation:</strong><br>
              Provides financial and non-financial support to businesses.<br>
              <a href="tel:0514000800">051 4000 800</a>/<a href="tel:0514000810">810</a> <a href="http://www.fdc.co.za/">www.fdc.co.za</a>
            </p>

            <hr>
            <p><strong>Industrial Development Corporation’s Women Entrepreneurial Fund:</strong><br>
              Provides funding for women’s businesses.<br>
              <a href="tel:0860693888">086 069 3888</a> <a href="https://www.idc.co.za/">www.idc.co.za</a></p>

            <hr>
            <p><strong>The Small Enterprise Finance Agency (Sefa):</strong><br>
              Provides funding for small businesses.<br>
              <a href="tel:0860067332">08600 67 332</a> or <a href="tel:0861322322">012 748 9600</a> <a
                href="http://www.sefa.org.za/">www.sefa.org.za</a></p>

            <hr>
            <p><strong>National Empowerment Fund’s iMbewu Fund:&nbsp;</strong><br>
              Provides black entrepreneurs with funds.<br>
              <a href="tel:0861843633">0861 843 633</a> <a href="https://www.nefcorp.co.za/">www.nefcorp.co.za</a></p>

            <hr>
            <p><strong>Business Partners Ltd:&nbsp;</strong><br>
              Provides financing, knowledge and added value to small and medium enterprises.<br>
              <a href="tel:0117136600">011 713 6600</a> <a href="https://www.businesspartners.co.za/en-za">www.businesspartners.co.za</a>
            </p>

            <hr>
            <p><strong>Awethu Project:&nbsp;</strong><br>
              Provides assistance and funding for entrepreneurs.<br>
              <a href="tel:0110241606">011 024 1606</a> <a
                href="http://www.awethuproject.co.za/">www.awethuproject.co.za</a></p>

            <hr>
            <p>&nbsp;</p>

            <p><strong>SUPPORT</strong></p>

            <hr>
            <p><strong>African Women Chartered Accountants (AWCA):&nbsp;</strong><br>
              Empowers women accountants and entrepreneurs who want to start their own accounting practice.<br>
              <a href="tel:0116216881">011 621 6881</a> <a href="http://www.awca.co.za/">www.awca.co.za</a></p>

            <hr>
            <p><strong>Black Business Women’s Association (BBWA):</strong><br>
              Provides a platform for networking, partnerships and training.<br>
              <a href="tel:0118860808">011 886 0808</a> <a href="http://www.bbwa.co.za/">www.bbwa.co.za</a></p>

            <hr>
            <p><strong>Business Engage:</strong><br>
              Provides access to finance, training and other business support to businesses that are headquartered in the
              province.<br>
              <a href="tel:0843539865">084 353 9865</a> <a href="http://www.businessengage.co.za/">www.businessengage.co.za</a>
            </p>

            <hr>
            <p><strong>Business Women’s Association (BWA):&nbsp;</strong><br>
              Provides assistance, training and networking to women entrepreneurs.<br>
              <strong>Head office - </strong><a href="tel:0114844975">011 484 4975</a><strong>&nbsp;</strong><a
                href="tel:0860000041">&nbsp;</a><a href="http://www.bwasa.co.za/">www.bwasa.co.za</a></p>

            <p><strong>JHB&nbsp;-&nbsp;</strong><a href="tel:00114844945">011 484 4945</a></p>

            <p><strong>Cape town -</strong> <a href="tel:0828408918">082 840 8918</a>/<a href="tel:0633540075">063 354
              0075</a><strong> </strong></p>

            <p><strong>DBN - </strong><a href="tel:0317771053">0317771053</a></p>

            <p><strong>East London -&nbsp;</strong><a href="tel:0437213363">043 721 3363</a>/<a href="tel:0844688310">084
              468 8310</a></p>

            <p><strong>Limpop -&nbsp;</strong><a href="tel:0150650879">015 065 0879</a></p>

            <hr>
            <p><strong>Franchise Association of South Africa (Fasa):</strong><br>
              Promotes franchising and entrepreneurship.<br>
              <a href="tel:011615035">011 615 0359</a>/<a href="tel:011610368">0368</a>/<a
                href="tel:011610378">0378 </a><a href="https://www.fasa.co.za/">www.fasa.co.za</a></p>

            <hr>
            <p><strong>International Women’s Forum of South Africa (IWFSA):&nbsp;</strong><br>
              Educates, empowers and provides networking opportunities for women in leadership.<br>
              <a href="tel:0113255295">011 325 5295</a> <a href="http://www.iwfsa.co.za/">www.iwfsa.co.za</a></p>

            <hr>
            <p><strong>National Youth Development Agency (NYDA):&nbsp;</strong><br>
              Tackles challenges that face South Africa’s youth and offers a range of programmes, including career
              guidance, entrepreneurial development and support.<br>
              <a href="tel:0800525252">0800 52 52 52 </a><a href="http://www.nyda.gov.za/">www.nyda.gov.za</a></p>

            <hr>
            <p><strong>South African Black Entrepreneurs Forum:&nbsp;</strong><br>
              Provides capacity-building opportunities and business education.<br>
              <a href="tel:0110537091">011 053 7091 </a><a href="http://www.sa-bef.co.za/">www.sa-bef.co.za</a></p>

            <hr>
            <p><strong>South African Women Entrepreneurs Network (SAWEN):</strong><br>
              Gives women entrepreneurs networking opportunities and business solutions.<br>
              <a href="tel:0861843384">0861 843 384</a><a href="http://www.ecdc.co.za/">www.ecdc.co.za</a></p>

            <hr>
            <p><strong>Eastern Cape Development Corporation:</strong><br>
              Provides access to finance, training and other business support to businesses that are headquartered in the
              province.<br>
              <a href="tel:0437045600">043 704 5600 </a><a href="http://www.sawen.org.za/">www.sawen.org.za</a></p>

            <hr>
            <p><strong>South African Women in Construction (SAWiC):&nbsp;</strong><br>
              Helps women in construction gain access to contracts, finance, training and networking.<br>
              <a href="tel:0114353911">011 435 3911 </a><a
                href="http://www.sawicgauteng.org.za/">www.sawicgauteng.org.za</a></p>

            <hr>
            <p><strong>Technology for Women in Business (TWIB):</strong><br>
              Works to fast-track women-owned business through technology and innovative solutions.<br>
              <a href="http://www.twib.co.za/">www.twib.co.za</a></p>

            <hr>
            <p><strong>Tourism Enterprise Partnership (TEP):&nbsp;</strong><br>
              Facilitates and encourages growth and expansion of small and medium enterprises in the tourism economy.<br>
              <a href="tel:0118803790">011 880 3790 </a><a href="http://www.tep.co.za/">www.tep.co.za</a></p>

            <hr>
            <p><strong>Women in Business:&nbsp;</strong><br>
              Provides a platform for sharing ideas and promotion opportunities.<br>
              <a href="tel:0829722675">082 972 2675 </a><a href="http://www.womeninbusiness.org.za/">www.womeninbusiness.org.za</a>
            </p>

            <hr>
            <p><strong>Women’s Development Businesses (WDB):&nbsp;</strong><br>
              Provides basic business skills and other support to rural women’s micro-enterprises.<br>
              <a href="tel:0113419900">011 341 9900 </a><a href="http://www.wdbinvestments.co.za/">www.wdbinvestments.co.za</a>
            </p>

            <hr>
            <p><strong>Women in Engineering and the Built Environment (WiEBE):&nbsp;</strong><br>
              Gives women professionals in the field networking and learning opportunities.<br>
              <a href="tel:0114751030">011 475 1030 </a><a href="http://www.wiebe.co.za/">www.wiebe.co.za</a></p>

            <hr>
            <p><strong>Women in Oil &amp; Energy South Africa (WOESA):</strong><br>
              Facilitates and promotes business opportunities for women in the field.<br>
              <a href="tel:0118351880">011 835 1880 </a><a href="http://www.woesa.com/">www.woesa.com</a></p>

            <hr>
          </div>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
