<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a href="#/plbbook/women-in-the-workplace" class="bottomnav-links w-inline-block">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Women in the workplace</div>
      </a>
      <a href="#/plbbook/know-your-rights" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Know your rights</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Finance and Banking</div>
      </div>
      <div class="lede lede-emergencies">
        We all know that life can spring unpleasant surprises on us, such as a job loss or a medical emergency that
        will need money.
      </div>
      <div class="chaptercontent w-richtext">
        <p>
          That’s why financial planning and knowing about how to manage your money is important.
        </p>

      </div>
    </div>

    <a href="#/plbbook/know-your-rights" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Know your rights</div>
    </a>
  </div>
</div>
