<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/family/Happy-Family.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 3 - Family</div>
      </div>
      <div class="section-header" >
        Vaccination
      </div>
      <div>
        <div>
          <p>Vaccinations, also called immunisations, are meant to help keep children safe from preventable diseases, including mumps, polio, measles, chicken pox and whooping cough. Vaccination is free at government health facilities</p>

          <p>It’s possible that some side effects (such as a slight fever) may result, but these are usually mild and will clear up quickly.</p>

          <p>Children need various vaccinations at different growth stages: birth, 6 weeks, 10 weeks, 14 weeks, 9 months, 18 months, 6 years and 12 years.</p>

          <p>All your child’s vaccinations will be recorded on a ‘Road to health’ card. this is given to you when your child is born and it tracks your child’s development until the age of five.</p>
        </div>

        <div>
          <p><img alt="Vaccinations-Family" src="assets/img/family/Vaccinations-Family.png"></p>
        </div>

        <div>
          <p><strong>Vaccine schedules for South Africa</strong></p>

          <div>
            <hr>
            <p><strong>AGE OF CHILD:</strong> Birth</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>BCG&nbsp;</strong>Bacilles Calmette Guerin</li>
              <li><strong>OPV (0)&nbsp;</strong>Oral Polio Vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intradermal/right arm</li>
              <li>Drops by mouth</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:</strong> 6 weeks</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>OPV (1)&nbsp;</strong>Oral Polio Vaccine</li>
              <li><strong>RV (1)&nbsp;</strong>Rotavirus Vaccine</li>
              <li><strong>D Tap-IPV-Hib (1)&nbsp;</strong>Diphtheria, Tetanus, acellular. Pertussis, Inactivated Polio. Vaccine and Haemophilus influenzae type b Combined</li>
              <li><strong>Heb B (1)&nbsp;</strong>Hepatitis B Vaccine</li>
              <li><strong>PCV7 (1)&nbsp;</strong>Pneumococcal Conjugated Vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Drops by mouth</li>
              <li>Liquid by the mouth</li>
              <li>Intramuscular/left thigh</li>
              <li>Intramuscular/right thigh</li>
              <li>Intramuscular/right thigh</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:</strong>&nbsp;10&nbsp;weeks</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>D Tap-IPV-Hib (2)&nbsp;</strong>Diphtheria, Tetanus, acellular. Pertussis, Inactivated Polio. Vaccine and Haemophilus influenzae type b Combined</li>
              <li><strong>Heb B (2)&nbsp;</strong>Hepatitis B Vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intramuscular/left thigh</li>
              <li>Intramuscular/right thigh</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:</strong>&nbsp;14&nbsp;weeks</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>RV (2)&nbsp;</strong>Rotavirus Vaccine (should not be administered after 24 weeks)</li>
              <li><strong>D Tap-IPV-Hib (3)&nbsp;</strong>Diphtheria, Tetanus, acellular. Pertussis, Inactivated Polio. Vaccine and Haemophilus influenzae type b Combined</li>
              <li><strong>Heb B (3)&nbsp;</strong>Hepatitis B Vaccine</li>
              <li><strong>PCV7 (3)&nbsp;</strong>Pneumococcal Conjugated Vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Liquid by the mouth</li>
              <li>Intramuscular/left thigh</li>
              <li>Intramuscular/right thigh</li>
              <li>Intramuscular/right thigh</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:</strong>&nbsp;9 months</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>Measles Vaccine (1)</strong></li>
              <li><strong>OPV (0)</strong> Pneumococcal Conjugated Vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intramuscular/left thigh</li>
              <li>Intramuscular/right thigh</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:</strong>&nbsp;18&nbsp;months</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>D Tap-IPV-Hib (4)&nbsp;</strong>Diphtheria, Tetanus, acellular. Pertussis, Inactivated Polio. Vaccine and Haemophilus influenzae type b Combined</li>
              <li><strong>Measles Vaccine (2)</strong></li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intramuscular/left arm</li>
              <li>Intramuscular/right arm</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD:&nbsp;</strong>6 years</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>Td Vaccine</strong>&nbsp;Tetanus and reduced strenght of diphtheria vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intramuscular/left arm</li>
            </ul>

            <hr></div>

          <div>
            <p><strong>AGE OF CHILD: 12</strong>&nbsp;years</p>
          </div>

          <div>
            <p><strong>VACCINE NEEDED:</strong></p>

            <ul>
              <li><strong>Td Vaccine</strong>&nbsp;Tetanus and reduced strenght of diphtheria vaccine</li>
            </ul>
          </div>

          <div>
            <p><strong>HOW AND WHERE IT IS GIVEN?</strong></p>

            <ul>
              <li>Intramuscular/left arm</li>
            </ul>

            <hr></div>
        </div>

        <p>&nbsp;</p>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
