<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/family/Happy-Family.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 3 - Family</div>
      </div>
      <div class="section-header">
        Child abuse
      </div>
      <div>
        <div>
          <div>
            <p>The abuse of children is a major problem in south Africa and around the world. When a parent, caregiver or guardian causes harm, injury or death to a child (whether on purpose or by failing to act), that is considered child abuse.</p>

            <p>There are many forms of child abuse, including physical abuse and maltreatment, verbal abuse, sexual abuse or indecent assault, exploitation and child labour, emotional neglect, medical neglect and educational neglect.</p>

            <p><strong>Signs that child abuse may be taking place</strong></p>

            <ul>
              <li>Refusal to go home or to the home of a relative or friend for no apparent reason.</li>
              <li>Bed wetting.</li>
              <li>Withdrawal from peer-group activities.</li>
              <li>Deterioration in school work.</li>
              <li>Drastic changes in personality (e.g. used to be even-tempered and is suddenly extremely aggressive).</li>
              <li>Excessive crying or irritability.</li>
              <li>Increased disobedience.</li>
              <li>Malnutrition or eating disorders.</li>
              <li>Unexplained burns, fractures or dislocations and bruises, swelling, lacerations, redness or bleeding.</li>
              <li>Many fractures at different stages of healing.</li>
              <li>Bald patches or bruises on the head.</li>
              <li>Bruising around the mouth.</li>
              <li>Difficulty walking or sitting.</li>
            </ul>
          </div>
        </div>
        <div _ngcontent-gol-c15="" class="subsection-header">Child sexual abuse</div><div _ngcontent-gol-c15=""><p>When any adult engages in sexual activity with a child, that is considered child sexual abuse. it is a crime in south Africa to engage in sexual activity with a child, male or female.</p>

        <p>You can’t know if a person is a sexual abuser by the way they look. sexual abusers of children are not unknown strangers lurking in the dark. Very often they are people you know and trust, like a family member, friend, neighbour, teacher, priest or coach.</p>

        <p>Sexual abuse is not easy to identify and may continue for years without being reported. sexual abuse happens across south Africa every day, regardless of race, background, education or religion.</p>

        <p>Teach your child to tell you if someone touches them inappropriately, and keep your eyes open for the signs and symptoms of possible abuse.</p>

        <table cellpadding="1" cellspacing="1">
          <tbody>
          <tr>
            <td><strong><em>There are many laws and Acts in south Africa that protect children&nbsp;</em></strong><strong><em>and their rights. According to south African criminal law&nbsp;</em></strong><strong><em>(sexual offences and Related Matters, 2007), sexual offense&nbsp;</em></strong><strong><em>against children is a criminal offense</em></strong>.</td>
          </tr>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p>Child sexual abuse includes:</p>

        <ul>
          <li>Touching a child‘s genitals (penis, vagina, testicles or anus).</li>
          <li>Making a child touch somebody else’s genitals.</li>
          <li>Inserting any body part (penis, fi ngers or tongue) inside a child’s vagina or anus for sexual pleasure.</li>
          <li>Exposing adult genitals to a child for sexual reasons.</li>
          <li>Taking a picture of a child in sexual poses.</li>
          <li>Making a child watch adult sexual activity.</li>
          <li>Showing pornography to a child.</li>
        </ul>

        <p>Warning signs and symptoms of possible sexual abuse of a child:</p>

        <ul>
          <li>Fear of certain places or people.</li>
          <li>Not wanting to be left alone with an adult for unknown reasons.</li>
          <li>Refusing to undress.</li>
          <li>Refusing to bath.</li>
          <li>Developing a special relationship with an older person.</li>
          <li>Becoming secretive.</li>
          <li>Suddenly showing extreme fear or having nightmares without any explanation.</li>
          <li>Inappropriate play with toys, such as replication of explicit sexual acts.</li>
          <li>Sexually explicit drawings.</li>
          <li>Sexual knowledge beyond what the child should know for their age.</li>
          <li>Unexplained bruises, bleeding, itching or pain in the genital area or mouth.</li>
          <li>Torn, stained or bloody underclothes.</li>
          <li>Blood in urine or stools.</li>
          <li>Repeated genital infections.</li>
          <li>Any signs of an sti (see page 74).</li>
        </ul>

        <p>&nbsp;</p>

        <table cellpadding="1" cellspacing="1">
          <tbody>
          <tr>
            <td>
              <p><strong>he legal age of consent is 16, but exceptions apply,&nbsp;including having sex with someone who has&nbsp; mental disabilities.</strong></p>

              <ul>
                <li><strong>Sex must be consensual between both partners.</strong></li>
                <li><strong>Be mindful of the legal age (18 years in South Africa), and where parents hold legal authority</strong></li>
              </ul>
            </td>
          </tr>
          </tbody>
        </table>

        <p>&nbsp;</p>

        <p><strong>What to do if you suspect sexual abuse</strong></p>

        <ul>
        </ul>

        <ul>
          <li>Report it to the police, a doctor or a trusted teacher or community leader.</li>
          <li>The South African Police Service, and in particular the Family Violence, Child Protection and Sexual Offences Units, is responsible for the investigation of these crimes.</li>
          <li>Ensure your child gets counselling and therapy if necessary.</li>
        </ul>

        <p>You will need to give a statement, and the child will be interviewed by a trained police member. A medical examination will be done on the child, and any injuries photographed. Statements from witnesses and other evidence (such as fingerprints) will be gathered.</p>

        <hr>
        <p><strong>Teddy Bear Clinic <a href="tel:0114844554">011 484 4554</a> <a href="unsafe:htpp://www.ttbc.org.za">www.ttbc.org.za</a></strong></p>

        <hr>
        <p><strong>ChildLine <a href="tel:0800055555">0800 055 555</a> <a href="http://www.childline.org.za">www.childline.org.za</a></strong></p>

        <hr>
        <p><a href="http://www.childline.org.za">&nbsp;</a></p>
      </div><br _ngcontent-gol-c15="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
