<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 - Know your Rights</div>
      </div>
      <div class="section-header">LEGAL DOCUMENTS</div>
      <div>
        <div _ngcontent-imd-c15="" class="subsection-header">Registering a birth (getting a birth certificate) </div><div _ngcontent-imd-c15=""><div>
        <div>
          <p>South African law requires that you register the birth of your child within 30 days after birth. If you don’t do this, your child will not have a birth certificate, and therefore will be unable to enrol at a school. Later, your child will have difficulty applying for an ID document. If you miss this 30-day deadline, it is considered a late registration of birth and you’ll be required to submit more documentation.</p>
        </div>
      </div>

        <div>
          <p>To register a birth, you need your ID document and the child’s proof of birth from the hospital or midwife who delivered your baby. If either parent is deceased, you will also need a copy of the death certificate</p>
        </div>

        <div>
          <p>The first issue of the birth certificate is free.</p>
        </div>

        <div>
          <p>For more information, contact your nearest Department of Home Affairs.</p>
        </div>
      </div><br _ngcontent-imd-c15=""></div><div _ngcontent-imd-c15="" class="ng-star-inserted"><div _ngcontent-imd-c15="" class="subsection-header">Registering a death (getting a death certificate) </div><div _ngcontent-imd-c15=""><div>
      <div>
        <p>The Births and Deaths Registration Act, No 51 of 1992, requires that the death of any person be reported as soon as possible to your nearest Department of Home Affairs. If there isn’t a Department of Home Affairs near you, you can report the death at the nearest police station. A death report will then be issued.</p>
      </div>

      <div>
        <p>To get a death certificate, you will need a completed application form (a medical practitioner or traditional healer will need to fill out a portion of it) and the death report.</p>
      </div>

      <div>
        <p>For more information, contact your nearest Department of Home Affairs.</p>
      </div>
    </div>
    </div><br _ngcontent-imd-c15=""></div><div _ngcontent-imd-c15="" class="ng-star-inserted"><div _ngcontent-imd-c15="" class="subsection-header">Getting an ID book/document/smartcard </div><div _ngcontent-imd-c15=""><div>
      <p>All South Africans and permanent residents need an ID. This allows them to open a bank account, vote, have access to education, get a loan and get a job. You can apply for your ID at any office of the Department of Home Affairs or any South African mission or consulate overseas.</p>
    </div>

      <div>
        <p><strong>To qualify for an ID</strong><br>
          To qualify for an ID, you have to be 16 years or older. If you are applying for an ID for the first time, you will not be charged a fee but you will need to:</p>

        <ul>
          <li>Fill out a form in black ink (take a black pen with you).</li>
          <li>Provide a certified copy of your birth certificate.</li>
          <li>Provide two identical colour photographs that comply with ID specifications (not necessary at smartcard offices as ID images are taken digitally).</li>
        </ul>
      </div>

      <div>
        <p><strong>If you need to have your ID reissued</strong>If your ID reissued has been stolen, lost or damaged, or your surname has changed (e.g. you have taken your husband’s name, or you have gone through a divorce and want to change your name back), you will need to:</p>

        <ul>
          <li>Contact your nearest Department of Home Affairs.</li>
          <li>Fill out a form.</li>
          <li>If you are changing your name on your ID, you will need to submit a copy of your marriage certificate or proof (e.g. a birth certificate) that you are entitled to use a previous surname.</li>
          <li>Provide two identical colour photographs that comply with ID specifications, if you require a temporary ID.</li>
          <li>Pay a fee.</li>
        </ul>
      </div>
    </div><br _ngcontent-imd-c15=""></div><div _ngcontent-imd-c15="" class="ng-star-inserted"><div _ngcontent-imd-c15="" class="subsection-header">Getting a passport</div><div _ngcontent-imd-c15=""><div>
      <p>A passport certifies your identity and nationality, and is the document that allows you to travel outside of the country. A fee is charged to issue a passport.</p>
    </div>

      <div>
        <p>A child (under 18 years old) needs his/her parents’ consent to apply for a passport; both parents need to accompany the child to the nearest Home Affairs in person.</p>
      </div>

      <div>
        <p>To apply for a passport, you will need to:</p>

        <ul>
          <li>Fill out a form in black ink (take a black pen with you).</li>
          <li>Submit your original South African ID document and a copy. (If you are under 16 years old, you will need to submit your original birth certificate plus a copy.)</li>
          <li>Provide two identical colour photographs that comply with passport specifications (not necessary at smartcard offices as images are taken digitally).</li>
          <li>Pay a fee.</li>
        </ul>
      </div>

      <div><img alt="South-African-Passport" src="assets/img/know_your_rights/South-African-Passport.png"></div>
    </div><br _ngcontent-imd-c15="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
