<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a href="#plbbook/higher-education-training" class="bottomnav-links w-inline-block"
         (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>
        <div class="bottomnav-chapter">4: Higher Education & Training</div>
      </a>
      <a href="#plbbook/finance-banking" class="bottomnav-links cc-center w-inline-block"
         (click)="closeMenu()">
        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">6: Finance & Banking</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 5: Women in the Workplace</div>
      </div>
      <div class="lede w-richtext">
        <h3>WOMEN IN THE WORKPLACE</h3>
        <p>Women are a key part of South Africa’s workforce, in the public and private sectors, as well as non-profit
          organisations.</p>
        <p>Although some progress has been made, female representation in the workforce is still unequal and women still
          face challenges, such as unequal pay, discrimination and sexual harassment.</p>
      </div>
      <div class="chaptercontent w-richtext">
        <div>
          <div class="section-header">Finding a job</div>
          <div>
            <p>Looking for a job can be exciting – but also stressful. It can take a while to find employment that suits
              your financial needs, your skills and your geographical area, so you need to accept from the beginning that
              you’re going to have to invest time and energy in the process.</p>

            <p>First steps to finding a job:</p>

            <ul>
              <li>Identify what you are good at.</li>
              <li>Prepare a CV (curriculum vitae).</li>
              <li>Read the jobs section of daily and community newspapers.</li>
              <li>Visit employment agencies or place your CV on a job website.</li>
              <li>Ask your friends and family to keep their ears and eyes open for possible employment opportunities.</li>
              <li>Approach the HR department of companies you would like to work for.</li>
              <li>Be open-minded – explore all options.</li>
              <li>Consider internships or volunteering opportunities in your field of interest so you can gain valuable
                experience.
              </li>
              <li>Don’t give up!</li>
            </ul>

            <table cellpadding="1" cellspacing="1" style="width:500px">
              <thead>
              <tr>
                <th scope="col">Know your rights and benefits</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Take the time to read your organisation’s code of conduct, as well as your employment contract. These
                  outline your rights at work, and should be in line with South Africa’s labour laws. You should also know
                  if you qualify for any benefits, such as medical aid, pension, childcare, education or training.
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>

            <table cellpadding="1" cellspacing="1" style="width:500px">
              <tbody>
              <tr>
                <td>
                  <p>Beware of scams</p>

                  <p>Some job offers sound like easy money but turn out to be a trick to get money out of you. If it seems
                    ‘too good to be true’, it probably is! Don’t fall for ‘job offers’ that ask you to pay any money
                    upfront.</p>
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>

            <p><strong>National Qualification Framework (NQF) and Career Development Services Helpline (for info on career,
              qualifications and educational providers)</strong><br>
              <a href="tel:0860111673"><strong>0860 11 16 73</strong></a></p>

            <hr>
            <p><strong>Department of Labour (labour centres)</strong><br>
              <a href="tel:0860105350"><strong>0860 10 53 50</strong></a><strong> </strong><a
                href="http://www.labour.gov.za/DOL/contacts">www.labour.gov.za/DOL/contacts</a></p>

            <hr>
            <p><strong>GoStudy </strong><a href="tel:0215553928"><strong>021 555 3928</strong></a> <a
              href="http://www.sa.gostudy.info/">www.sa.gostudy.info/</a></p>

            <hr>
            <p><strong>National Youth Development Agency </strong><a href="tel:0800525252"><strong>0800 52 5252</strong></a>
              <a href="http://www.nyda.gov.za">www.nyda.gov.za</a></p>

            <hr>
            <p>&nbsp;</p>
          </div>
        </div>

        <div>
          <div class="section-header">Drawing up a cv</div>
          <div>
            <p>A curriculum vitae, or CV, is a document that provides a current summary of your education, skills, work
              experience and other information. A well-written CV could get you the interview you really want, so it’s
              important to present a good CV. The ideal CV should be no longer than two pages.</p>

            <div>
              <p>What should be included in a CV:</p>

              <ul>
                <li>Personal details (name, contact details).</li>
                <li>Education and qualifications.</li>
                <li>Work experience/employment history.</li>
                <li>Skills relevant to the job, including computer skills, foreign language skills, and any other recent
                  training that is relevant to the role applied for
                </li>
                <li>References (contact details for a minimum of three people who can recommend you for the job).</li>
              </ul>
            </div>

            <div><img alt="Curriculum-Vitae" src="assets/img/women_in_the_workplace/Curriculum-Vitae.png"></div>
          </div>
        </div>

        <div>
          <div class="section-header">Job interviews</div>
          <div>
            <p>Job interviews can make job-seekers very nervous. The key to a successful job interview is to prepare
              well:</p>

            <ul>
              <li>Research the company: If you can, find out what the company does (products and services), if they have
                branches in other regions and who their main clients are.
              </li>
              <li>Dress appropriately: Whether we like it or not, our first physical impression counts. Dress smartly and
                neatly.
              </li>
              <li>Be on time for the interview: In fact, arrive early, as this will help you calm down before you go in.
                If you live in a busy area, allow for possible traffic delays – even if you have a genuine reason for
                being late, it will still create a bad impression.
              </li>
              <li>Show a positive attitude: Employers like positive people; nobody likes to employ miserable people or
                complainers.
              </li>
              <li>Know the description of the position: Find out all you can about the job you’re applying for.</li>
              <li>Be ready to answer questions: You will be asked about your previous jobs, your likes and dislikes, your
                strengths and weaknesses, your goals, etc. Have these answers prepared before the interview.
              </li>
              <li>Ask questions: It shows that you’re interested in the job. Find out about working hours, annual leave,
                and any legal responsibilities and rights.
              </li>
            </ul>
          </div>
        </div>

        <div>
          <div class="section-header">Legal rights</div>
          <div>
            <table cellpadding="1" cellspacing="1" style="width:500px">
              <tbody>
              <tr>
                <td>
                  <p><strong>What is PAYE?</strong></p>

                  <p><strong>PAYE, which stands for ‘Pay As You Earn’, is the tax your employer takes off your monthly
                    salary and pays on your behalf to SARS. This system allows the total amount of tax that you have to pay
                    for the year to be spread steadily over 12 months.</strong></p>
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>
            <div class="subsection-header">Income tax</div>
            <div>
              <p>Income tax is the money that is deducted from your income (your wages/salary, your business/trade or an
                investment) and goes to the South African Revenue Service (SARS). The government uses this money to
                provide key services such as healthcare and education, good roads and other public services.</p>

              <p>The amount of tax you pay depends on what you earn.</p>
            </div>

            <div>
              <p>To register as a taxpayer, you need to fill in an IT77 registration form – you can do this at your
                nearest SARS office. You will then need to submit an income tax return by a certain deadline each
                year.</p>
            </div>

            <div>
              <hr>
              <p><strong>For the most up-to-date information about tax thresholds and tax-return deadlines, and all other
                information about income tax, visit your nearest SARS office.</strong></p>

              <hr>
              <p><strong>South African Revenue Service<br>
                (SARS) <a href="tel:0800007277">0800 00 7277</a> <a href="http://www.sars.gov.za/Pages/default.aspx">www.sars.gov.za</a>
              </strong></p>
            </div>
            <br>
            <div class="subsection-header">Unemployment Insurance fund (UIF)</div>
            <div>
              <p>Your contributions to the Unemployment Insurance Fund (UIF) are deducted from your monthly salary by your
                employer, who also contributes to the fund. You each contribute 1% of your monthly salary.</p>
            </div>

            <div>
              <p>The UIF provides an income for you if you ever become unemployed due to reasons that aren’t your fault,
                if you get sick or if you need to go on maternity leave. It will also provide relief to your dependants if
                you die.</p>
            </div>

            <div>
              <div>
                <p>To claim from the UIF, you need to fill in the forms at your nearest Department of Labour. Your
                  employer should also be able to help you.</p>

                <ul>
                  <li>You can’t claim from the UIF if you resigned from your job.</li>
                  <li>You can’t work and claim from the UIF at the same time.</li>
                </ul>
              </div>

              <div>
                <hr>
                <p><strong>Department of Labour (Labour centres)<br>
                  <a href="tel:0860105350">0860 10 53 50</a> <a href="http://www.labour.gov.za/DOL/contacts">www.labour.gov.za/DOL/contacts</a>
                </strong></p>
              </div>
            </div>
            <br >
            <div class="subsection-header">Maternity leave</div>
            <div>
              <div>
                <p>In South Africa, the law recognises the dual role of women as mothers and as part of the labour force.
                  Women have the right to four months of maternity leave, which can start any time from four weeks before
                  your expected due date.</p>
              </div>

              <div>
                <p>Your employer must keep your position open during that time, so you can return to it when your
                  maternity leave is over. Your employer doesn’t have to pay you while you’re on maternity leave. Make
                  sure you know what your company’s maternity leave policy is.</p>
              </div>

              <div><img alt="Maternity-Leave" src="assets/img/women_in_the_workplace/Maternity-Leave.png"></div>
            </div>

            <p>&nbsp;</p>

            <div>
              <div><strong>Maternity leave and UIF</strong></div>

              <div>
                <ul>
                  <li>If you’ve been contributing to the UIF (see page 149), and if you are not receiving a full salary
                    during your maternity leave, you can claim from the fund for 17 weeks.
                  </li>
                  <li>If you have a miscarriage in the third trimester or a stillborn child, you can claim from the fund
                    for six weeks.
                  </li>
                  <li>In order to qualify for maternity benefits, you must have made 13 consecutive weeks’ contributions
                    to the UIF.
                  </li>
                  <li>If you qualify for maternity benefits, the fund will give you a certain percentage of your ordinary
                    daily wage, depending on how long you’ve worked and how much you earn.
                  </li>
                </ul>
              </div>

              <div>
                <p>Apply as soon as you can. You must submit your application before your baby turns six months old.</p>
              </div>

              <div>
                <p>You’ll need to go to your nearest labour centre and fill in the necessary forms. You will be asked to
                  submit documentation that confirms that you’ve had a baby (your doctor or midwife will need to complete
                  some forms), and that you are not receiving a full salary from your employer during your maternity
                  leave. You can also find all the forms you need at the UIF’s new website, www.ufiling.co.za</p>
              </div>

              <hr>
              <div><strong>Unemployment Insurance Fund (UIF) National Call Centre<br>
                <a href="tel:0860 345 464">0860 345 464</a> <a href="https://www.ufiling.co.za/">www.ufiling.co.za</a>
              </strong>

                <hr>
              </div>
            </div>
            <br _ngcontent-gol-c22="">
            <div class="subsection-header">Losing your job or being unemployed</div>
            <div>
              <p>Being retrenched is a shocking event that can cause a lot of worry and stress.</p>
            </div>

            <div>
              <p>If you’re being retrenched, your employer must first speak to you about a reasonable severance package.
                The severance package can’t be less than one week’s remuneration for each completed year of service. You
                could also be entitled to notice pay.</p>
            </div>

            <div>
              <p>If you’ve been contributing to the UIF, you can claim unemployment benefits from your nearest Department
                of Labour.</p>
            </div>

            <div>
              <p>If you find yourself unemployed, it’s very important for you to keep busy and look after yourself.</p>

              <ul>
                <li>Try to keep healthy: Exercise (even if it’s just going for a walk) at least three times a week for
                  40–60 minutes; eat well, including lots of fresh vegetables; drink plenty of water; try to avoid (or at
                  least cut down on) coffee, alcohol and cigarettes; and get enough sleep (six to eight hours per night).
                </li>
                <li>Keep your personal appearance neat and clean; try to keep up your personal interests and hobbies; and
                  treat yourself regularly by going on a picnic or preparing a special meal.
                </li>
                <li>Try not to go into debt. Ask family members to help by not expecting you to provide or do the things
                  you used to do while you were working.
                </li>
                <li>Don’t carry your fear into your next job. People who have been retrenched may be anxious about losing
                  their job again. Remind yourself of your strong points and achievements, and keep believing in yourself.
                </li>
                <li>Get help if you feel you’re not coping. The shock of retrenchment can have a big effect on your
                  behaviour. Smoking or drinking more, taking drugs, or eating or sleeping either more or less than usual,
                  are all stress responses. Get help from your nearest doctor or clinic.
                </li>
                <li>Most importantly, have a plan: Make a list of the things you have to do every day, including
                  job-hunting (see page 144). Think about finding a place where you can volunteer – not only will this
                  help you not to feel ‘useless’, but you will get experience that may help you when looking for a job.
                </li>
              </ul>
            </div>

            <div><img alt="Online-Job-Search" src="assets/img/women_in_the_workplace/Online-Job-Search.png"></div>
            <br _ngcontent-gol-c22="">
          </div>
        </div>

        <div>
          <div class="section-header">STARTING YOUR OWN BUSINESS</div>
          <div>
            <p>A business is an entity that provides goods or services to customers. Businesses can operate in both the
              informal and formal sectors. Anybody can start a business but it needs hard work, careful thinking and
              planning, passion and basic business skills.</p>

            <p>Informal-sector businesses are usually not registered, taxed or monitored by any authority. They may include
              women who sell fruit and vegetables by the roadside, retail traders at marketplaces, a hair salon in a house
              or car repair in a backyard.</p>

            <p>Formal businesses are registered, pay taxes and value-added tax (VAT), and are governed by the Companies Act,
              No 71 of 2008.</p>

            <p>IMAGE HERE</p>

            <table cellpadding="1" cellspacing="1" style="width:500px">
              <thead>
              <tr>
                <th scope="col"><strong>SHOULD YOU START YOUR OWN BUSINESS?</strong></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <p>Anybody can start a business but not everyone can make a business successful. Before deciding to start
                    your own business, consider some of these questions:</p>

                  <ul>
                    <li>Am i going into business for the right reasons?</li>
                    <li>Do i have the skills and personality traits (creativity, fl exibility, perseverance, commitment and
                      management skills) to succeed as an entrepreneur?
                    </li>
                    <li>Do i have enough money to start my business? can i obtain fi nancing?</li>
                    <li>Do i understand all the legal requirements of running a business in south Africa?</li>
                    <li>Do i have a good product or service that guarantees me a fl ow of customers and/or regular work?
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>

            <ul>
            </ul>
            <div _ngcontent-gol-c23="" class="subsection-header">Deciding on the type of business</div>
            <div _ngcontent-gol-c23="">
              <div>
                <div>
                  <p>There are various kinds of formal business, each with its own advantages and disadvantages. The
                    Companies Act of 2008 also provides for two categories: non-profit and for-profit companies.</p>
                </div>

                <div>
                  <ul>
                    <li><strong>Personal liability company – Inc:</strong>

                      <p>This is a business registered by professionals who are jointly and severally liable for the
                        company’s debts. This means that no matter how much the business owes, all the partners are
                        responsible for the debt, and may even have their personal property seized to settle debts.</p>
                    </li>
                    <li><strong>Private business – (Pty) Ltd:</strong>
                      <p>This is a proprietary company and must have at least one shareholder but no more than 50. There is
                        a slight advantage to writing ‘(Pty) Ltd’ after your company’s name because it is viewed as being
                        more stable and established.</p>
                    </li>
                    <li><strong>Public company – Ltd: </strong>
                      <ul>
                        <li>Name must end with the word limited (Ltd).</li>
                        <li>The incorporators of the company must consist of at least one person.</li>
                        <li>The company must have at least three directors.</li>
                      </ul>
                    </li>
                    <br>
                    <li><strong>Closed Corporations – CC:</strong>
                      <p>Under the Act, it will no longer be possible to register new closed corporations, nor may companies
                        be converted into one. Existing closed corporations will be treated as private companies.</p>
                    </li>
                    <li><strong>Non-profit companies – NPC:</strong>
                      <ul>
                        <li>They are incorporated for a public benefit or purpose such as foundations, churches or
                          charitable organisations.
                        </li>
                        <li>A minimum of three persons, called incorporators, must complete and sign the Memorandum of
                          Incorporation (MOI).
                        </li>
                        <li>A minimum of three directors must be approved.</li>
                        <li>All assets and income of the company must be used to advance its stated objective</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>

              <div>
                <hr>
                <p><strong>Department of Trade and Industry National Call Centre<br>
                  0861 843 384 <a href="http://www.thedti.gov.za/"> www.thedti.gov.za</a> </strong></p>
              </div>

              <div>
                <hr>
                <p><strong>Department of Small Business Development<br>
                  0861 843 384 (option 2) <a href="http://www.dsbd.gov.za/"> www.dsbd.gov.za</a> </strong></p>
              </div>

              <div>
                <hr>
                <p><strong>Small Enterprise Development Agency (SEDA)<br>
                  0860 103 703 <a href="http://www.seda.org.za/"> www.seda.org.za</a> </strong></p>
              </div>

              <div>
                <hr>
                <p><strong>Companies and Intellectual Property Commission (CIPC) call centre<br>
                  086 100 2472 <a href="http://www.cipc.co.za/"> www.cipc.co.za</a> </strong></p>
              </div>

              <div>
                <hr>
                <p><strong>Copac (info about the cooperative movement)<br>
                  011 447 1013 <a href="http://www.copac.org.za/"> www.copac.org.za</a> </strong></p>
              </div>

              <div><img alt="Business" src="assets/img/women_in_the_workplace/Business.png"></div>
            </div>
            <br _ngcontent-gol-c23="">
            <div class="subsection-header">Drawing up a business plan</div>
            <div>
              <div>
                <div>
                  <p>A business plan is a document that describes all the ideas you have about your business. It is a map
                    that will help you on your journey and to achieve your business goals.</p>
                </div>

                <div>
                  <p>Your business plan should include:</p>

                  <ul>
                    <li>The details of your core business.</li>
                    <li>The details of your marketing plan (a document that outlines your plan for marketing and advertising
                      your business).
                    </li>
                    <li>The details of your operations plan (a document detailing how you are going to run your business on
                      a day-to-day basis, e.g. production/manufacturing, inventory, sales and distribution).
                    </li>
                    <li>The details of your staffing plan (a document that shows what positions need to be filled in order
                      for your business to operate effectively).
                    </li>
                    <li>The details of your financial plan (a document indicating how much money your business needs to
                      achieve its goals).
                    </li>
                  </ul>
                </div>
              </div>

              <div>
                <hr>
                <p><strong>Small Enterprise Development Agency (SEDA)<br>
                  0860 103 703 <a href="http://www.seda.org.za/">www.seda.org.za</a> </strong></p>

                <hr>
              </div>
            </div>
            <br _ngcontent-gol-c23="">
          </div>
        </div>

        <div>
          <div class="section-header">Business funding and support</div>
          <div>
            <div _ngcontent-gol-c24=""><p>There are various funds and organisations in South Africa to help entrepreneurs
              start their own businesses:</p>

              <p><strong>FUNDING</strong></p>

              <hr>
              <p><strong>Eastern Cape Development Corporation:</strong><br>
                Provides access to finance, training and other business support to businesses that are headquartered in the
                province.<br>
                <a href="tel:0437045600">043 704 5600</a> <a href="http://www.ecdc.co.za/">www.ecdc.co.za</a></p>

              <hr>
              <p><strong>Free State Development Corporation:</strong><br>
                Provides financial and non-financial support to businesses.<br>
                <a href="tel:0514000800">051 4000 800</a>/<a href="tel:0514000810">810</a> <a href="http://www.fdc.co.za/">www.fdc.co.za</a>
              </p>

              <hr>
              <p><strong>Industrial Development Corporation’s Women Entrepreneurial Fund:</strong><br>
                Provides funding for women’s businesses.<br>
                <a href="tel:0860693888">086 069 3888</a> <a href="https://www.idc.co.za/">www.idc.co.za</a></p>

              <hr>
              <p><strong>The Small Enterprise Finance Agency (Sefa):</strong><br>
                Provides funding for small businesses.<br>
                <a href="tel:0860067332">08600 67 332</a> or <a href="tel:0861322322">012 748 9600</a> <a
                  href="http://www.sefa.org.za/">www.sefa.org.za</a></p>

              <hr>
              <p><strong>National Empowerment Fund’s iMbewu Fund:&nbsp;</strong><br>
                Provides black entrepreneurs with funds.<br>
                <a href="tel:0861843633">0861 843 633</a> <a href="https://www.nefcorp.co.za/">www.nefcorp.co.za</a></p>

              <hr>
              <p><strong>Business Partners Ltd:&nbsp;</strong><br>
                Provides financing, knowledge and added value to small and medium enterprises.<br>
                <a href="tel:0117136600">011 713 6600</a> <a href="https://www.businesspartners.co.za/en-za">www.businesspartners.co.za</a>
              </p>

              <hr>
              <p><strong>Awethu Project:&nbsp;</strong><br>
                Provides assistance and funding for entrepreneurs.<br>
                <a href="tel:0110241606">011 024 1606</a> <a
                  href="http://www.awethuproject.co.za/">www.awethuproject.co.za</a></p>

              <hr>
              <p>&nbsp;</p>

              <p><strong>SUPPORT</strong></p>

              <hr>
              <p><strong>African Women Chartered Accountants (AWCA):&nbsp;</strong><br>
                Empowers women accountants and entrepreneurs who want to start their own accounting practice.<br>
                <a href="tel:0116216881">011 621 6881</a> <a href="http://www.awca.co.za/">www.awca.co.za</a></p>

              <hr>
              <p><strong>Black Business Women’s Association (BBWA):</strong><br>
                Provides a platform for networking, partnerships and training.<br>
                <a href="tel:0118860808">011 886 0808</a> <a href="http://www.bbwa.co.za/">www.bbwa.co.za</a></p>

              <hr>
              <p><strong>Business Engage:</strong><br>
                Provides access to finance, training and other business support to businesses that are headquartered in the
                province.<br>
                <a href="tel:0843539865">084 353 9865</a> <a href="http://www.businessengage.co.za/">www.businessengage.co.za</a>
              </p>

              <hr>
              <p><strong>Business Women’s Association (BWA):&nbsp;</strong><br>
                Provides assistance, training and networking to women entrepreneurs.<br>
                <strong>Head office - </strong><a href="tel:0114844975">011 484 4975</a><strong>&nbsp;</strong><a
                  href="tel:0860000041">&nbsp;</a><a href="http://www.bwasa.co.za/">www.bwasa.co.za</a></p>

              <p><strong>JHB&nbsp;-&nbsp;</strong><a href="tel:00114844945">011 484 4945</a></p>

              <p><strong>Cape town -</strong> <a href="tel:0828408918">082 840 8918</a>/<a href="tel:0633540075">063 354
                0075</a><strong> </strong></p>

              <p><strong>DBN - </strong><a href="tel:0317771053">0317771053</a></p>

              <p><strong>East London -&nbsp;</strong><a href="tel:0437213363">043 721 3363</a>/<a href="tel:0844688310">084
                468 8310</a></p>

              <p><strong>Limpop -&nbsp;</strong><a href="tel:0150650879">015 065 0879</a></p>

              <hr>
              <p><strong>Franchise Association of South Africa (Fasa):</strong><br>
                Promotes franchising and entrepreneurship.<br>
                <a href="tel:011615035">011 615 0359</a>/<a href="tel:011610368">0368</a>/<a
                  href="tel:011610378">0378 </a><a href="https://www.fasa.co.za/">www.fasa.co.za</a></p>

              <hr>
              <p><strong>International Women’s Forum of South Africa (IWFSA):&nbsp;</strong><br>
                Educates, empowers and provides networking opportunities for women in leadership.<br>
                <a href="tel:0113255295">011 325 5295</a> <a href="http://www.iwfsa.co.za/">www.iwfsa.co.za</a></p>

              <hr>
              <p><strong>National Youth Development Agency (NYDA):&nbsp;</strong><br>
                Tackles challenges that face South Africa’s youth and offers a range of programmes, including career
                guidance, entrepreneurial development and support.<br>
                <a href="tel:0800525252">0800 52 52 52 </a><a href="http://www.nyda.gov.za/">www.nyda.gov.za</a></p>

              <hr>
              <p><strong>South African Black Entrepreneurs Forum:&nbsp;</strong><br>
                Provides capacity-building opportunities and business education.<br>
                <a href="tel:0110537091">011 053 7091 </a><a href="http://www.sa-bef.co.za/">www.sa-bef.co.za</a></p>

              <hr>
              <p><strong>South African Women Entrepreneurs Network (SAWEN):</strong><br>
                Gives women entrepreneurs networking opportunities and business solutions.<br>
                <a href="tel:0861843384">0861 843 384</a><a href="http://www.ecdc.co.za/">www.ecdc.co.za</a></p>

              <hr>
              <p><strong>Eastern Cape Development Corporation:</strong><br>
                Provides access to finance, training and other business support to businesses that are headquartered in the
                province.<br>
                <a href="tel:0437045600">043 704 5600 </a><a href="http://www.sawen.org.za/">www.sawen.org.za</a></p>

              <hr>
              <p><strong>South African Women in Construction (SAWiC):&nbsp;</strong><br>
                Helps women in construction gain access to contracts, finance, training and networking.<br>
                <a href="tel:0114353911">011 435 3911 </a><a
                  href="http://www.sawicgauteng.org.za/">www.sawicgauteng.org.za</a></p>

              <hr>
              <p><strong>Technology for Women in Business (TWIB):</strong><br>
                Works to fast-track women-owned business through technology and innovative solutions.<br>
                <a href="http://www.twib.co.za/">www.twib.co.za</a></p>

              <hr>
              <p><strong>Tourism Enterprise Partnership (TEP):&nbsp;</strong><br>
                Facilitates and encourages growth and expansion of small and medium enterprises in the tourism economy.<br>
                <a href="tel:0118803790">011 880 3790 </a><a href="http://www.tep.co.za/">www.tep.co.za</a></p>

              <hr>
              <p><strong>Women in Business:&nbsp;</strong><br>
                Provides a platform for sharing ideas and promotion opportunities.<br>
                <a href="tel:0829722675">082 972 2675 </a><a href="http://www.womeninbusiness.org.za/">www.womeninbusiness.org.za</a>
              </p>

              <hr>
              <p><strong>Women’s Development Businesses (WDB):&nbsp;</strong><br>
                Provides basic business skills and other support to rural women’s micro-enterprises.<br>
                <a href="tel:0113419900">011 341 9900 </a><a href="http://www.wdbinvestments.co.za/">www.wdbinvestments.co.za</a>
              </p>

              <hr>
              <p><strong>Women in Engineering and the Built Environment (WiEBE):&nbsp;</strong><br>
                Gives women professionals in the field networking and learning opportunities.<br>
                <a href="tel:0114751030">011 475 1030 </a><a href="http://www.wiebe.co.za/">www.wiebe.co.za</a></p>

              <hr>
              <p><strong>Women in Oil &amp; Energy South Africa (WOESA):</strong><br>
                Facilitates and promotes business opportunities for women in the field.<br>
                <a href="tel:0118351880">011 835 1880 </a><a href="http://www.woesa.com/">www.woesa.com</a></p>

              <hr>
            </div>
          </div>
        </div>

      </div>

    </div>

    <a href="#plbbook/finance-banking" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">6: Finance & Banking</div>
    </a>
  </div>
</div>
