<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/women_in_the_workplace/Women-in-the-workplace.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block" (click)="closeMenu()">
        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>
      </a>
      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">
        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>
        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter {{CURRENT_CHAPTER}} {{chapter?.chapterTitle}}</div>
      </div>
      <div class="lede w-richtext" [innerHTML]="chapter?.story"></div>
      <div class="chaptercontent w-richtext" *ngIf="extendedSections">
        <div *ngFor="let section of extendedSections">
          <div class="section-header" [innerHTML]="section?.sectionTitle"></div>
          <div [innerHTML]="section?.story"></div>
          <div *ngIf="section.subsections">
            <div *ngFor="let subsection of section.subsections">
              <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
              <div [innerHTML]="subsection.story"></div>
              <br>
            </div>
          </div>
          <br>
        </div>
      </div>
      <!--<div class="chaptercontent w-richtext">-->
        <!--<p>-->
          <!--Although some progress has been made, female representation in the workforce is still unequal and women-->
          <!--still face challenges, such as unequal pay, discrimination and sexual harassment.-->
        <!--</p>-->

        <!--<p>Looking for a job can be exciting – but also stressful. It can take a while to find employment that suits your financial needs, your skills and your geographical area, so you need to accept from the beginning that you’re going to have to invest time and energy in the process.</p>-->

        <!--<p>First steps to finding a job:</p>-->

        <!--<ul>-->
          <!--<li>Identify what you are good at.</li>-->
          <!--<li>Prepare a CV (curriculum vitae).</li>-->
          <!--<li>Read the jobs section of daily and community newspapers.</li>-->
          <!--<li>Visit employment agencies or place your CV on a job website.</li>-->
          <!--<li>Ask your friends and family to keep their ears and eyes open for possible employment opportunities. </li>-->
          <!--<li>Approach the HR department of companies you would like to work for.</li>-->
          <!--<li>Be open-minded – explore all options.</li>-->
          <!--<li>Consider internships or volunteering opportunities in your field of interest so you can gain valuable experience.</li>-->
          <!--<li>Don’t give up!</li>-->
        <!--</ul>-->

        <!--<table id="pink-table">-->
          <!--<tr>-->
            <!--<th>Know your rights and benefits</th>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td><p>-->
            <!--Take the time to read your organisation’s code of conduct, as well as your employment contract. These outline your rights at work, and should be in line with-->
              <!--South Africa’s labour laws. You should also know if you qualify for any benefits, such as medical aid, pension, childcare, education or training.</p></td>-->
          <!--</tr>-->
        <!--</table>-->
        <!--<br>-->
        <!--Beware of scams Some job offers sound like easy money but turn out to be a trick to get money out of you. If it seems ‘too good to be true’, it probably-->
        <!--is! Don’t fall for ‘job offers’ that ask you to pay any money upfront.-->
        <!--<br>-->
        <!--<br>-->
        <!--<hr>-->
        <!--National Qualification Framework (NQF) and Career Development Services-->
        <!--Helpline (for info on career, qualifications and educational providers)<br>-->
        <!--0860 11 16 73-->
        <!--<hr>-->
        <!--Department of Labour (labour centres)<br>-->
        <!--0860 10 53 50 <a href = "http://www.labour.gov.za/DOL/contacts">labour.gov.za</a>-->
        <!--<hr>-->
        <!--GoStudy 021 555 3928 <a href ="http://www.sa.gostudy.info/">sa.gostudy.info</a>-->
        <!--<hr>-->
        <!--National Youth Development Agency 0800 52 5252 <a href ="http://www.nyda.gov.za/Pages/default.aspx">nyda.gov.za</a>-->
        <!--<hr>-->
        <!--<br>-->
        <!--<div class="section-header">DRAWING UP A CV</div>-->
        <!--<p>A curriculum vitae, or CV, is a document that provides a current summary of your education, skills, work experience and other information. A well-written CV could get-->
          <!--you the interview you really want, so it’s important to present a good CV. The ideal CV should be no longer than two pages.</p>-->
        <!--<br>-->
        <!--What should be included in a CV:<br>-->
            <!--<ul>-->
                <!--<li>Personal details (name, contact details).</li>-->
                <!--<li>Education and qualifications.</li>-->
                <!--<li>Work experience/employment history</li>-->
                <!--<li>Skills relevant to the job, including computer skills, foreign language skills, and any other recent training that is relevant to the role applied for.</li>-->
                <!--<li>References (contact details for a minimum of three people who can recommend you for the job).</li>-->
            <!--</ul>-->
        <!--<div><img src="../../assets/img/women_in_the_workplace/Curriculum-Vitae.png" alt="Curriculum-Vitae" width="400px"></div>-->
        <!--<br>-->
        <!--<div class="section-header">JOB INTERVIEWS</div>-->
        <!--<p>Job interviews can make job-seekers very nervous. The key to a successful job-->
          <!--interview is to prepare well:</p>-->
        <!--<ul>-->
        <!--<li>Research the company: If you can, find out what the company does (products and services), if they have branches in other regions and who their main clients are.</li>-->
        <!--<li>Dress appropriately: Whether we like it or not, our first physical impression counts. Dress smartly and neatly</li>-->
        <!--<li>Be on time for the interview: In fact, arrive early, as this will help you calm down before you go in. If you live in a busy area, allow for possible traffic delays – even if you have a genuine reason for being late, it will still create a bad impression.</li>-->
        <!--<li>Show a positive attitude: Employers like positive people; nobody likes to employ miserable people or complainers.</li>-->
        <!--<li>Know the description of the position: Find out all you can about the job you’re applying for.</li>-->
        <!--<li>Be ready to answer questions: You will be asked about your previous jobs, your likes and dislikes, your strengths and weaknesses, your goals, etc. Have these answers prepared before the interview.</li>-->
        <!--<li>Ask questions: It shows that you’re interested in the job. Find out about working hours, annual leave, and any legal responsibilities and rights. </li>-->
        <!--</ul>-->
        <!--<br>-->
       <!--<div class="section-header">LEGAL RIGHTS</div>-->
        <!--<p>-->
          <!--<strong>Income tax</strong><br>-->
          <!--Income tax is the money that is deducted from your income (your wages/salary,-->
          <!--your business/trade or an investment) and goes to the South African Revenue Service-->
          <!--(SARS). The government uses this money to provide key services such as healthcare-->
          <!--and education, good roads and other public services.-->
        <!--</p>-->

        <!--<p>The amount of tax you pay depends on what you earn.</p>-->

        <!--<p>To register as a taxpayer, you need to fill in an IT77 registration form – you can do this at your nearest SARS office. You will then need to submit an income tax return by a certain deadline each year.</p>-->
        <!--<br>-->
        <!--<hr>-->
        <!--<p>-->
          <!--<strong>For the most up-to-date information about tax thresholds and tax-return-->
          <!--deadlines, and all other information about income tax, visit your nearest-->
            <!--SARS office.</strong></p>-->
        <!--<hr>-->
        <!--<p>-->
          <!--<strong>South African Revenue Service (SARS)<br>-->
            <!--0800 00 7277 <a href = "http://www.sars.gov.za/Pages/default.aspx">sars.gov.za</a></strong>-->
        <!--</p>-->
        <!--<hr>-->
        <!--<br>-->
        <!--<strong>UNEMPLOYMENT INSURANCE FUND (UIF)</strong>-->
        <!--<p>-->
          <!--Your contributions to the Unemployment Insurance Fund (UIF) are deducted from your monthly salary by your employer, who also contributes to the fund. You each contribute-->
          <!--1% of your monthly salary-->
        <!--</p>-->

        <!--<p>-->
          <!--The UIF provides an income for you if you ever become unemployed due to reasons that aren’t your fault, if you get sick or if you need to go on maternity leave. It will also provide relief to your dependants if you die.-->
        <!--</p>-->

        <!--<p>-->
          <!--To claim from the UIF, you need to fill in the forms at your nearest Department of Labour.-->
          <!--Your employer should also be able to help you.-->
        <!--</p>-->
        <!--<ul>-->
          <!--<li>You can’t claim from the UIF if you resigned from your job.</li>-->
          <!--<li>You can’t work and claim from the UIF at the same time.</li>-->
        <!--</ul>-->
        <!--<hr>-->
        <!--<p>-->
          <!--<strong>Department of Labour (Labour centres)<br>-->
            <!--0860 10 53 50 <a href ="http://www.labour.gov.za/DOL/contacts"> labour.gov.za</a></strong>-->
        <!--</p>-->
        <!--<hr>-->
        <!--<br>-->
        <!--<strong>MATERNITY LEAVE</strong>-->
        <!--<p>-->
          <!--In South Africa, the law recognises the dual role of women as mothers and as part of the labour force. Women have the right to four months of maternity leave, which can-->
          <!--start any time from four weeks before your expected due date.-->
        <!--</p>-->

        <!--<p>-->
          <!--Your employer must keep your position open during that time, so you can return to it when your maternity leave is over. Your employer doesn’t have to pay you while you’re-->
          <!--on maternity leave. Make sure you know what your company’s maternity leave policy is.-->
        <!--</p>-->
        <!--<div><img src="../../assets/img/women_in_the_workplace/Maternity-Leave.png" alt="Maternity-Leave" width="400px"></div>-->
        <!--<br>-->
        <!--<strong><em>Maternity leave and UIF</em></strong>-->
        <!--<ul>-->
          <!--<li> If you’ve been contributing to the UIF (see page 149), and if you are not receiving a full salary during your maternity leave, you can claim from the fund for 17 weeks.</li>-->
          <!--<li>If you have a miscarriage in the third trimester or a stillborn child, you can claim from the fund for six weeks.</li>-->
          <!--<li>In order to qualify for maternity benefits, you must have made 13 consecutive weeks’ contributions to the UIF. </li>-->
          <!--<li>If you qualify for maternity benefits, the fund will give you a certain percentage of your ordinary daily wage, depending on how long you’ve worked and how much you earn.</li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<p>-->
          <!--Apply as soon as you can. You must submit your application before your baby turns six months old.-->
        <!--</p>-->
        <!--<p>-->
          <!--You’ll need to go to your nearest labour centre and fill in the necessary forms. You will be asked to submit documentation that confirms that you’ve had a baby (your doctor or midwife will need to complete some forms), and that you are not receiving a full salary from your employer during your maternity leave. You can also find all the forms you need at the UIF’s new website,<a href="www.ufiling.co.za"> www.ufiling.co.za</a>-->
        <!--</p>-->
        <!--<br>-->
        <!--<hr>-->
        <!--<p>-->
          <!--<strong>Unemployment Insurance Fund (UIF) National Call Centre <br>-->
          <!--0860 345 464 <a href ="http://www.ufiling.co.za/">www.ufiling.co.za</a></strong>-->
        <!--</p>-->
        <!--<hr>-->
        <!--<strong>LOSING YOUR JOB OR BEING UNEMPLOYED</strong>-->
        <!--<p>-->
          <!--Being retrenched is a shocking event that can cause a lot of worry and stress.-->
        <!--</p>-->

        <!--<p>-->
          <!--If you’re being retrenched, your employer must first speak to you about a reasonable severance package. The severance package can’t be less than one week’s remuneration for each completed year of service. You could also be entitled to notice pay.-->
        <!--</p>-->

        <!--<p>-->
          <!--If you’ve been contributing to the UIF, you can claim unemployment benefits from your nearest Department of Labour-->
        <!--</p>-->
        <!--<ul>-->
          <!--<li>Try to keep healthy: Exercise (even if it’s just going for a walk) at least three times a week for 40–60 minutes; eat well, including lots of fresh vegetables; drink plenty of water; try to avoid (or at least cut down on) coffee, alcohol and cigarettes; and get enough sleep (six to eight hours per night)</li>-->
          <!--<li>Keep your personal appearance neat and clean; try to keep up your personal interests and hobbies; and treat yourself regularly by going on a picnic or preparing a special meal.</li>-->
          <!--<li>Try not to go into debt. Ask family members to help by not expecting you to provide or do the things you used to do while you were working. </li>-->
          <!--<li>Don’t carry your fear into your next job. People who have been retrenched may be anxious about losing their job again. Remind yourself of your strong points and achievements, and keep believing in yourself.</li>-->
          <!--<li>Get help if you feel you’re not coping. The shock of retrenchment can have a big effect on your behaviour. Smoking or drinking more, taking drugs, or eating or sleeping either more or less than usual, are all stress responses. Get help from your nearest doctor or clinic.</li>-->
          <!--<li>Most importantly, have a plan: Make a list of the things you have to do every day, including job-hunting (see page 144). Think about finding a place where you can volunteer – not only will this help you not to feel ‘useless’, but you will get experience that may help you when looking for a job.</li>-->
        <!--</ul>-->

        <!--<div><img src="../../assets/img/women_in_the_workplace/Online-Job-Search.png" alt="Online-Job-Search" width="400px"></div>-->
        <!--<br>-->
        <!--<div class="section-header">STATRING YOUR OWN BUSINESS</div>-->
        <!--<p>-->
          <!--A business is an entity that provides goods or services to customers. Businesses can-->
          <!--operate in both the informal and formal sectors. Anybody can start a business but it-->
          <!--needs hard work, careful thinking and planning, passion and basic business skills.-->
        <!--</p>-->

        <!--<p>-->
          <!--Informal-sector businesses are usually not registered, taxed or monitored by any authority. They may include women who sell fruit and vegetables by the roadside, retail traders at marketplaces, a hair salon in a house or car repair in a backyard.-->
        <!--</p>-->

        <!--<p>-->
          <!--Formal businesses are registered, pay taxes and value-added tax (VAT), and are governed by the Companies Act, No 71 of 2008.-->
        <!--</p>-->
        <!--<table id="pink-table">-->
          <!--<tr>-->
            <!--<th>Should you start your own business?</th>-->
          <!--</tr>-->
          <!--<tr>-->
              <!--<td>-->
                <!--<p>-->
                  <!--Anybody can start a business but not everyone can make a business successful. Before-->
                  <!--deciding to start your own business, consider some of these questions:<br>-->
                <!--</p>-->
                <!--<ul>-->
                <!--<li>Am i going into business for the right reasons?</li>-->
                <!--<li>do i have the skills and personality traits (creativity, flexibility, perseverance, commitment and management skills) to succeed as an entrepreneur?</li>-->
                <!--<li>Do i have enough money to start my business? Can i obtain financing?</li>-->
                <!--<li>do i understand all the legal requirements of running a business in south Africa?</li>-->
                <!--<li>Do i have a good product or service that guarantees me a flow of customers and/or regular work?</li>-->
                <!--</ul>-->
              <!--</td>-->
          <!--</tr>-->
        <!--</table>-->
        <!--<br>-->
        <!--<strong>Deciding on the type of business</strong>-->
        <!--<p>-->
          <!--There are various kinds of formal business, each with its own advantages and disadvantages. The Companies Act of 2008 also provides for two categories: non-profit-->
          <!--and for-profit companies.-->
        <!--</p>-->
        <!--<ul>-->
          <!--<li><strong>Personal liability company – Inc:</strong><br>-->
          <!--<p>-->
            <!--This is a business registered by professionals who are jointly and severally liable forthe company’s debts. This means that no matter how much the business owes, all the partners are responsible for the debt, and may even have their personal property seized to settle debts.-->
          <!--</p></li>-->
          <!--<li><strong>Private business – (Pty) Ltd:</strong><br>-->
          <!--<p>-->
            <!--This is a proprietary company and must have at least one shareholder but no more than 50. There is a slight advantage to writing ‘(Pty) Ltd’ after your company’s name because it is viewed as being more stable and established.</p>-->
          <!--</li>-->
          <!--<li><strong>Public company – Ltd:</strong>-->
          <!--<ul>-->
              <!--<li>Name must end with the word limited (Ltd).</li>-->
              <!--<li>The incorporators of the company must consist of at least one person.</li>-->
              <!--<li>The company must have at least three directors.</li>-->
          <!--</ul>-->
          <!--</li>-->
          <!--<li><strong>Closed Corporations – CC:</strong><br>-->
          <!--<p>-->
            <!--Under the Act, it will no longer be possible to register new closed corporations, nor may companies be converted into one. Existing closed corporations will be treated as private companies.-->
          <!--</p>-->
          <!--</li>-->
          <!--<li><strong>Non-profit companies – NPC:</strong><br>-->
            <!--<ul>-->
              <!--<li>They are incorporated for a public benefit or purpose such as foundations, churches or charitable organisations.</li>-->
              <!--<li> A minimum of three persons, called incorporators, must complete and sign the Memorandum of Incorporation (MOI).</li>-->
              <!--<li> A minimum of three directors must be approved</li>-->
              <!--<li> All assets and income of the company must be used to advance its stated objective.</li>-->
            <!--</ul>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<br>-->

        <!--<hr>-->
        <!--Department of Trade and Industry National Call Centre <br>-->
        <!--0861 843 384 <a href ="http://www.thedti.gov.za/">thedti.gov.za</a>-->
        <!--<hr>-->
        <!--Department of Small Business Development<br>-->
        <!--0861 843 384 (option 2)<a href="http://www.dsbd.gov.za/">dsbd.gov.za</a>-->
        <!--<hr>-->
        <!--Small Enterprise Development Agency (SEDA)<br>-->
        <!--0860 103 703 <a href= "http://www.seda.org.za/">seda.org.za</a>-->
        <!--<hr>-->
        <!--Companies and Intellectual Property Commission (CIPC) call centre<br>-->
        <!--086 100 2472 <a href ="http://www.cipc.co.za/za/">cipc.co.za</a>-->
        <!--<hr>-->
        <!--Copac (info about the cooperative movement)-->
        <!--011 447 1013 <a href="http://www.copac.org.za/">copac.org.za</a>-->
        <!--<hr>-->
        <!--<div><img src="../../assets/img/women_in_the_workplace/Business.png" alt="Business" width="400px"></div>-->
        <!--<br>-->

        <!--<strong>DRAWING UP A BUSINESS PLAN</strong>-->
        <!--<p>-->
          <!--A business plan is a document that describes all the ideas you have about your business. It is a map that will help you on your journey and to achieve your business goals.-->
        <!--</p>-->

        <!--<p>-->
          <!--Your business plan should include:-->
        <!--</p>-->
        <!--<ul>-->
          <!--<li>The details of your core business.</li>-->
          <!--<li>The details of your marketing plan (a document that outlines your plan for marketing and advertising your business). </li>-->
          <!--<li>The details of your operations plan (a document detailing how you are going to run your business on a day-to-day basis, e.g. production/manufacturing, inventory, sales and distribution). </li>-->
          <!--<li>The details of your staffing plan (a document that shows what positions need to be filled in order for your business to operate effectively).</li>-->
          <!--<li>The details of your financial plan (a document indicating how much money your business needs to achieve its goals).</li>-->
        <!--</ul>-->
        <!--<br>-->
        <!--<hr>-->
        <!--Small Enterprise Development Agency (SEDA)<br>-->
        <!--0860 103 703 <a href="http://www.seda.org.za/">seda.org.za</a>-->
        <!--<hr>-->
        <!--<br>-->
        <!--<div class="section-header">BUSINESS FUNDING AND SUPPORT</div>-->
        <!--<p>-->
          <!--There are various funds and organisations in South Africa to help entrepreneurs start their own businesses:-->
        <!--</p>-->

        <!--<p><strong>FUNDING</strong><br></p>-->

        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Eastern Cape Development Corporation:</strong></div>-->
        <!--Provides access to finance, training and other business support to businesses-->
        <!--that are headquartered in the province<br>-->
        <!--043 704 5600 <a href="http://www.ecdc.co.za/">ecdc.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Free State Development Corporation:</strong></div>-->
        <!--Provides financial and non-financial support to businesses <br>-->
        <!--051 4000 800/810 <a href ="http://www.fdc.co.za/">fdc.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Industrial Development Corporation’s Women Entrepreneurial Fund:</strong></div>-->
        <!--Provides funding for women’s businesses <br>-->
        <!--086 069 3888 <a href="https://www.idc.co.za/">idc.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>The Small Enterprise Finance Agency (Sefa):</strong></div>-->
        <!--Provides funding for small businesses <br>-->
        <!--08600 67 332 or 012 748 9600 <a href ="http://www.sefa.org.za/">sefa.org.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>National Empowerment Fund’s iMbewu Fund:</strong></div>-->
        <!--Provides black entrepreneurs with funds<br>-->
        <!--0861 843 633 <a href="http://www.nefcorp.co.za/">nefcorp.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Business Partners Ltd: </strong></div>-->
        <!--Provides financing, knowledge and added value to small and medium enterprises<br>-->
        <!--011 713 6600<a href="https://www.businesspartners.co.za/en-za">businesspartners.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Awethu Project:</strong></div>-->
        <!--Provides assistance and funding for entrepreneurs<br>-->
        <!--011 024 1606 <a href="http://www.awethuproject.co.za/">awethuproject.co.za</a>-->
        <!--<hr>-->
        <!--<br>-->

        <!--<p><strong>SUPPORT</strong><br>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>African Women Chartered Accountants (AWCA):</strong></div>-->
        <!--Empowers women accountants and entrepreneurs who want to start their own accounting practice<br>-->
        <!--011 621 6881 <a href="https://awca.co.za/">awca.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong> Black Business Women’s Association (BBWA):</strong></div>-->
        <!--Provides a platform for networking, partnerships and training<br>-->
        <!--011 886 0808 <a href="http://www.bbwa.co.za/">bbwa.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Business Engage:</strong></div>-->
        <!--Offers entrepreneurship development, assistance, training and mentorship <br>-->
        <!--084 353 9865 <a href ="https://www.businessengage.co.za/">businessengage.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Business Women’s Association (BWA):</strong></div>-->
        <!--Provides assistance, training and networking to women entrepreneurs<br>-->
        <!--0860 000 041<a href="http://www.bwasa.co.za/" >bwasa.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Franchise Association of South Africa (Fasa):</strong></div>-->
        <!--Promotes franchising and entrepreneurship<br>-->
        <!--011 615 0359/0368/0378<a href="https://www.fasa.co.za/">fasa.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>International Women’s Forum of South Africa (IWFSA):</strong></div>-->
        <!--Educates, empowers and provides networking opportunities for women in leadership<br>-->
        <!--011 325 5295 <a href="http://www.iwfsa.co.za/">iwfsa.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>National Youth Development Agency (NYDA):</strong></div>-->
        <!--Tackles challenges that face South Africa’s youth and offers a range of programmes, including career guidance, entrepreneurial development and support<br>-->
        <!--0800 52 52 52<a href="http://www.nyda.gov.za/">nyda.gov.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>South African Black Entrepreneurs Forum:</strong></div>-->
        <!--Provides capacity-building opportunities and business education<br>-->
        <!--011 053 7091 <a href="http://www.sa-bef.co.za/">sa-bef.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>South African Women Entrepreneurs Network (SAWEN):</strong></div>-->
        <!--Gives women entrepreneurs networking opportunities and business solutions <br>-->
        <!--011 403 1048 <a href ="http://www.sawen.org.za/">sawen.org.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>South African Women in Construction (SAWiC):</strong></div>-->
        <!--Helps women in construction gain access to contracts, finance, training and networking <br>-->
        <!--011 435 3911 <a href="http://www.sawicgauteng.org.za/">sawicgauteng.org.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Technology for Women in Business (TWIB): </strong></div>-->
        <!--Works to fast-track women-owned business through technology and innovative solutions<br>-->
        <!--<a href ="http://www.twib.co.za/">twib.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Tourism Enterprise Partnership (TEP):</strong> </div>-->
        <!--Facilitates and encourages growth and expansion of small and medium enterprises in the tourism economy<br>-->
        <!--011 880 3790 <a href="http://www.tep.co.za/">tep.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Women in Business: </strong></div>-->
        <!--Provides a platform for sharing ideas and promotion opportunities<br>-->
        <!--082 972 2675<a href="http://www.womeninbusiness.org.za/">womeninbusiness.org.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Women’s Development Businesses (WDB):</strong></div>-->
        <!--Provides basic business skills and other support to rural women’s micro-enterprises <br>-->
        <!--011 341 9900 <a href="http://www.wdbinvestments.co.za/">wdbinvestments.co.za</a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Women in Engineering and the Built Environment (WiEBE):</strong> </div>-->
        <!--Gives women professionals in the field networking and learning opportunities<br>-->
        <!--011 475 1030 <a href="http://www.wiebe.co.za/">wiebe.co.za </a>-->
        <!--<hr>-->
        <!--<div id ="pink-text-colour"><strong>Women in Oil & Energy South Africa (WOESA): </strong></div>-->
        <!--Facilitates and promotes business opportunities for women in the field<br>-->
        <!--011 835 1880 <a href="http://www.woesa.com/">woesa.com</a>-->
        <!--<hr>-->
      <!--</div>-->
    </div>

    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>
    </a>
  </div>
</div>
