<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 6 - Finance & Banking</div>
      </div>
      <div class="section-header">Insurance</div>
      <div>
        <div _ngcontent-imd-c7=""><div>
          <div>
            <p>Insurance is an an arrangement that protects you financially from future losses from, for example, theft, damage, illness or death.</p>

            <p>There are different types of insurance. The most common are:</p>

            <ul>
              <li>Medical insurance: Medical insurance covers unforeseen health-related events, such as accidental injuries and disabilities.</li>
              <li>Car insurance: If you own a car, it is important to take out car insurance as it safeguards you against unforeseen vehicle loss/damage (e.g. theft, hijacking, road accidents). Third-party insurance covers damage you do to the vehicle of a third party (e.g. if you crash into another car).</li>
              <li>Home insurance: Homeowner’s insurance (also known as building insurance) protects you financially from loss or damage (e.g. through fire or natural disasters) to the structure of your home. You can also take out household insurance (also known as home contents insurance), which covers the items in your home against theft, accidents, fire and natural disasters.</li>
              <li>Life insurance: Life insurance (or life cover) gives you peace of mind, knowing that your family’s expenses will be paid if you die and your own debts will be paid. Life insurance also often includes disability insurance, which means you are covered if you can’t work due to an illness or injury.</li>
              <li>Funeral insurance: Funeral cover takes care of the expenses of a funeral for you or your family.</li>
            </ul>
          </div>
        </div>
        </div>
        <div _ngcontent-imd-c7="" class="subsection-header">Choosing the right insurance company</div><div _ngcontent-imd-c7=""><div>
        <p>There are many insurance companies in South Africa so finding the right one for your needs can be confusing.</p>

        <ul>
          <li>Do your research and get at least four quotes to compare prices and policies. Remember that you can choose different insurance companies for different types of insurance.</li>
          <li>Find out what the insurer’s reputation is like. Do they give good service? How long do they take to settle claims?</li>
          <li>Make sure you know about any hidden costs (e.g. excess).</li>
          <li>Make sure you understand the policy you’re being offered. Discuss the details with the inurance company or your insurance broker.</li>
          <li>The insurance company you pick must be a registered Financial Services Provider. You can verify this with the Financial Services Board.</li>
        </ul>
      </div>

        <div>
          <table>
            <thead>
            <tr>
              <th scope="col">What is an excess ?</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>An excess is the part of the insurance claim that is paid by you. When you submit a successful claim to the insurance company, they will pay out a certain amount, according to your policy, but you will still be expected to pay a fee for making the claim.</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><br _ngcontent-imd-c7="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
