<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/useful_contacts/Useful-Contacts-for-Females.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 8 - Useful contacts</div>
      </div>
      <div class="section-header">Government Department Head Offices</div>
      <div>
        <div _ngcontent-imd-c20=""><div>
          <div>
            <hr>
            <p><strong>Agriculture, Forestry and Fisheries</strong></p>
          </div>

          <div>
            <p><a href="tel:0123196000"><strong>012 319 6000</strong></a><br>
              E.g. If you have questions on food security and agricultural implements, female entrepreneur awards</p>

            <hr></div>
        </div>

          <div>
            <div>
              <p><strong>Arts and Culture</strong></p>
            </div>

            <div>
              <p><a href="tel:0124413000"><strong>012 441 3000</strong></a><br>
                E.g. If you want to learn and get involved in upcoming arts &amp; culture events, projects and campaigns</p>

              <hr></div>
          </div>

          <div>
            <div>
              <p><strong>Basic Education</strong></p>
            </div>

            <div>
              <p><a href="tel:0800202933"><strong>0800 202 933</strong></a><strong>/<a href="tel:0123573000">012 357 3000</a></strong><br>
                E.g. If you have questions about matric results, curriculae, or information on how to become a teacher; school governing bodies, school nutrition programmes</p>

              <hr></div>
          </div>

          <div>
            <div>
              <p><strong>Civilian Secretariat of Police</strong></p>
            </div>

            <div>
              <p><a href="tel:0123932500"><strong>012 393 2500</strong></a><strong>/<a href="tel:0123932502">2</a>/<a href="tel:0123932503">3</a></strong><br>
                E.g. If you need more information about the police service</p>

              <hr></div>

            <div>
              <div>
                <p><strong>Communications</strong></p>
              </div>

              <div>
                <p><a href="tel:0124730000"><strong>012 473 0000</strong></a><br>
                  E.g. Information on digital television</p>

                <hr></div>

              <div>
                <div>
                  <p><strong>Co-operative Governance</strong></p>
                </div>

                <div>
                  <p><a href="tel:0123340600"><strong>012 334 0600</strong></a><br>
                    E.g. Information on local government issues, community works programmes</p>

                  <hr></div>

                <div>
                  <div>
                    <p><strong>Correctional Services</strong></p>
                  </div>

                  <div>
                    <p><a href="tel:0123072999"><strong>012 307 2999</strong></a><strong>/<a href="tel:0123072998">8</a></strong><br>
                      E.g. If you need information about correctional centres in your province, offenders’ visitation process, as well as other offenders’ related queries</p>

                    <hr></div>

                  <div>
                    <div>
                      <p><strong>Defence</strong></p>
                    </div>

                    <div>
                      <p><a href="tel:0123556200"><strong>012 355 6200</strong></a><br>
                        E.g. If you have questions about people doing military service, navy, army or employed in the Defence Force</p>

                      <hr></div>

                    <div>
                      <div>
                        <p><strong>Economic Empowerment (Development)</strong></p>
                      </div>

                      <div>
                        <p><a href="tel:0123941006"><strong>012 394 1006</strong></a><strong>/<a href="tel:0123943747">3747</a></strong><br>
                          E.g. If you have questions about economic policies, objectives, plans, as well as green economy, growth path and youth accord</p>

                        <hr></div>

                      <div>
                        <div>
                          <p><strong>Energy</strong></p>
                        </div>

                        <div>
                          <p><a href="tel:0124068000"><strong>012 406 8000</strong></a><br>
                            E.g. If you have questions on access to energy, energy efficiency and solar energy programmes for rural non– grid areas, solar power and water heating</p>

                          <hr></div>

                        <div>
                          <div>
                            <p><strong>Environmental Affairs </strong></p>
                          </div>

                          <div>
                            <p><a href="tel:0123999000"><strong>012 399 9000</strong></a><br>
                              E.g. If you have questions about climate change and green economy issues, working for water, fire, forests etc.</p>

                            <hr></div>

                          <div>
                            <div>
                              <p><strong>Government Communication and Information System </strong></p>
                            </div>

                            <div>
                              <p><a href="tel:0124730000"><strong>012 473 0000</strong></a><br>
                                E.g. If you need any information about government policies, plans and programmes, Vuk’uzenzela newspaper</p>

                              <hr></div>

                            <div>
                              <div>
                                <p><strong>Government Printing Works </strong></p>
                              </div>

                              <div>
                                <p><a href="tel:0127486001"><strong>012 748 6001</strong></a><strong>/<a href="tel:0127486002">2</a></strong><br>
                                  E.g. Printing of the Government Gazette, legislation, etc.</p>

                                <hr></div>

                              <div>
                                <div>
                                  <p><strong>Health</strong></p>
                                </div>

                                <div>
                                  <p><a href="tel:0123958000"><strong>012 395 8000</strong></a><strong>/<a href="tel:0123959200">9200</a></strong><br>
                                    E.g. If you have any health-related questions and to find out which services may be available in your area.</p>

                                  <hr></div>

                                <div>
                                  <div>
                                    <p><strong>Higher Education and Training</strong></p>
                                  </div>

                                  <div>
                                    <p><strong><a href="tel:0123125911">012 312 5911 </a> Career Helpline <a href="tel:0123125911">086 999 0123 </a> </strong><br>
                                      E.g. If you have questions about universities, TVET Colleges, literacy, numeracy, ABET, skills development and training, information on SETAs</p>

                                    <hr></div>

                                  <div>
                                    <div>
                                      <p><strong>Home Affairs</strong></p>
                                    </div>

                                    <div>
                                      <p><a href="tel:0800601190"><strong>012 406 2500</strong></a><strong>/<a href="tel:0800601190">0800 60 11 90</a></strong><br>
                                        E.g. If you need to get a marriage or death certificate or identity document, or to register a birth, passports etc.</p>

                                      <hr>
                                      <p><strong>Human Settlements (housing)</strong></p>
                                    </div>

                                    <div>
                                      <div>
                                        <p><a href="tel:0124211474"><strong>012 421 1474</strong></a><br>
                                          E.g. If you have questions about housing subsidies for families, rural housing and emergency housing</p>

                                        <hr></div>

                                      <div>
                                        <div>
                                          <p><strong>Independent Police Investigative Directorate</strong></p>
                                        </div>

                                        <div>
                                          <p><a href="tel:0123990000"><strong>012 399 0000</strong></a><br>
                                            E.g. If you want to lodge a complaint against the police service in cases such as rape by a police officer, death in police custody, complaint of torture or assault by a police officer, as well as certain cases of corruption</p>

                                          <hr></div>

                                        <div>
                                          <div>
                                            <p><strong>International Relations and Cooperation</strong></p>
                                          </div>

                                          <div>
                                            <p><a href="tel:0123511000"><strong>012 351 1000</strong></a><strong>/<a href="tel:01235110594">0594</a></strong><br>
                                              E.g. Coordination of the international participation of women’s programmes, embassies</p>

                                            <hr></div>

                                          <div>
                                            <div>
                                              <p><strong>Justice and Constitutional Development</strong></p>
                                            </div>

                                            <div>
                                              <p><a href="tel:0123151111"><strong>012 315 1111</strong></a><strong>/<a href="tel:0123151730">1730</a></strong><br>
                                                E.g. If you have questions about anything justice related such as courts, wills, estates and trusts</p>

                                              <hr></div>

                                            <div>
                                              <div>
                                                <p><strong>Labour </strong></p>
                                              </div>

                                              <div>
                                                <p><a href="tel:0123094000"><strong>012 309 4000</strong></a><br>
                                                  E.g. If you have questions about employment, Unemployment Insurance Fund (UIF), maternity, adoption and dependent’s benefits, as well as protection for domestic workers and sexual harassment; also assistance with employment counselling, career choices, and CV preparation, injury on duty</p>

                                                <hr></div>

                                              <div>
                                                <div>
                                                  <p><strong>Mineral Resources</strong></p>
                                                </div>

                                                <div>
                                                  <p><a href="tel:0124443220"><strong>012 444 3220</strong></a><strong>/<a href="tel:0124443000">3000</a></strong><br>
                                                    E.g. If you want to find out more about the mining industry and opportunities to get involved</p>

                                                  <hr></div>

                                                <div>
                                                  <div>
                                                    <p><strong>Military Veterans</strong></p>
                                                  </div>

                                                  <div>
                                                    <p><a href="tel:0127659300"><strong>012 765 9300</strong></a><strong>/<a href="tel:0802323244">080 232 3244</a></strong><br>
                                                      E.g. Information on benefits for military veterans</p>

                                                    <hr></div>

                                                  <div>
                                                    <div>
                                                      <p><strong>National Treasury</strong></p>
                                                    </div>

                                                    <div>
                                                      <p><a href="tel:0123155111"><strong>012 315 5111</strong></a><br>
                                                        E.g. If you want to learn about the national and provincial budgets, tenders etc.</p>

                                                      <hr></div>

                                                    <div>
                                                      <div>
                                                        <p><strong>Performance Monitoring and Evaluation</strong></p>
                                                      </div>

                                                      <div>
                                                        <p><a href="tel:0123005200"><strong>012 300 5200</strong></a><strong>/<a href="tel:0123120000">012 312 0000</a></strong><br>
                                                          E.g. If you want to know about government priorities and progresses</p>

                                                        <hr></div>

                                                      <div>
                                                        <div>
                                                          <p><strong>National School of Government (previously PALAMA)</strong></p>
                                                        </div>

                                                        <div>
                                                          <p><a href="tel:0124416777"><strong>012 441 6777</strong></a><strong>/<a href="tel:0124416000">6000</a></strong><br>
                                                            E.g. If you are a public servant and need courses and training that will enhance your competencies in human resources, monitoring and evaluation, supply chain and finance management function</p>

                                                          <hr></div>

                                                        <div>
                                                          <div>
                                                            <p><strong>Public Enterprises</strong></p>
                                                          </div>

                                                          <div>
                                                            <p><a href="tel:0124311000"><strong>012 431 1000</strong></a><br>
                                                              E.g. If you want to learn more about state-owned enterprises</p>

                                                            <hr></div>

                                                          <div>
                                                            <div>
                                                              <p><strong>Public Service &amp; Administration</strong></p>
                                                            </div>

                                                            <div>
                                                              <p><a href="tel:012402 3800"><strong>012 402 3800</strong></a><br>
                                                                E.g. If you have questions about civil service and the running of government</p>

                                                              <hr></div>

                                                            <div>
                                                              <div>
                                                                <p><strong>Public Service Commission</strong></p>
                                                              </div>

                                                              <div>
                                                                <p><a href="tel:0123521000"><strong>012 352 1000</strong></a><br>
                                                                  E.g. If you want to report fraudulent activities within the public service and report corrupt government officials Anti-corruption hotline <a href="tel:0800701701"><strong>0800 701 701</strong></a></p>

                                                                <hr></div>

                                                              <div>
                                                                <div>
                                                                  <p><strong>Public Works</strong></p>
                                                                </div>

                                                                <div>
                                                                  <p><a href="tel:0124061000"><strong>012 406 1000</strong></a><br>
                                                                    E.g. If you have questions about procurement processes for government agencies</p>

                                                                  <hr></div>

                                                                <div>
                                                                  <div>
                                                                    <p><strong>Rural Development and Land Reform </strong></p>
                                                                  </div>

                                                                  <div>
                                                                    <p><a href="tel:0123128911"><strong>012 312 8911</strong></a><br>
                                                                      E.g. Provides programmes for land restitution, land distribution and land ownership by women</p>

                                                                    <hr></div>

                                                                  <div>
                                                                    <div>
                                                                      <p><strong>Science and Technology </strong></p>
                                                                    </div>

                                                                    <div>
                                                                      <p><a href="tel:0128436300"><strong>012 843 6300</strong></a><strong>/<a href="tel:0128436303">3</a></strong><br>
                                                                        E.g. If you want to know about the National Youth Service programme for those who hold a national diploma or a degree in science, technology, engineering or mathematics</p>

                                                                      <hr></div>

                                                                    <div>
                                                                      <div>
                                                                        <p><strong>Small Business Development </strong></p>
                                                                      </div>

                                                                      <div>
                                                                        <p><a href="tel:0861843384"><strong>086 184 3384</strong></a><strong> (option 2)</strong><br>
                                                                          E.g. If you need information on support of the development and growth of small business and cooperatives</p>

                                                                        <hr></div>

                                                                      <div>
                                                                        <div>
                                                                          <p><strong><strong>Social Development </strong></strong></p>
                                                                        </div>

                                                                        <div>
                                                                          <p><a href="tel:0123127500"><strong>012 312 7500</strong></a><br>
                                                                            E.g. If you need info and help for grants, pension, disabilities services, shelters, counselling for abuse and HIV/Aids, as well as services and funding for Non-Profit Organisations</p>

                                                                          <hr></div>

                                                                        <div>
                                                                          <div>
                                                                            <p><strong><strong>South African Social Security Agency (SASSA) </strong></strong></p>
                                                                          </div>

                                                                          <div>
                                                                            <p><a href="tel:0800601011"><strong>0800 601 011</strong></a><br>
                                                                              E.g. If you have any questions about social grants</p>

                                                                            <hr></div>

                                                                          <div>
                                                                            <div>
                                                                              <p><strong><strong>South African Police Service </strong></strong></p>
                                                                            </div>

                                                                            <div>
                                                                              <p><a href="tel:00123931000"><strong>0012 393 1000 </strong></a><br>
                                                                                E.g. If you need to report crimes, abuse, missing persons and need to find out about victim support services in your area</p>

                                                                              <hr></div>

                                                                            <div>
                                                                              <div>
                                                                                <p><strong><strong><strong><strong><strong><strong><strong><strong><strong>South African Revenue Service </strong></strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                              </div>

                                                                              <div>
                                                                                <p><a href="tel:012 422 4000 "><strong>012 422 4000 </strong></a><br>
                                                                                  E.g. If you need information about taxes, such as how to register as a tax payer, file a tax return and how to make a payment to SARS</p>

                                                                                <hr></div>

                                                                              <div>
                                                                                <div>
                                                                                  <p><strong><strong><strong><strong><strong><strong><strong><strong>Sport and Recreation South Africa </strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                                </div>

                                                                                <div>
                                                                                  <p><a href="tel:0123045000"><strong>012 304 5000 </strong></a><br>
                                                                                    E.g. If you want to learn about club developments, schools sports and communities sports</p>

                                                                                  <hr></div>

                                                                                <div>
                                                                                  <div>
                                                                                    <p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>Statistics South Africa </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                                  </div>

                                                                                  <div>
                                                                                    <p><a href="tel:0123108911"><strong>012 310 8911 </strong></a><br>
                                                                                      E.g. If you need information about census results and other vital</p>

                                                                                    <hr></div>

                                                                                  <div>
                                                                                    <div>
                                                                                      <p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>Telecommunications and Postal Services </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                                    </div>

                                                                                    <div>
                                                                                      <p><a href="tel:0124278000"><strong>012 427 8000 </strong>&gt;</a><br>
                                                                                        E.g. For information on Telkom, Post Office, child online protection guidelines, etc.</p>

                                                                                      <hr></div>

                                                                                    <div>
                                                                                      <div>
                                                                                        <p><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>The Presidency </strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                                      </div>

                                                                                      <div>
                                                                                        <p><a href="tel:0123005200"><strong>012 300 5200 </strong></a><br>
                                                                                          E.g. If you have any complaints about government services or need to be referred to other government institutions, get in touch with the presidential hotline Presidential hotline <a href="tel:17737"><strong>17737 </strong></a> (1 PRES)</p>

                                                                                        <hr></div>

                                                                                      <div>
                                                                                        <div>
                                                                                          <p><strong>Tourism </strong></p>
                                                                                        </div>

                                                                                        <div><a href="tel:0124446000"><strong>012 444 6000 </strong></a><br>
                                                                                          E.g. If you want to learn more about the tourism industry
                                                                                          <hr></div>

                                                                                        <div>
                                                                                          <div><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong><strong>Trade and Industry </strong></strong></strong></strong></strong> </strong> </strong></strong> </strong></strong> </strong> </strong>

                                                                                            <div><a href="tel:0123949500"><strong>012 394 9500 </strong></a><br>
                                                                                              E.g. If you want to learn about entrepreneurship, businesses and economic empowerment programmes
                                                                                              <hr></div>

                                                                                            <div>
                                                                                              <div>
                                                                                                <p><strong>Traditional Affairs </strong></p>
                                                                                              </div>

                                                                                              <div>
                                                                                                <p><a href="tel:0123365824"><strong><strong>012 336 5824</strong></strong></a><strong><strong>/<a href="tel:0123365825">5 </a></strong><a href="tel:0123365825"> </a></strong><br>
                                                                                                  E.g. If you need more information about traditional affairs, such as traditional courts, indigenous laws and governance</p>

                                                                                                <hr></div>

                                                                                              <div>
                                                                                                <div>
                                                                                                  <p><strong><strong><strong><strong><strong><strong><strong><strong>Transport </strong></strong></strong></strong></strong></strong></strong></strong></p>
                                                                                                </div>

                                                                                                <div><a href="tel:0123093000"><strong>012 309 3000 </strong></a><br>
                                                                                                  E.g. If you need information about the transportation system as well as road-safety campaigns
                                                                                                  <hr></div>

                                                                                                <div>
                                                                                                  <div>
                                                                                                    <p><strong><strong><strong><strong><strong><strong><strong>Water and sanitation </strong> </strong></strong></strong></strong></strong></strong></p>

                                                                                                    <div>
                                                                                                      <p><a href="tel:0123367500"><strong>012 336 7500</strong></a><strong>/<a href="tel:0800200200">0800 20 02 00 </a></strong><br>
                                                                                                        E.g. If you have any questions about water licences, water quality and other water-related enquiries</p>

                                                                                                      <hr></div>

                                                                                                    <div>
                                                                                                      <div>
                                                                                                        <p><strong><strong><strong><strong><strong><strong><strong>Women </strong></strong></strong></strong></strong></strong></strong></p>
                                                                                                      </div>

                                                                                                      <div>
                                                                                                        <p><a href="tel:0123590071"><strong>012 359 0071</strong></a><strong>/<a href="tel:0123590013">13</a></strong><br>
                                                                                                          E.g. If you have any concerns and need access to women empowerment‘s resources</p>

                                                                                                        <hr></div>
                                                                                                    </div>
                                                                                                  </div>
                                                                                                </div>
                                                                                              </div>
                                                                                            </div>
                                                                                          </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                              </div>
                                                                            </div>
                                                                          </div>
                                                                        </div>
                                                                      </div>
                                                                    </div>
                                                                  </div>
                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div><strong>&nbsp;</strong></div>
          </div>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
