<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/finance_banking/Finance.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 6 - Finance & Banking</div>
      </div>
      <div class="section-header">Debts</div>
      <div>
        <div _ngcontent-imd-c5=""><p>Being in debt (owing money) can cause huge stress and may affect relationships at home and at work. Getting out of debt isn’t easy, but it can be done.</p>

          <p>Managing your debt</p>

          <ul>
            <li>Start by tracking your expenses. To do this, you need to draw up a budget.</li>
            <li>Work out where you can cut back every month (e.g. buying fewer clothes, walking instead of taking a taxi, getting together with a group of people to buy groceries in bulk).</li>
            <li>Start paying off your debts. Pay off the debt with the highest interest first.</li>
            <li>Try not to get into any more debt. Pay cash as often as you can.</li>
            <li>Save some money each month.</li>
            <li>If you’re getting overwhelmed by your debt, ask for help.</li>
          </ul>

          <hr>
          <p><strong>National Debt Mediation Assistance (NDMA)</strong><br>
            <strong><a href="tel:0860144677">0860 144 677</a></strong> or <a href="http://www.ndma.org.za/"><strong>www.ndma.org.za</strong></a></p>

          <hr>
          <p><strong>Financial Services Board (FSB)</strong><br>
            <a href="tel:0800202087"><strong>0800 202 087</strong></a><strong> or </strong><a href="http://www.fsb.co.za/"><strong>www.fsb.co.za</strong></a></p>

          <hr>
          <p><img alt="Debt-Finance" src="assets/img/finance_banking/Debt-Finance.png"></p>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
