<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a href="#/plbbook/emergencies" class="bottomnav-links w-inline-block">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Emergencies</div>
      </a>
      <a href="#/plbbook/family" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Family</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Health</div>
      </div>
      <div class="lede lede-emergencies">
        Women play a very important role in the health and well-being of their families
        and communities. They look after the young, the elderly, the sick and the disabled.
      </div>
      <div class="chaptercontent w-richtext">
        <p>
          In order to be able to do this properly, women must take care of themselves too.
        </p>

        <p>
          Look after yourself by getting enough sleep (at least eight hours every night), eating well (lots of fresh
          fruit and vegetables if you can), being physically active, and keeping a positive attitude.
        </p>
        <br>
        <div class="section-header">Health Assessment</div>
        <p>
          Women need to have regular health check-ups to help them stay healthy. A health assessment will alert you to
          any health risks, and your doctor will then help you to manage these. You should try to have a medical
          check-up once every year.
        </p>

        <p>Diseases such as heart disease, high blood pressure, diabetes and some cancers can be picked up in their
          early stages when treatment is often more effective and can lead to a cure. If you have risk factors, such
          as a family history of a disease, it may be more likely that you will develop that disease.
        </p>
        <p>At your check-up, talk to your doctor about your medical history, your family’s history of disease, and your
          lifestyle choices such as diet, exercise and if you smoke or drink alcohol.</p>
        <div align="center"><img src="../../assets/img/health/Nurse-Health.png" alt="Zero Tolerance" alt="Smiling Nurse"
                                 width="350px"/></div>
        <br>
        <div><strong>WHEN TO HAVE HEALTH CHECKS FOR COMMON AILMENTS</strong></div>
        <p>
          Certain conditions – such as high or low blood pressure, high cholesterol, and cervical or breast cancer –
          are very common. Getting checked early can help you to treat diseases early and stay healthy.
        </p>

        <div><strong>Necessary tests for health screening</strong></div>
        <br>
        <table id="normal-table">
          <tr>
            <th>RECOMMENDED TEST</th>
            <th>WHO NEEDS TO GO?</th>
            <th>HOW OFTEN DO YOU NEED TO GO?</th>
          </tr>
          <tr>
            <td>Blood pressure test</td>
            <td>Every woman from age 20.</td>
            <td>Once a year unless advised more often.</td>
          </tr>
          <tr>
            <td>Diabetes screening</td>
            <td>Those with symptoms or family history of diabetes.</td>
            <td>Once a year or as advised by your doctor.</td>
          </tr>
          <tr>
            <td>STI (sexually transmitted infection) and HIV/Aids tests</td>
            <td>Every sexually active woman.</td>
            <td>If exposure is suspected; otherwise, once a year (during pregnancy too).</td>
          </tr>
          <tr>
            <td>Cholesterol screening</td>
            <td>Everyone from the age of 20.</td>
            <td>Every five years or as recommended by your doctor.</td>
          </tr>
          <tr>
            <td>Haemoglobin test (for anaemia)</td>
            <td>Everyone from the age of 20.</td>
            <td>As recommended by your doctor, especially when pregnant.</td>
          </tr>
          <tr>
            <td>Pap smear test</td>
            <td>Every sexually active woman or from the age of 20.</td>
            <td>At least every three years (1–3 years).
            </td>
          </tr>
          <tr>
            <td>Breast examination</td>
            <td>Every woman from the age of 20.</td>
            <td>Self-examination once a month, one week before your period; clinical examination by a
              doctor once a year.
            </td>
          </tr>
          <tr>
            <td>Mammogram</td>
            <td>Every woman from the age of 40.</td>
            <td>Once a year.</td>
          </tr>
          <tr>
            <td>Bone density test</td>
            <td>Every woman from the age of 50.</td>
            <td>As recommended by your doctor.</td>
          </tr>
        </table>
        <br>
        <div><strong>VISITING THE DOCTOR</strong></div>
        <p>Before you go to the doctor, make sure you have everything you need, including medical
          aid or insurance and past medical records. You should also make a list of questions you
          may want to ask the doctor.</p>

        <p>Keep your medical records updated with the following information:</p>
        <ul>
          <li>Menstrual history.</li>
          <li>Pregnancy history.</li>
          <li>Family medical history.</li>
          <li>Your own medical history (including any surgeries).</li>
          <li>Medications/supplements you may be taking: Take these with you, in their correct
            containers. This helps the doctor know what medicine to prescribe to avoid a clash
            with what you are already taking.</li>
          <li>The results of clinical tests such as blood pressure, cholesterol, glucose, iron levels,
            Pap smear, or breast examination.</li>
        </ul>
        <br>
        <div><img src="../../assets/img/health/Stethoscope-Health.png" alt="Stethoscope-Health" width="600px"></div>
        <br>

        <p>When you visit the doctor, it’s very important that you answer all the questions honestly.
          Don’t leave out anything, even if it makes you feel embarrassed.
        </p>
        <p>If you feel unsafe or uncomfortable, you can ask for someone else to be with you (a
          friend or a nurse) when the doctor examines you.
        </p>

        <p>Tell the doctor:</p>
        <ul>
          <li>About your symptoms.</li>
          <li>When did it start?</li>
          <li>Has it happened before?</li>
          <li>Has anyone else in your family had a similar problem?</li>
          <li>Are you currently taking any medications?</li>
          <li>Have you had any medical problems before?</li>
          <li>Have you had surgery before?</li>
        </ul>

        <p>Ask the doctor:</p>
        <ul>
          <li>To explain to you what is wrong</li>
          <li>To explain about your medication: When must you take it? How must you take it? Are
            there any side effects? Will it affect your other medication (e.g. contraceptive pills)?
          </li>
          <li>If you need to come back for a follow-up.</li>
          <li>Any other questions you might have.</li>
        </ul>

        <p>After the visit:</p>
        <ul>
          <li>Follow the doctor’s instructions.</li>
          <li>Report any side effects.</li>
          <li>Go back to the doctor if you’re not feeling better within two to four days.</li>
        </ul>
        <div><strong>YOUR RIGHTS AS A PATIENT</strong></div>
        <p>According to the National Patients’ Rights Charter of South Africa, every patient has
          the right to:
        </p>
        <ul>
          <li>A healthy and safe environment.</li>
          <li>Access to healthcare.</li>
          <li>Choose their healthcare provider</li>
          <li>Treatment by a named healthcare provider</li>
          <li>Confidentiality and privacy.</li>
          <li>Be informed about their condition and treatment, so they can give informed consent.</li>
          <li>Take part in their healthcare decision-making.</li>
          <li>Referral for a second opinion.</li>
          <li>Continuity of care.</li>
          <li>Refuse treatment.</li>
          <li>Complain about poor quality of healthcare.</li>
          <li>Access to social security, including occupational health schemes, medical schemes,
            private insurance, road accident funds and social grants.
          </li>
        </ul>

      </div>
    </div>

    <a href="#/plbbook/family" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Family</div>
    </a>
  </div>
</div>
