<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="../../assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <a href="/" class="sitetitle">Ebooks</a>
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="../../assets/img/health/Happy-Healthy.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation w-clearfix">
      <a href="#/plbbook/emergencies" class="bottomnav-links w-inline-block">
        <div class="previous-next">Previous Chapter</div>
        <div class="bottomnav-chapter">Emergencies</div>
      </a>
      <a href="#/plbbook/family" class="bottomnav-links cc-center w-inline-block">
        <div class="previous-next">Next Chapter</div>
        <div class="bottomnav-chapter">Family</div>
      </a>
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <!--<div class="chapterpage-header">The Precious Little Black Book</div>-->
        <div class="chapterpage-header chaptertext">Health</div>
      </div>
      <div class="lede lede-emergencies">
        Women play a very important role in the health and well-being of their families
        and communities. They look after the young, the elderly, the sick and the disabled.
      </div>
      <div class="chaptercontent w-richtext">
        <p>
          In order to be able to do this properly, women must take care of themselves too.
        </p>

        <p>
          Look after yourself by getting enough sleep (at least eight hours every night), eating well (lots of fresh
          fruit and vegetables if you can), being physically active, and keeping a positive attitude.
        </p>

        <div class="section-header">Health Assessment</div>
        <p>
          Women need to have regular health check-ups to help them stay healthy. A health assessment will alert you to
          any health risks, and your doctor will then help you to manage these. You should try to have a medical
          check-up once every year.
        </p>

        <p>Diseases such as heart disease, high blood pressure, diabetes and some cancers can be picked up in their
          early stages when treatment is often more effective and can lead to a cure. If you have risk factors, such
          as a family history of a disease, it may be more likely that you will develop that disease.
        </p>
        <p>At your check-up, talk to your doctor about your medical history, your family’s history of disease, and your
          lifestyle choices such as diet, exercise and if you smoke or drink alcohol.</p>
        <div align="center"><img src="../../assets/img/health/Nurse-Health.png" alt="Zero Tolerance" alt="Smiling Nurse" width="350px"/></div>
      </div>
    </div>

    <a href="#/plbbook/family" class="bottomnav-links cc-bottom w-inline-block">
      <div class="previous-next">Next Chapter</div>
      <div class="bottomnav-chapter">Family</div>
    </a>
  </div>
</div>
