<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 - Know your Rights</div>
      </div>
      <div>
        <div class="section-header">YOUR BASIC CONSTITUTIONAL RIGHTS</div>
        <div>
          <div>
            <div>
              <p>The highest law of South Africa is the Constitution, and this includes the Bill of Rights. The South
                Africa Constitution gives a full range of rights and protection for all citizens.</p>
            </div>

            <div>
              <p>The Constitution states that South Africa belongs to everyone who lives in it, and that everyone is
                entitled to human dignity, equality and freedom. This means that our rights as women are protected by
                it.</p>
            </div>

            <div>
              <p>Section 9 of the Constitution says:</p>

              <ul>
                <li>Everyone is equal before the law and has the right to equal protection and benefit of the law.</li>
                <li>Equality includes the full and equal enjoyment of all rights and freedoms.</li>
                <li>The Constitution promotes the achievement of equality, legislative and other measures designed to
                  protect or advance people disadvantaged by unfair discrimination may be taken.
                </li>
                <li>The State may not unfairly discriminate against anyone for any reason, including race, gender, sex,
                  pregnancy, marital status, ethnic or social origin, colour, sexual orientation, age, disability,
                  religion, conscience, belief, culture, language and birth.
                </li>
                <li>No person may unfairly discriminate against anyone else.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
  </div>
</div>
