<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 - Know your rights</div>
      </div>
      <div class="section-header">MARRIAGE</div></div>
      <div>
        <div _ngcontent-imd-c13=""><div>
          <div>
            <p>There are three types of marriage in South Africa: civil marriage, customary marriage and civil union.</p>
          </div>
        </div>
        </div>
        <div _ngcontent-imd-c13="" class="subsection-header">Civil marriage </div><div _ngcontent-imd-c13=""><div>
        <div>
          <p>The Marriage Act, No 25 of 1961, governs civil marriages. You have to be at least 18 years old to take part in a civil marriage. If you are younger than 18, you will need your parents’ or legal guardian’s consent or consent of the Commissioner of Child Welfare or a judge. If the minor getting married is under the age of 18 for boys or 15 for girls, the written consent from the Minister of Home Affairs will also be required.</p>
        </div>

        <div>
          <p>There are three types of civil marriage: marriage in community of property; marriage out of community of property; and marriage out of community of property with accrual.</p>
        </div>

        <div>
          <p><strong>Marriage in community of property</strong></p>

          <ul>
            <li>You and your spouse agree not to sign an antenuptial contract (ANC). This means that if the marriage ends in divorce, you will share the assets that you collected during the marriage. In other words, all of your property and all of your spouse’s property are combined as one, which is called a joint estate. You own half of the joint estate and your spouse owns the other half. You can only decide what happens to your half of the joint estate.</li>
            <li>Both parties are equally responsible for any debts incurred before or during the marriage. This means that you could end up paying for whatever debts your spouse accumulates.</li>
          </ul>
        </div>

        <div>
          <p><strong>Marriage out of community of property</strong></p>

          <ul>
            <li>You and your spouse sign an antenuptial contract (ANC) which allows each spouse to keep their assets separate.</li>
            <li>In this type of marriage, you keep full power over the use of your assets, as your estate is made up of all your assets less your debts.</li>
            <li>If your spouse gets into debt, your assets will be protected and creditors won’t be able to take items belonging to you.</li>
          </ul>
        </div>

        <div>
          <p><strong>Marriage out of community of property with accrual</strong></p>

          <ul>
            <li>You and your spouse each keep the assets you had before the marriage.</li>
            <li>If the marriage end in divorce, you will only have to divide what you have collected during the marriage.</li>
            <li>Neither of you is liable for the other’s debts.</li>
          </ul>
        </div>

        <div>
          <div>
            <table cellpadding="1" cellspacing="1">
              <thead>
              <tr>
                <th scope="col">Getting a marriage certificate</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <div>
                    <p>To apply for a marriage certificate, you need the ID books/documents of both partners.</p>
                  </div>

                  <div>
                    <p>If either partner is divorced, you also need the final decree of divorce.</p>
                  </div>

                  <div>
                    <p>If either partner is widowed, you also need the death certificate of the deceased spouse.</p>
                  </div>

                  <div>
                    <p>If you’re a minor, you also need the written consent of your parents or legal guardian or the Commissioner of Child Welfare.</p>
                  </div>

                  <div>
                    <p>For more information and application forms, contact your nearest Department of Home Affairs through the national office.</p>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>

            <p>&nbsp;</p>
          </div>
        </div>
      </div>
      </div><br _ngcontent-imd-c13=""></div><div _ngcontent-imd-c13="" class="ng-star-inserted"><div _ngcontent-imd-c13="" class="subsection-header"> Customary marriage</div><div _ngcontent-imd-c13=""><div>
    <div>
      <p>The Recognition of Customary Marriage Act (RCMA), No 120 of 1998, recognises marriages under African customary law. These marriages are not legally the same as civil marriages under the Marriage Act, No 25 of 1961.</p>
    </div>
  </div>

    <div>
      <p>The RCMA automatically sees all people in customary marriages as married in community of property (see page 193). If you and your partner do not want to be married in community of property, you must sign an ANC before you get married. If you are already married and do not want to be married in community of property, you must apply to the High Court (see page 206) to change your status.</p>
    </div>

    <div>
      <p>Those entering into a customary marriage must comply with certain requirements, including:</p>

      <ul>
        <li>Both people must be 18 or older, otherwise parental consent is required.</li>
        <li>Both people must give consent.</li>
        <li>The marriage must be discussed and celebrated in accordance with customary law</li>
        <li>The marriage must be registered at any office of the Department of Home Affairs.</li>
      </ul>

      <table cellpadding="1" cellspacing="1">
        <thead>
        <tr>
          <th scope="col">What is a customary marriage? The Department of Home Affairs defines a customary marriage as one that is ‘negotiated, celebrated or concluded according to any of the systems of indigenous African customary laws which exist in South Africa’.</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div><br _ngcontent-imd-c13=""></div><div _ngcontent-imd-c13="" class="ng-star-inserted"><div _ngcontent-imd-c13="" class="subsection-header"> Civil union</div><div _ngcontent-imd-c13=""><div>
    <div>
      <p>The Civil Union Act, No 17 of 2006, allows for (among other things) same-sex marriages. These marriages are legally the same as marriages under the Marriage Act. Both people must be 18 or older, and neither may already be married in terms of any other Act.</p>

      <table cellpadding="1" cellspacing="1">
        <thead>
        <tr>
          <th scope="col">Cohabitation is not considered marriage in South Africa</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div>
              <p>South Africa does not yet have a law that recognises cohabitation as ‘marriage’, so if you are living with your partner, you have limited legal protection if your relationship comes to an end.</p>
            </div>

            <div>
              <p>Even if you and your partner have been living together for many years, you still won’t be legally considered a married couple. This applies even if you have children together.</p>
            </div>

            <div>
              <p>The Children’s Act, No 38 of 2005, states that the father of a child, who is not married to the mother, still has a duty and responsibility to care for and contribute towards maintenance of the child.</p>
            </div>

            <div>
              <p>It is vital that you and your partner draw up a written agreement that says how to manage your assets in case you separate or one of you dies.</p>
            </div>

            <div>
              <p>For more information, contact a legal aid clinic or the Department of Home Affairs.</p>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div><br _ngcontent-imd-c13="">
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
