<app-menu></app-menu>
<div class="fullscreen">
  <div style="background-image:url()" class="leftside">
    <div class="titlewrapper">
      <div class="leftnavigation">
        <div>
          <a href="http://motsepefoundation.org/" target="_blank" class="logoblock w-inline-block">
            <img src="assets/img/Motsepe-Foundation.png" alt="" class="logo"/></a>
          <!--<a href="/" class="sitetitle">Ebooks</a>-->
        </div>
      </div>
      <div class="leftnavigation bottom">
        <div class="w-row">
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
          <div class="buttoncol w-col w-col-4 w-col-stack">
            <a href="#" (click)="showMenu()" data-ix="view-chapters" class="allchapters">View Chapters</a>
          </div>
          <div
            class="buttoncol w-hidden-main w-hidden-medium w-hidden-small w-hidden-tiny w-col w-col-4 w-col-stack"></div>
        </div>
      </div>
      <div class="titleblock">
        <img src="assets/img/know_your_rights/South-African-Female-Rights-Court.png">
      </div>
    </div>
    <div class="leftoverlay"></div>
  </div>
  <div class="rightside">
    <div class="rightnavigation center w-clearfix">
      <!--      <a *ngIf="previousChapter" href="#{{previousChapter?.chapterLink}}" class="bottomnav-links w-inline-block w-condition-invisible">-->
      <!--        <div class="previous-next"><img class="previous-arrow" src="assets/img/left_arrow.png">Previous Chapter</div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER - 1}}: {{previousChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
      <!--      <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-center w-inline-block" (click)="closeMenu()">-->
      <!--        <div class="previous-next">Next Chapter<img class="next-arrow" src="assets/img/right_arrow.png"></div>-->
      <!--        <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
      <!--      </a>-->
    </div>
    <div class="maincontent-wrap">
      <div class="chapterpage-head">
        <a class="chapterpage-header" href="#/plbbook">The Precious Little Black Book</a>
        <div class="chapterpage-header chaptertext">Chapter 7 -  KNOW YOUR RIGHTS</div>
      </div>
      <div class="section-header">CONSUMER RIGHTS AND PROTECTION</div></div>
      <div>
        <div _ngcontent-imd-c11=""><div>
          <div>
            <p>The Consumer Protection Act (CPA), No 68 of 2008, protects consumers from poorquality goods and services. It also prohibits unfair practices, sets out the requirements for certain consumer contracts, and provides licencing requirements for regulated businesses.</p>
          </div>

          <div>
            <p>This means that you have the right to demand good service and quality products. The law also protects you against businesses that give misleading or inaccurate information about what they are offering you.</p>
          </div>

          <div>
            <p>If you feel any of your rights under the Consumer Protection Act have been ignored or breached, first raise the matter directly with the customer-care department of the business concerned. If you’re not satisfied with the result, contact the CPA Complaints Handling Unit and/or your Provincial Consumer Affairs office.</p>
          </div>

          <div>
            <hr>
            <p><strong>National Consumer Commission Helpline</strong></p>

            <p><strong><a href="tel:0124287000">012 428 7000</a>&nbsp;or <a href="mailto:complaints@thencc.org.za">complaints@thencc.org.za</a> </strong></p>

            <hr></div>

          <p>&nbsp;</p>

          <div>
            <p><strong>PROVINCIAL CONSUMER AFFAIRS OFFICES</strong></p>

            <hr>
            <div><strong>Eastern Cape</strong></div>

            <div><strong><a href="tel:0860007255">0860 007 255</a></strong>

              <hr></div>

            <div><strong>Free State</strong></div>

            <div><strong><a href="tel:0514004852">051 400 4852</a></strong>

              <hr></div>

            <div><strong>Gauteng</strong></div>

            <div><strong><a href="tel:0113558006">011 355 8006</a></strong></div>

            <div><strong><a href="mailto:consumer@gauteng.gov.za">consumer@gauteng.gov.za</a></strong></div>

            <hr></div>

          <div><strong>KwaZulu-Natal</strong></div>

          <div><strong><a href="tel:0332642537">033 264 2537</a><br>
            <a href="tel:0332642616">033 264 2616</a></strong>

            <hr></div>

          <div><strong>Limpopo</strong></div>

          <div><strong><a href="tel:0152938200">015 293 8200</a></strong>

            <hr></div>

          <div><strong>Mpumalanga</strong></div>

          <div><strong><a href="tel:0137664952">013 766 4952</a></strong>

            <hr></div>

          <div><strong>North West</strong></div>

          <div><strong><a href="tel:0183877700">018 387 7700</a><br>
            <a href="tel:0183877946">018 387 7946</a><br>
            <a href="tel:018 387 7866">018 387 7866</a></strong>

            <hr></div>

          <div><strong>Northern Cape</strong></div>

          <div><strong><a href="tel:0538315562">053 831 5562</a></strong>

            <hr></div>

          <div><strong>Western Cape</strong></div>

          <div><strong><a href="tel:0800007081">0800 007 081</a></strong></div>

          <div><strong><a href="mailto:consumer.protector@westerncape.gov.za">consumer.protector@westerncape.gov.za</a></strong></div>

          <hr></div>

          <div>&nbsp;</div>
        </div>
      </div>
      <div *ngIf="extendedSection?.subsections">
        <div *ngFor="let subsection of extendedSection?.subsections">
          <div class="subsection-header" [innerHTML]="subsection.subsectionTitle"></div>
          <div [innerHTML]="subsection.story"></div>
          <br>
        </div>
      </div>
    </div>

    <!--    <a *ngIf="nextChapter" href="#{{nextChapter?.chapterLink}}" class="bottomnav-links cc-bottom w-inline-block">-->
    <!--      <div class="previous-next">Next Chapter</div>-->
    <!--      <div class="bottomnav-chapter">{{ CURRENT_CHAPTER + 1}}: {{nextChapter?.chapterTitle}}</div>-->
    <!--    </a>-->
    <!--  </div>-->
  </div>
